<!--Section: Team v.4-->
<section class="section pb-3">

    <!-- Section heading -->
    <section class="header-wrapper col-sm-12 row">
        <section class="header-title col-sm-6">
          <mdb-icon class="back-icon" (click)="previousRoute()" fas icon="chevron-circle-left"></mdb-icon>
          <span>Users</span>
        </section>
        <section class="header-action col-sm-6">
            <button class="create-button" (click)="navigateDashboard()">Go To Dashboard</button>
        </section>
    </section>
  <section class="content-wrapper" [style.height.px]="documentHeight">
    <div class="row w-responsive mx-auto mb-5 mt-3">
  
      <!--Grid column-->
      <div class="col-lg-4 col-md-4 mb-lg-0 mb-4 p-1" *ngFor="let user of userList; let i = index">

        <!-- Rotating card -->
        <div class="card-wrapper">
          <div #cards1 class="card card-rotating text-center" [style.transform]="user['rotateValue']">
            <!-- Front Side -->
            <div class="face front">
              <!-- Image -->
              <div class="card-up">
                <img class="card-img-top" *ngIf="user['coverImage'] && user['IsCoverImageVisible']" [src]="'http://pqrdb.geval6.com/api/coverImages/' + user['coverImage']">
                <img class="card-img-top logo-cover-image" *ngIf="!user['coverImage'] && user['IsCoverImageVisible']" src="../../../assets/images/logo-image.png">
                <img *ngIf="!user['IsCoverImageVisible'] && user['id'] !== loggedUserData['id']" title="user restriction applied" src="../../../../assets/images/image-blurred-template.jpg" class="rounded-circle img-fluid">
                <img class="card-img-top" *ngIf="user['coverImage'] && !user['IsCoverImageVisible'] && user['id'] === loggedUserData['id']" [src]="'http://pqrdb.geval6.com/api/coverImages/' + user['coverImage']">
                <img class="card-img-top logo-cover-image" *ngIf="!user['coverImage'] && !user['IsCoverImageVisible'] && user['id'] === loggedUserData['id']" src="../../../assets/images/logo-image.png">
              </div>
              <!-- Avatar -->
              <div class="avatar mx-auto white">
                <img *ngIf="user['profileImage'] && user['IsProfileImageVisible']" [src]="'http://pqrdb.geval6.com/api/profileImages/' + user['profileImage']" class="rounded-circle img-fluid">
                <div class="user-title-image" *ngIf="!user['profileImage'] && user['IsProfileImageVisible']" [title]="user['name']">{{(user['firstName']).charAt(0) | uppercase}}{{(user['lastName']).charAt(0) | uppercase}}</div>
                <img *ngIf="!user['IsProfileImageVisible'] && user['id'] !== loggedUserData['id']" title="user restriction applied" src="../../../../assets/images/image-blurred-template.jpg" class="rounded-circle img-fluid">
                <img *ngIf="user['profileImage'] && !user['IsProfileImageVisible'] && user['id'] === loggedUserData['id']" [src]="'http://pqrdb.geval6.com/api/profileImages/' + user['profileImage']" class="rounded-circle img-fluid">
                <div class="user-title-image" *ngIf="!user['profileImage'] && !user['IsProfileImageVisible'] && user['id'] === loggedUserData['id']" [title]="user['name']">{{(user['firstName']).charAt(0) | uppercase}}{{(user['lastName']).charAt(0) | uppercase}}</div>
              </div>
              <!-- Content -->
              <div class="card-body">
                <h4 class="font-weight-bold mb-2" [title]="user['name']"><span *ngIf="user['name']">{{user['name']}}</span></h4>
                <p class="font-weight-bold dark-grey-text mb-2" *ngIf="user['mobileNumber'] && user['IsMobileNumberVisible']" [title]="user['mobileNumber']"><mdb-icon class="user-icon" fas icon="mobile-alt"></mdb-icon> {{user['mobileNumber']}}</p>
                <p class="font-weight-bold dark-grey-text mb-2" *ngIf="user['mobileNumber'] && !user['IsMobileNumberVisible'] && user['id'] === loggedUserData['id']" [title]="user['mobileNumber']"><mdb-icon class="user-icon" fas icon="mobile-alt"></mdb-icon> {{user['mobileNumber']}}</p>
                <p class="font-weight-bold dark-grey-text mb-2" *ngIf="user['mobileNumber'] && !user['IsMobileNumberVisible'] && user['id'] !== loggedUserData['id']" title="User Restriction Applied"><mdb-icon class="user-icon" fas icon="mobile-alt"></mdb-icon> <img class="blur-image" src="../../../../assets/images/blurimg.gif"></p>
                <p class="font-weight-bold dark-grey-text mb-2" *ngIf="user['email'] && user['IsEmailVisible']" [title]="user['email']"><mdb-icon class="user-icon" fas icon="envelope"></mdb-icon> {{user['email']}}</p>
                <p class="font-weight-bold dark-grey-text mb-2" *ngIf="user['email'] && !user['IsEmailVisible'] && user['id'] === loggedUserData['id']" [title]="user['email']"><mdb-icon class="user-icon" fas icon="envelope"></mdb-icon> {{user['email']}}</p>
                <p class="font-weight-bold dark-grey-text mb-2" *ngIf="user['email'] && !user['IsEmailVisible'] && user['id'] !== loggedUserData['id']" title="User Restriction Applied"><mdb-icon class="user-icon" fas icon="envelope"></mdb-icon> <img class="blur-image" src="../../../../assets/images/blurimg.gif"></p>
                <!-- Triggering button -->
                <a class="rotate-btn grey-text" (click)="rotateCard(i)">
                  <i class="fas fa-redo grey-text"></i> Click here to rotate</a>
              </div>
            </div>
            <!-- Front Side -->
            <!-- Back Side -->
            <div class="face back">
              <!-- Content -->
              <div class="card-body">
                <!-- Content -->
                <h4 class="font-weight-bold mt-2 mb-2">
                  <strong>Statistics</strong>
                </h4>
                <hr class="line-wrapper">
                <app-pie-chart [data]="user['statisticsData']"></app-pie-chart>
                <hr class="line-wrapper">
                <!-- Social Icons -->
                <ul class="list-inline list-unstyled">
                  <li class="list-inline-item">
                    <a class="p-2 fa-lg fb-ic" *ngIf="user['fbLink'] && user['IsFbLinkVisible']" target="_blank" [href]="user['fbLink']">
                      <mdb-icon class="facebook-icon" fab icon="facebook-square"></mdb-icon>
                    </a>
                    <a class="p-2 fa-lg fb-ic disabled-link" title="Not Available" *ngIf="!user['fbLink'] && user['IsFbLinkVisible']" href="javascript:void(0)">
                        <mdb-icon class="facebook-icon" fab icon="facebook-square"></mdb-icon>
                    </a>
                    <a class="p-2 fa-lg fb-ic" title="User Restriction Applied" *ngIf="!user['IsFbLinkVisible']" href="javascript:void(0)">
                      <mdb-icon class="facebook-icon" fab icon="facebook-square"></mdb-icon>
                  </a>
                  </li>
                  <li class="list-inline-item">
                    <a class="p-2 fa-lg pin-ic" *ngIf="user['linkedinLink'] && user['IsLinkedinLinkVisible']" target="_blank" [href]="user['linkedinLink']">
                      <mdb-icon class="linkedin-icon" fab icon="linkedin"></mdb-icon>
                    </a>
                    <a class="p-2 fa-lg pin-ic disabled-link" title="Not Available" *ngIf="!user['linkedinLink'] && user['IsLinkedinLinkVisible']" href="javascript:void(0)">
                        <mdb-icon class="linkedin-icon" fab icon="linkedin"></mdb-icon>
                    </a>
                    <a class="p-2 fa-lg pin-ic" title="User Restriction Applied" *ngIf="!user['IsLinkedinLinkVisible']" href="javascript:void(0)">
                      <mdb-icon class="linkedin-icon" fab icon="linkedin"></mdb-icon>
                  </a>
                  </li>
                  <li class="list-inline-item">
                    <a class="p-2 fa-lg tw-ic" *ngIf="user['twitterLink'] && user['IsTwitterLinkVisible']" target="_blank" [href]="user['twitterLink']">
                      <mdb-icon class="twitter-icon" fab icon="twitter-square"></mdb-icon>
                    </a>
                    <a class="p-2 fa-lg tw-ic disabled-link" title="Not Available" *ngIf="!user['twitterLink'] && user['IsTwitterLinkVisible']" href="javascript:void(0)">
                        <mdb-icon class="twitter-icon" fab icon="twitter-square"></mdb-icon>
                    </a>
                    <a class="p-2 fa-lg tw-ic" title="User Restriction Applied" *ngIf="!user['IsTwitterLinkVisible']" href="javascript:void(0)">
                      <mdb-icon class="twitter-icon" fab icon="twitter-square"></mdb-icon>
                  </a>
                  </li>
                </ul>
                <!-- Triggering button -->
                <a class="rotate-btn grey-text" (click)="rotateCard(i)">
                  <i class="fas fa-redo grey-text"></i> Click here to rotate back</a>
              </div>
            </div>
            <!-- Back Side -->
          </div>
        </div>
        <!-- Rotating card -->

      </div>
      <!--Grid column-->
  
    </div>
  </section>
  
  </section>
  <!--Section: Team v.4-->