<!-- candidate tile wrapper -->
<section class="candidate-tile-container col-sm-3 row" *ngFor="let data of clientDataList; let i = index;" [style.height.px]="data['heightValue']">
    <section class="candidate-tile-wrapper" (click)="navigateCandidateView(data['id'], data)">
        <!-- date section wrapper -->
        <div class="date-section-wrapper" *ngIf="data['updatedOn']" title="MM/DD/YYYY">{{data['updatedOn'] | amLocal | amDateFormat: 'MM/DD/YYYY'}}</div>
        <div class="user-section-wrapper" *ngIf="data['userName'] && data['profileImage']">
            <span class="user-image" [title]="data['userName']"><img [src]="'http://pqrdb.geval6.com/api/profileImages/' + data['profileImage']" alt=""></span>
        </div>
        <div class="user-section-wrapper" *ngIf="data['userName'] && !data['profileImage']">
            <span class="user-image" [title]="data['userName']"><img src="../../../../assets/images/user-detail.png" alt=""></span>
        </div>
        <div class="interview-process-wrapper" *ngIf="data['inprogress']">
            <div class="spinner-grow" role="status"></div>
        </div>
        <section class="candidate-detail-wrapper col-sm-12">
            <div class="candidate-name candidate-detail" *ngIf="data['name']" [title]="data['name']">{{data['name']}}</div>
            <div class="candidate-job-title" *ngIf="data['citiesName']" [title]="data['citiesName']"><span>{{data['citiesName']}}</span></div>
            <div class="candidate-job-title" *ngIf="data['citiesName']" [title]="data['citiesName']"><span>{{data['statesName']}}</span></div>
            <div class="candidate-job-title" *ngIf="data['citiesName']" [title]="data['citiesName']"><span>{{data['countriesName']}}</span></div>
        <section class="action-wrapper col-sm-12">
            <!-- <button class="shortlist-button">shortlist</button> -->
            <!-- <button [ngClass]="{'disabled-button': !data['fileName']}" [disabled]="!data['fileName']" (click)="downloadResume($event, data['fileName']);">Download</button> -->
            <span class="availability-wrapper">
                <!-- <mdb-icon title="unavailable" *ngIf="!data['isAvailable']" class="unavailability-icon" fas icon="times-circle"></mdb-icon>
                <mdb-icon title="available" *ngIf="data['isAvailable']" class="availability-icon" fas icon="check-circle"></mdb-icon> -->
                <mdb-icon title="unavailable" *ngIf="data['isAvailable'] === false || data['isAvailable'] === 0" class="unavailability-icon" fas icon="times"></mdb-icon>
                <mdb-icon title="available" *ngIf="data['isAvailable'] === true || data['isAvailable'] === 1" class="availability-icon" fas icon="check"></mdb-icon>
            </span>
            <!-- <span class="download-icons" *ngIf="data['fileName']" (click)="downloadResume($event, data['fileName']);">
                <mdb-icon title="download" class="normal" fas icon="arrow-down"></mdb-icon>
                <mdb-icon title="download" class="hovered animated headShake infinite" fas icon="arrow-down"></mdb-icon>
            </span> -->
            <!-- <span class="expand-detail-wrapper">
                <mdb-icon title="view more details" class="view-detail-icon" *ngIf="!data['viewDetailFlag']" (click)="toggleViewDetail($event, i, true); viewMoreTab.toggle()" mdbWavesEffect fas icon="angle-down"></mdb-icon>
                <mdb-icon title="hide more details" class="view-detail-icon" *ngIf="data['viewDetailFlag']" (click)="toggleViewDetail($event, i, false); viewMoreTab.toggle()" mdbWavesEffect fas icon="angle-up"></mdb-icon>
            </span> -->
        </section>
        </section>
    </section>
</section>
<!-- no record found wrapper -->
<section class="no-record-wrapper col-sm-12" *ngIf="(clientDataList && clientDataList.length === 0)">
    <span class="no-record-text">No Records Found</span>
</section>