<div class="opacity-wrapper" *ngIf="fieldObject"></div>
<!-- field data pop up -->
<section class="pop-up-wrapper col-sm-4" *ngIf="fieldObject">
  <!-- <section class="image-wrapper">
    <img [src]="'../../../../assets/images/' + fieldObject['imgSrc']" alt="image">
  </section> -->
  <section class="content-wrapper">
    <span class="border-wrapper"></span>
    <section class="skip-wrapper">
      <span class="skip-text-wrapper" (click)="skipAll(fieldObject)">Skip All</span>
      <span class="skip-text-wrapper" (click)="skipCurrent(fieldObject)">Skip</span>
    </section>
    <span class="content-title" *ngIf="fieldObject['selectFlag']">{{fieldObject['title']}}</span>
    <app-filter [ngClass]="{'error-select': fieldObject['errorFlag']}" *ngIf="fieldObject['selectFlag']" [dropdownList]="fieldObject['dropdownData']" [selectedItems]="fieldObject['dropdownSelected']" [dropdownSettings]="fieldObject['dropdownSetting']" (selectedItemEmitter)="handleSelectedItems($event)" (addNewEmitter)="addNewItemHandler($event, fieldObject['key'])"></app-filter>
    <!-- <div class="detail-wrapper" *ngIf="!fieldObject['selectFlag'] && !fieldObject['multiSelect'] && !fieldObject['textareaFlag']">
      <div class="input-wrapper" *ngFor="let detail of fieldObject['detailList']; let i = index">
        <div class="input-title content-title">{{detail['title']}}:</div>
        <input [type]="detail['type']" [ngClass]="{'error': detail['errorFlag']}" [placeholder]="detail['placeholder']" required="detail['requiredFlag']" [(ngModel)]="detail['data']">
        <span class="error" *ngIf="filterObject['errorFlag']">Please fill to proceed</span>
      </div>
    </div> -->
    <!-- <div class="multi-select-wrapper" *ngIf="fieldObject['multiSelect']">
      <div class="wrapper" *ngFor="let filterObject of fieldObject['detailList']">
        <span>{{filterObject['title']}}</span>
        <app-filter [dropdownList]="filterObject['dropdownData']" [selectedItems]="filterObject['dropdownSelected']" [dropdownSettings]="filterObject['dropdownSetting']" [key]="filterObject['key']" (selectedItemEmitter)="handleSelectedItems($event, filterObject['key'])" (addNewEmitter)="addNewItemHandler($event, filterObject['key'])"></app-filter>
        <span class="error" *ngIf="filterObject['errorFlag']">Please select to proceed</span>
      </div>
    </div> -->
    <div class="" *ngIf="fieldObject['inputFlag']">
      <span class="content-title">{{fieldObject['title']}}</span>
      <input [type]="fieldObject['type']" [max]="fieldObject['max']" [ngClass]="{'error': fieldObject['errorFlag']}" [placeholder]="fieldObject['placeholder']" required="fieldObject['requiredFlag']" [(ngModel)]="fieldObject['data']" (keyup)="updateValue($event)">
      <span class="error" *ngIf="fieldObject['errorFlag']">Please fill to proceed</span>
    </div>
    <div class="" *ngIf="fieldObject['textareaFlag']">
      <span class="content-title">{{fieldObject['title']}}</span>
      <textarea class="text-area-field" [ngClass]="{'error': fieldObject['errorFlag']}" [placeholder]="fieldObject['placeholder']" [(ngModel)]="fieldObject['data']"  (keyup)="updateValue($event)">
      </textarea>
      <span class="error" *ngIf="fieldObject['errorFlag']">Please fill to proceed</span>
    </div>
    <div class="skip-text">
      <span class="back-wrapper" (click)="backHandler()" *ngIf="fieldDataOffset !== 0"><mdb-icon class="icon" fas icon="arrow-left"></mdb-icon> Back</span>
      <span class="proceed-wrapper" (click)="proceedNext(fieldObject['key'], false)">{{fieldObject['progressText']}}<mdb-icon class="icon" fas icon="arrow-right"></mdb-icon></span>
    </div>
  </section>
</section>