.pop-up-wrapper {
    position: fixed;
    bottom: 45px;
    right: 0;
    z-index: 20;
}

.pop-up-wrapper .image-wrapper {
    text-align: center;
    position: relative;
}

.pop-up-wrapper .image-wrapper img {
    width: 100px;
    border-radius: 50%;
    position: absolute;
    bottom: -25px;
    left: 38%;
    border: 1px solid;
    background-color: white;
}

.pop-up-wrapper .content-wrapper {
    padding: 5% 5% 3%;
    background-color: #FF6C02;
    border-radius: 10px;
}

.pop-up-wrapper .content-wrapper .content-title {
    font-weight: bold;
    font-size: 22px;
    color: #fff;
}

.proceed-wrapper {
    // float: right;
    margin: 5px;
    text-decoration: underline;
    cursor: pointer;
    color: #fff;
}

.proceed-wrapper:hover {
    color: green;
}

.skip-text {
    margin: 5px;
    text-align: right;
    text-decoration: underline;
    cursor: pointer;
}

.proceed-wrapper .icon, .skip-text .icon {
    margin-left: 5px;
}

.skip-text-wrapper {
    text-decoration: underline;
    cursor: pointer;
    color: #fff;
    padding: 0 8px;
    font-weight: bold;
}

.back-wrapper {
    float: left;
    text-decoration: underline;
}

.skip-text-wrapper:hover {
    color: darkred;
}

.input-wrapper {
    padding: 10px 0;
}

.input-wrapper input {
    margin-left: 10px;
    padding: 5px;
    border-radius: 5px;
    outline: none;
    border: 1px solid lightgray;
    color: #000;
}

.input-title {
    display: inline-block;
    min-width: 115px;
}

.error {
    color: red !important;
    border: 1px solid red !important;
}

.error::placeholder {
    color: red !important;
}

.opacity-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: gray;
    opacity: 0.5;
    z-index: 12;
}

textarea {
    width: 100%;
    outline: none;
    min-height: 100px;
    border-radius: 5px;
    padding: 5px 10px;
    border: 1px solid;
}

input {
    width: 100%;
    outline: none;
    padding: 5px 10px;
    border: 1px solid;
    border-radius: 5px;
}

.skip-wrapper {
    text-align: right;
    padding: 5px 5px 8px;
}