<!--Section: Team v.4-->
<section class="section pb-3" *ngIf="userList && userList.length !== 0">

    <!-- Section heading -->
    <!-- <h2 class="h1-responsive font-weight-bold text-center my-5">Team</h2> -->
    <!-- Section description -->
    <!-- <p class="grey-text text-center w-responsive mx-auto mb-5">Lorem ipsum dolor sit amet, consectetur
      adipisicing elit. Fugit, error amet numquam iure provident voluptate esse quasi, veritatis totam voluptas
      nostrum quisquam eum porro a pariatur veniam.</p> -->
  
      <div class="row w-responsive mx-auto mt-3 user-wrapper">
  
        <!--Grid column-->
        <div class="col-lg-3 col-md-3 mx-auto mb-lg-0 mb-4 p-1" *ngFor="let user of userList; let i = index">
  
          <!-- Rotating card -->
          <div class="card-wrapper">
            <div #cards1 class="card card-rotating text-center">
              <!-- Front Side -->
              <div class="face front">
                <!-- Avatar -->
                <div class="avatar mx-auto white">
                  <img *ngIf="user['profileImage'] && user['IsProfileImageVisible']" [src]="'http://pqrdb.geval6.com/api/profileImages/' + user['profileImage']" class="rounded-circle img-fluid">
                  <div class="user-title-image" *ngIf="!user['profileImage'] && user['IsProfileImageVisible']" [title]="user['name']">{{(user['firstName']).charAt(0) | uppercase}}{{(user['lastName']).charAt(0) | uppercase}}</div>
                  <img *ngIf="!user['IsProfileImageVisible'] && user['id'] !== loggedUser['id']" title="user restriction applied" src="../../../../assets/images/image-blurred-template.jpg" class="rounded-circle img-fluid">
                  <img *ngIf="user['profileImage'] && !user['IsProfileImageVisible'] && user['id'] === loggedUser['id']" [src]="'http://pqrdb.geval6.com/api/profileImages/' + user['profileImage']" class="rounded-circle img-fluid">
                  <div class="user-title-image" *ngIf="!user['profileImage'] && !user['IsProfileImageVisible'] && user['id'] === loggedUser['id']" [title]="user['name']">{{(user['firstName']).charAt(0) | uppercase}}{{(user['lastName']).charAt(0) | uppercase}}</div>
                </div>
                <!-- Content -->
                <div class="card-body">
                  <h4 class="font-weight-bold mb-2"><span *ngIf="user['name']" [title]="user['name']">{{user['name']}}</span></h4>
                  <p class="font-weight-bold dark-grey-text mb-2" *ngIf="user['mobileNumber'] && user['IsMobileNumberVisible']" [title]="user['mobileNumber']"><mdb-icon class="user-icon" fas icon="mobile-alt"></mdb-icon> {{user['mobileNumber']}}</p>
                  <p class="font-weight-bold dark-grey-text mb-2" *ngIf="user['mobileNumber'] && !user['IsMobileNumberVisible'] && user['id'] === loggedUser['id']" [title]="user['mobileNumber']"><mdb-icon class="user-icon" fas icon="mobile-alt"></mdb-icon> {{user['mobileNumber']}}</p>
                  <p class="font-weight-bold dark-grey-text mb-2" title="User Restriction Applied" *ngIf="user['mobileNumber'] && !user['IsMobileNumberVisible'] && user['id'] !== loggedUser['id']"><mdb-icon class="user-icon" fas icon="mobile-alt"></mdb-icon> <img class="blur-image" src="../../../../assets/images/blurimg.gif"></p>
                  <p class="font-weight-bold dark-grey-text mb-2" *ngIf="user['email'] && user['IsEmailVisible']" [title]="user['email']"><mdb-icon class="user-icon" fas icon="envelope"></mdb-icon> {{user['email']}}</p>
                  <p class="font-weight-bold dark-grey-text mb-2" *ngIf="user['email'] && !user['IsEmailVisible'] && user['id'] === loggedUser['id']" [title]="user['email']"><mdb-icon class="user-icon" fas icon="envelope"></mdb-icon> {{user['email']}}</p>
                  <p class="font-weight-bold dark-grey-text mb-2" title="User Restriction Applied" *ngIf="user['email'] && !user['IsEmailVisible'] && user['id'] !== loggedUser['id']"><mdb-icon class="user-icon" fas icon="envelope"></mdb-icon> <img class="blur-image" src="../../../../assets/images/blurimg.gif"></p>
                </div>
                <!-- hover wrapper -->
                <div class="card-body-hover-wrapper" *ngIf="user['statisticsData'] && user['statisticsData'].length !== 0">
                  <!-- pending & sucess stats -->
                  <div class="result-wrapper">Sucessful Uploads: {{user['statisticsData'][0]}}</div>
                  <div class="result-wrapper">Pending Uploads: {{user['statisticsData'][1]}}</div>
                </div>
              </div>
              <!-- Front Side -->
            </div>
          </div>
          <!-- Rotating card -->
  
        </div>
        <!--Grid column-->
    
      </div>

    <!-- navigation link section -->
    <section class="navigation-footer" *ngIf="userList && userList.length !== 0">
      <span class="see-more-wrapper" (click)="navigateUserList()">See all users</span>
    </section>
  
  </section>
  <!--Section: Team v.4-->
  <!-- no result wrapper -->
  <div class="row" *ngIf="!userList || (userList && userList.length === 0)">
    <div class="col-sm-12 no-record-wrapper">
      <span>No Result Found</span>
    </div>
  </div>