.card-wrapper {
    position: relative;
    width: 100%;
    margin: 0;
    -webkit-perspective: 800px;
    perspective: 800px;
    height: 166px;
}

.user-wrapper {
    margin-top: 50px !important;
}

.card {
    font-weight: 400;
    border: 0;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
}

.card-wrapper .card-rotating {
    height: 100%;
    -webkit-transition: .5s;
    transition: .5s;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.card-wrapper .card-rotating .face {
    position: absolute;
    z-index: 2;
    width: 100%;
    background: #fff;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card-wrapper .card-rotating .front {
    z-index: 1;
    -webkit-transition: 1s;
    transition: 1s;
}

.card-wrapper .card-up {
    height: 150px;
    overflow: hidden;
}

.card-wrapper .card-up img {
    vertical-align: middle;
    height: 100%;
}

.card-img, .card-img-top {
    border-top-left-radius: calc(0.25rem - 1px);
    border-top-right-radius: calc(0.25rem - 1px);
}

.card-img, .card-img-top, .card-img-bottom {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    width: 100%;
}

.card-wrapper .avatar {
    display: block;
    width: 100px;
    margin-top: -45px;
    overflow: hidden;
    z-index: 3;
}

.white, .picker__list-item, .picker__box .picker__header .picker__select--month.browser-default, .picker__box .picker__header .picker__select--year.browser-default {
    background-color: #fff !important;
}

.card-wrapper .avatar img {
    width: 100%;
    height: 85px;
    background: none repeat scroll 0 0 #fff;
    border: 5px solid #fff;
}

.card-body {
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 0 !important;
    min-height: 1px;
    font-size: 18px;
}

.card-body h4, .card-body p {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.card-wrapper .card-rotating .back {
    -webkit-transition: 1s;
    transition: 1s;
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
}

.navigation-footer {
    text-align: right;
    padding: 5px;
    font-size: 18px;
}

.navigation-footer .see-more-wrapper {
    color: blue;
    text-decoration: underline;
    cursor: pointer;
}

.facebook-icon {
    color: #45619D;
}

.linkedin-icon {
    color: #0077B7;
}

.twitter-icon {
    color: #2DAAE1;
}

.disabled-link {
    pointer-events: none;
    opacity: 0.5;
}

.user-icon {
    margin-right: 5px;
}

.no-record-wrapper {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 50px 0;
}

.line-wrapper {
    margin: 5px 0;
}

.card-body-hover-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin-top: 50px;
    padding-top: 15px;
    background-color: #31525B;
    z-index: 2;
    display: none;
}

.card-body-hover-wrapper .result-wrapper {
    color: #fff;
    font-size: 22px;
}

.card .face:hover .card-body-hover-wrapper {
    display: block;
}

.blur-image {
    padding-bottom: 5px;
}

.user-title-image {
    width: 85px;
    height: 82px;
    display: inline-block;
    border-radius: 50%;
    background-color: #31525B;
    text-align: center;
    padding: 24px;
    font-size: 22px;
    color: #fff;
    font-weight: bold;
}
