
<section class="user-report-wrapper row">
    <!-- header section -->
    <!-- Section heading -->
    <section class="header-wrapper col-sm-12 row">
        <section class="header-title col-sm-6">
          <mdb-icon class="back-icon" (click)="previousRoute()" fas icon="chevron-circle-left"></mdb-icon>
          <span>Client Dashboard</span>
        </section>
        <section class="header-action col-sm-6">
            <!-- dashboard icon -->
            <span class="dashboard-icon" title="Go To Dashboard"><mdb-icon fas icon="home" (click)="navigateDashboard()"></mdb-icon></span>
            <button class="create-button" (click)="navigateCreateClient()">Add Client</button>
            <!-- <mdb-icon class="icon" title="Create Candidate" fas icon="plus" (click)="navigateCreateCandidate()"></mdb-icon> -->
        </section>
    </section>
    <!-- side menu options-->
    <!-- <section class="col-sm-3 option-list-wrapper">
        <div class="option-list-header">Users</div>
        <div class="option-wrapper" [style.height.px]="documentHeight">
            <div class="option-tile" *ngFor="let detail of detailConfig" [title]="detail['title']" (click)="getSelectedOptionData(detail['id'])" [style.backgroundColor]="detail['bgColor']">{{detail['title']}}</div>
        </div>
    </section> -->
    <!-- main content section -->
    <section class="col-sm-12 row data-wrapper">
        <!-- coming soon wrapper -->
        <!-- <section class="coming-soon-wrapper">
            Coming Soon ...
        </section> -->
        <section class="col-sm-12 col-md-2 filter-wrapper" [style.height.px]="documentHeight">
            <app-filter-section class="row" [filterData]="filterDataSetConfig" (filterEmitter)="filterInputHandler($event)"></app-filter-section>
        </section>
        <section class="col-sm-12 col-md-10 requirement-list-wrapper" [style.height.px]="documentHeight">
            <app-client-tile class="row" [clientList]="clientRecord" (navigationEmitter)="handleNavigationEvent($event)"></app-client-tile>
        </section>
    </section>
</section>