<!-- header section starts -->
<section class="header-container row">
    <!-- logo section starts -->
    <section class="logo-container col-xs-3 col-sm-2 col-lg-3">
        <a href="javascript:void(0)" (click)="navigateToHome($event)">
            <img class="logo-image animated rotateIn infinite" src="../../../../assets/images/logo-image.png" alt="logo-image">
            <div class="logo-text">Geval<div class="logo-text-offset animated tada infinite">6</div></div>
        </a>
    </section>
    <!-- title wrapper -->
    <section class="title-wrapper col-xs-6 col-sm-8 col-lg-6">
        <span class="title-text">
            <div class="main-text header-1 animated zoomIn infinite">P</div><div class="sub-text header-1" *ngIf="subTextFlag">re</div>
            <div class="main-text header-2 animated zoomIn infinite">Q</div><div class="sub-text header-2" *ngIf="subTextFlag">ualified</div>
            <div class="main-text header-3 animated zoomIn infinite">R</div><div class="sub-text header-3" *ngIf="subTextFlag">esource</div>
            <div class="main-text header-4 animated zoomIn infinite">D</div><div class="sub-text header-4" *ngIf="subTextFlag">ata</div>
            <div class="main-text header-5 animated zoomIn infinite">B</div><div class="sub-text header-5" *ngIf="subTextFlag">ase</div>
        </span>
    </section>
    <!-- action button section -->
    <section class="action-button-wrapper col-xs-3 col-sm-2 col-lg-3">
        <!-- <div class="candidate btn-wrapper">New Candidate</div>
        <div class="user-settings btn-wrapper">Settings</div> -->
        <div class="user-wrapper" (click)="enableSubMenu();" *ngIf="dataService?.loggedUser">
            <span class="user-detail-wrapper">
                <span><i class="fas fa-caret-down"></i></span>
                <span class="d-sm-none d-lg-inline-block">{{dataService?.loggedUser['name']}}</span>
                <img *ngIf="dataService.loggedUser && dataService.loggedUser['profileImage']" [title]="dataService?.loggedUser['name']" [src]="'http://pqrdb.geval6.com/api/profileImages/' + dataService?.loggedUser['profileImage']">
                <div class="user-title-image" *ngIf="!dataService.loggedUser['profileImage'] && dataService?.loggedUser['name']" [title]="dataService?.loggedUser['name']">{{(dataService.loggedUser['firstName']).charAt(0) | uppercase}}{{(dataService.loggedUser['lastName']).charAt(0) | uppercase}}</div>
            </span>
            <!-- user options menu -->
            <div class="user-option-menu-wrapper" *ngIf="subMenuFlag">
                <div class="arrow-icon"></div>
                <div class="menu-options" (click)="navigatePage($event, 'profile');">Profile</div>
                <div class="menu-options" (click)="navigatePage($event, 'settings');">Settings</div>
                <div class="menu-options" (click)="logoutUser($event);">Logout</div>
            </div>
        </div>
    </section>
</section>

<!-- user detail pop over template -->
<!-- <ng-template #popTemplate>
    <!- user options menu ->
    <div class="user-option-menu-wrapper">
        <div class="menu-options" (click)="navigatePage('profile');pop.hide()">Profile</div>
        <div class="menu-options" (click)="navigatePage('settings');">Settings</div>
        <div class="menu-options" (click)="logoutUser()">Logout</div>
    </div>
</ng-template> -->
