.logo-text {
    color: var(--white);
    font-size: 22px;
    font-weight: 500;
    font-family: Verdana, Geneva, sans-serif
}

.logo-image {
    width: 35px;
    margin-left: 15px;
}

.logo-text .logo-text-offset {
    color: #FF6C02;
    margin-left: 2px;
    display: inline-block;
}

.action-button-wrapper {
    text-align: right;
    padding: 8px 0;
}

.user-wrapper span {
    color: #fff;
    font-weight: bold;
    margin: 10px;
    font-size: 22px;
}

.user-wrapper img {
    width: 50px;
    height: 50px;
}

.user-wrapper {
    position: relative;
}

.btn-wrapper {
    background-color: #FCB34E;
    cursor: pointer;
    color: #fff;
    margin: 0 10px;
    font-size: 14px;
    border-radius: 5px;
    min-width: 120px;
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    /* font-size: 1rem; */
    line-height: 1.5;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-wrapper:hover {
    background-color: #fc766A;
    color: #fff;
}

.user-wrapper .user-detail-wrapper {
    cursor: pointer;
}

.user-wrapper .user-detail-wrapper:hover .user-option-menu-wrapper {
    display: block;
}

.user-option-menu-wrapper {
    z-index: 99999;
    text-align: left;
    border-radius: 5px;
    border: 1px solid #fff;
    width: 200px;
    background-color: #31525B;
    color: #fff;
    font-size: 18px;
    position: absolute;
    right: 0;
    top: 120%;
}

.user-option-menu-wrapper .menu-options {
    padding: 10px 15px;
    cursor: pointer;
    border-bottom: 1px solid #fff;
}

.user-option-menu-wrapper .menu-options:hover {
    background-color: #A1D066;
}

.title-wrapper {
    text-align: center;
    color: #fff;
    padding: 10px 0;
}

.title-wrapper .main-text {
    font-weight: bold;
    font-size: 36px;
    display: inline-block;
    animation-duration: 3s;
    font-family: serif;
    font-style: oblique;
}

.title-wrapper .main-text.header-1, .sub-text.header-1 {
    /* color: #FF6C02; */
    /* color: #E32227; */
    color: #fff;
}

.title-wrapper .main-text.header-2, .sub-text.header-2 {
    /* color: #E32227; */
    color: #fff;
}

.title-wrapper .main-text.header-3, .sub-text.header-3 {
    /* color: #32CD32; */
    /* color: #E32227; */
    color: #fff;
}

.title-wrapper .main-text.header-4, .sub-text.header-4 {
    /* color: #FF5349; */
    /* color: #E32227; */
    color: #fff;
}

.title-wrapper .main-text.header-5, .sub-text.header-5 {
    /* color: #203864; */
    /* color: #E32227; */
    color: #fff;
}

.title-wrapper .sub-text {
    font-size: 26px;
    margin-right: 5px;
    display: inline-block;
    animation-duration: 3s;
    font-family: serif;
    font-style: oblique;
}

/* .user-option-menu-wrapper .menu-options:hover {
    background-color: lightgray;
    font-weight: bold;
} */

.user-option-menu-wrapper .arrow-icon {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    content: '';
    border-width: 11px;
    border-top-width: 0;
    left: 50%;
    border-bottom-color: #31525B;
    margin-left: -11px;
    top: -11px;
}

.user-title-image {
    width: 70px;
    height: 50px;
    display: inline-block;
    border-radius: 50%;
    background-color: #31525B;
    text-align: center;
    padding: 8px;
}