.dashboard-wrapper {
    font-size: 20px;
}

.header-wrapper {
    padding: 10px;
    background-color: #FF6C02;
    font-size: 22px;
    font-weight: 500;
    color: #fff;
}

.header-wrapper .header-title span {
    font-size: 28px;
    font-weight: bold;
}

.header-action {
    text-align: right;
    margin-top: 2px;
}

.search-wrapper {
    margin-top: 2px;
}

.header-action .icon {
    cursor: pointer;
    margin: 0 10px;
}

.filter-wrapper {
    border-right: 1px solid lightgray;
    padding: 0;
}

button.create-button, button.search-button {
    color: #fff;
    background-color: #A1D066;
    cursor: pointer;
    outline: none;
    margin: 0 10px;
    border-radius: 5px;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    font-size: 18px;
    padding: 5px 10px;
    line-height: 1.5;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

button.create-button:hover, button.search-button:hover {
    color: #fff;
    background-color: #31525B;
}

.search-wrapper .search-input {
    outline: none;
    border: 1px solid lightgray;
    border-radius: 5px;
    width: 60%;
    margin: 0 2%;
    padding: 6px 30px;
    padding-left: 35px;
    padding-right: 5px;
    font-size: 16px;
    vertical-align: top;
    color: #31525B;
}

.search-wrapper .search-button {

}

.search-wrapper .search-icon {
    position: absolute;
    top: 7px;
    left: 35px;
    color: #31525B;
}

.submittal-list-wrapper, .filter-wrapper {
    overflow-y: scroll;
}


.dashboard-icon:hover {
    color: #31525B;
}

.data-wrapper {
    padding: 0;
    font-size: 20px;
    font-weight: 400;
}

.coming-soon-wrapper {
    text-align: center;
    font-size: 30px;
    padding: 10%;
}
