
<section class="user-report-wrapper row">
    <!-- header section -->
    <!-- Section heading -->
    <section class="header-wrapper col-sm-12 row">
        <section class="header-title col-sm-6">
          <mdb-icon class="back-icon" (click)="previousRoute()" fas icon="chevron-circle-left"></mdb-icon>
          <span>Submittal Dashboard</span>
        </section>
        <section class="header-action col-sm-6">
            <button class="create-button" (click)="navigateDashboard()">Go To Dashboard</button>
        </section>
    </section>
    <!-- side menu options-->
    <!-- <section class="col-sm-3 option-list-wrapper">
        <div class="option-list-header">Users</div>
        <div class="option-wrapper" [style.height.px]="documentHeight">
            <div class="option-tile" *ngFor="let detail of detailConfig" [title]="detail['title']" (click)="getSelectedOptionData(detail['id'])" [style.backgroundColor]="detail['bgColor']">{{detail['title']}}</div>
        </div>
    </section> -->
    <!-- main content section -->
    <section class="col-sm-12 row data-wrapper">
        <!-- coming soon wrapper -->
        <!-- <section class="coming-soon-wrapper">
            Coming Soon ...
        </section> -->
        <section class="col-sm-12 col-md-2 filter-wrapper" [style.height.px]="documentHeight">
            <app-filter-section class="row" [filterData]="filterDataSet" (filterEmitter)="filterInputHandler($event)"></app-filter-section>
        </section>
        <section class="col-sm-12 col-md-10 submittal-list-wrapper" [style.height.px]="documentHeight">
            <app-submittal-tile class="row" [submittalList]="submittalRecord" (interviewEmitter)="handleInterviewSchedule($event)" (cancelEmitter)="handleCancel($event)" (viewDetailEmitter)="handleViewDetail($event)"></app-submittal-tile>
        </section>
    </section>
</section>

<!-- communication modal -->
<app-candidate-detail-modal [newCandidateFlag]="createFlag" [candidateInfo]="submittionDetails" [EditOptionFlag]="communicationPopupFlag" [displayFlag]="interviewModalDisplayFlag" [editableFlag]="communicationPopupFlag" [interviewMode]="interviewFlag" [submittalMode]="submittalFlag" (saveEmitter)="candidateDetailSave($event)" (cancelEmitter)="candidateDetailCancel()" (proceedEmitter)="candidateDetailProceed()"></app-candidate-detail-modal>

<!-- modal component -->
<app-submit-cancel-modal [displayFlag]="cancelPopUpDisplayFlag" (closeEmitter)="handleCancelPopUpClose()"></app-submit-cancel-modal>