.table-wrapper {
    margin: 25px 10px;
}

.table-title {
    font-size: 24px;
    font-weight: bold;
    margin: 10px 0;
}

.table-header {
    border: 1px solid gray;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.table-content {
    border: 1px solid gray;
    border-top: none;
}

.table-content:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.header, .content-column {
    width: 10%;
    padding: 10px;
    display: inline-block;
    border-right: 1px solid gray;
    text-align: center;
}

.header {
    font-weight: bold;
}

.header:last-child, .content-column:last-child {
    border-right: none;
    // width: 5% !important;
}

.link {
    cursor: pointer;
    color: blue;
}

.no-record-wrapper {
    padding: 10px;
    text-align: center;
}

.no-record-wrapper .no-record-text {
    font-size: 24px;
    font-weight: bold;
}

.action-icon {
    cursor: pointer;
    position: relative;
}

.dropdown-wrapper {
    position: absolute;
    background-color: lightgray;
    top: 90%;
    right: -150%;
    border-radius: 5px;
    z-index: 5;
    border: 1px solid;
}

.dropdown-wrapper .dropdown-item {
    border-bottom: 1px solid;
}

.dropdown-wrapper .dropdown-item:last-child {
    border: none;
}
