<!-- wrapper -->
<section class="table-wrapper">
    <div class="table-title" *ngIf="tableTitle">{{tableTitle}}:</div>
    <div class="table-header">
        <span class="header" [style.width.%]="5">S.No</span>
        <span class="header" [style.width.%]="widthOffset" *ngFor="let headerField of tableFieldList">{{headerField['title']}}</span>
    </div>
    <div class="table-content" *ngFor="let valueObject of tableValueList; let offset = index">
        <span class="content-column" [style.width.%]="5">{{offset + 1}}</span>
        <span class="content-column" [style.width.%]="widthOffset" *ngFor="let field of tableFieldList;">
            <!-- single key types -->
            <span *ngIf="!field['dateFlag'] && !field['linkFlag'] && !field['multipleKeyFlag'] && !field['actionFlag']">{{valueObject[field['key']]}}</span>
            <span class="link" *ngIf="!field['dateFlag'] && field['linkFlag'] && !field['multipleKeyFlag'] && !field['actionFlag']" (click)="linkClicked(valueObject, field)">{{valueObject[field['key']]}}</span>
            <span *ngIf="field['dateFlag'] && !field['linkFlag'] && !field['multipleKeyFlag'] && !field['actionFlag']">{{valueObject[field['key']]  | amCalendar}}</span>
            <!-- multi key types -->
            <span *ngIf="!field['dateFlag'] && !field['linkFlag'] && field['multipleKeyFlag'] && !field['actionFlag']">
                <span *ngFor="let keyValue of field['keyList']; let i=index">{{valueObject[keyValue]}}<span *ngIf="i !== field['keyList'].length-1">, </span></span>
            </span>
            <span class="link" *ngIf="!field['dateFlag'] && field['linkFlag'] && field['multipleKeyFlag'] && !field['actionFlag']"  (click)="linkClicked(valueObject, field)">
                <span *ngFor="let keyValue of field['keyList']; let i=index">{{valueObject[keyValue]}}<span *ngIf="i !== field['keyList'].length-1">, </span></span>
            </span>
            <span *ngIf="field['dateFlag'] && !field['linkFlag'] && field['multipleKeyFlag'] && !field['actionFlag']">
                <span *ngFor="let keyValue of field['keyList']; let i=index">{{valueObject[keyValue]  | amCalendar}}<span *ngIf="i !== field['keyList'].length-1">, </span></span>
            </span>
            <span class="action-icon" *ngIf="field['actionFlag']" (click)="actionClicked(offset, valueObject)">
                <mdb-icon fas icon="ellipsis-h"></mdb-icon>
                <span class="dropdown-wrapper" *ngIf="valueObject['actionDropdownFlag']">
                    <span class="dropdown-item" *ngFor="let menuItem of field['actionList']" (click)="subMenuClicked(menuItem['key'], valueObject)">{{menuItem['title']}}</span>
                    <!-- <span class="dropdown-item"></span> -->
                </span>
            </span>
        </span>
    </div>
    <!-- no record found wrapper -->
    <div class="table-content no-record-wrapper" *ngIf="tableValueList && tableValueList.length === 0">
        <span class="no-record-text">No Records Found...</span>
    </div>
</section>