<!-- personal detail section -->
<section class="row personal-detail-wrapper">
    <!-- Section heading -->
    <section class="header-wrapper col-sm-12 row">
        <section class="header-title col-sm-12">
          <mdb-icon class="back-icon" (click)="previousRoute();" fas icon="chevron-circle-left"></mdb-icon>
          <span>User Details</span>
        </section>
        <!-- <section class="header-action col-sm-6">
                <button class="btn" (click)="approveUser();">Approve</button>
                <button class="btn" (click)="rejectUser();">Reject</button>           
        </section> -->
    </section>
    <!-- content wrapper -->
    <section class="content-wrapper"  [style.height.px]="documentHeight">
    <!-- cover image wrapper -->
    <section class="cover-image-wrapper col-sm-12">
        <img class="user-cover-image" *ngIf="selectedUserData && selectedUserData['coverImage']" [src]="'http://pqrdb.geval6.com/api/coverImages/' + selectedUserData['coverImage']" alt="cover-image">
        <div class="user-cover-image-alt"  *ngIf="!selectedUserData || !selectedUserData['coverImage']">
            <mdb-icon class="user-cover-icon" fas icon="image"></mdb-icon>
        </div>
        <!-- <span class="cover-image-edit">
            <input type="file" *ngIf="coverImagePickerFlag" class="animated slideInLeft cover-image-picker" (change)="documentSelected($event.target.files, 'cover')">
            <input type="file" *ngIf="!coverImagePickerFlag" class="animated zoomOut cover-image-picker">
            <mdb-icon class="user-cover-edit-icon" fas icon="pen-square" title="click to open image picker" (click)="openFilePicker('cover')"></mdb-icon>
        </span> -->
        <img class="user-profile-image" *ngIf="selectedUserData && selectedUserData['profileImage']" [src]="'http://pqrdb.geval6.com/api/profileImages/' + selectedUserData['profileImage']" alt="profile-image">
        <span class="user-profile-image" *ngIf="!selectedUserData || !selectedUserData['profileImage']">
            <mdb-icon class="user-profile-icon" fas icon="image"></mdb-icon>
        </span>
        <!-- <span class="profile-image-edit">
            <input type="file" *ngIf="profileImagePickerFlag" class="animated slideInRight profile-image-picker"  (change)="documentSelected($event.target.files, 'profile')">
            <input type="file" *ngIf="!profileImagePickerFlag" class="animated zoomOut profile-image-picker">
            <mdb-icon class="user-profile-edit-icon" fas icon="pen-square" title="click to open image picker" (click)="openFilePicker('profile')"></mdb-icon>
        </span> -->
    </section>
    <!-- header section -->
    <section class="header-title col-sm-12">Personal Details</section>
    <form class="detail-form col-sm-12 row" id="register-form" method="post" role="form">
        <div class="form-group row col-sm-6">
            <label class="label-text col-sm-4">FirstName: </label>
            <label class="label-value col-sm-8" *ngIf="selectedUserData && selectedUserData['firstName']">{{selectedUserData['firstName']}}</label>
        </div>
        <div class="form-group row col-sm-6">
            <label class="label-text col-sm-4">LastName: </label>
            <label class="label-value col-sm-8" *ngIf="selectedUserData && selectedUserData['lastName']">{{selectedUserData['lastName']}}</label>
        </div>
        <div class="form-group row col-sm-6">
            <label class="label-text col-sm-4">UserName: </label>
            <label class="label-value col-sm-8" *ngIf="selectedUserData && selectedUserData['userName']">{{selectedUserData['userName']}}</label>
        </div>
        <div class="form-group row col-sm-6">
            <label class="label-text col-sm-4">Designation: </label>
            <label class="label-value col-sm-8" *ngIf="selectedUserData && selectedUserData['designation']">{{selectedUserData['designation']}}</label>
        </div>
        <div class="form-group row col-sm-6">
            <label class="label-text col-sm-4">Mobile Number: </label>
            <label class="label-value col-sm-8" *ngIf="selectedUserData && selectedUserData['mobileNumber']">{{selectedUserData['mobileNumber']}}</label>
        </div>
        <div class="form-group row col-sm-6">
            <label class="label-text col-sm-4">Email: </label>
            <label class="label-value col-sm-8" *ngIf="selectedUserData && selectedUserData['email']">{{selectedUserData['email']}}</label>
        </div>
        <div class="form-group row col-sm-6">
            <label class="label-text col-sm-4">Facebook Link: </label>
            <label class="label-value col-sm-8" *ngIf="selectedUserData && selectedUserData['fbLink']">{{selectedUserData['fbLink']}}</label>
        </div>
        <div class="form-group row col-sm-6">
            <label class="label-text col-sm-4">Twitter Link: </label>
            <label class="label-value col-sm-8" *ngIf="selectedUserData && selectedUserData['twitterLink']">{{selectedUserData['twitterLink']}}</label>
        </div>
        <div class="form-group row col-sm-6">
            <label class="label-text col-sm-4">LinkedIn Link: </label>
            <label class="label-value col-sm-8" *ngIf="selectedUserData && selectedUserData['linkedinLink']">{{selectedUserData['linkedinLink']}}</label>
        </div>
        <!-- <div class="form-group row col-sm-12">
          <div class="action-wrapper col-sm-12">
            <button class="btn" (click)="approveUser();">Approve</button>
            <button class="btn" (click)="rejectUser();">Reject</button>
            <button class="btn" (click)="cancel();">Cancel</button>
          </div>
        </div> -->
      </form>
    </section>
</section>