/* header styling */
.header-wrapper {
    padding: 10px;
    background-color: #FF6C02;
    font-size: 22px;
    font-weight: 500;
}

.header-wrapper .header-title span {
    font-size: 28px;
    font-weight: bold;
    color: #fff;
}

.header-action {
    text-align: right;
    padding: 17px 0;
}

button.create-button, button.search-button {
    color: #fff;
    background-color: #A1D066;
    cursor: pointer;
    outline: none;
    margin: 0 10px;
    font-size: 15px;
    border-radius: 5px;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    font-size: 18px;
    padding: 5px 10px;
    line-height: 1.5;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

button.create-button:hover, button.search-button:hover {
    color: #fff;
    background-color: #31525B;
}

.wrapper {
    padding: 0;
}

.cover-image-wrapper {
    position: relative;
}

.user-cover-image, .user-cover-image-alt {
    width: 100%;
    height: 365px;
}

.user-cover-image-alt {
    border: 1px solid #31525B;
    border-radius: 5px;
    margin: 10px 0;
    text-align: center;
    padding: 15%;
}

.user-cover-icon {
    font-size: 55px;
}

.user-profile-icon {
    margin: 20% 35%;
    font-size: 24px;
    color: #5A8100;
}

.user-profile-edit-icon:hover, .user-cover-edit-icon:hover  {
    color: #31525B;
    cursor: pointer;
}

.user-profile-edit-icon {
    color: #5A8100;
    position: absolute;
    bottom: 55px;
    left: 115px;
    font-size: 22px;
    background-color: #fff;
    border: 5px solid #fff;
    border-radius: 5px;
}

.user-cover-edit-icon {
    color: #5A8100;
    position: absolute;
    bottom: 50px;
    right: 15px;
    font-size: 36px;
    background-color: #fff;
    border: 5px solid #fff;
    border-radius: 5px;
}

.cover-image-picker {
    color: #5A8100;
    position: absolute;
    bottom: 50px;
    right: 62px;
    background-color: #fff;
    border: 5px solid #fff;
    border-radius: 5px;
}

.profile-image-picker {
    color: #5A8100;
    position: absolute;
    bottom: 55px;
    left: 150px;    
    background-color: #fff;
    border: 5px solid #fff;
    border-radius: 5px;
}

.user-profile-image {
    width: 120px;
    height: 110px;
    border-radius: 50%;
    position: absolute;
    left: 25px;
    bottom: 55px;
    border: 5px solid #FF6C02;
}

.personal-detail-wrapper {
    color: #31525B;
}

.detail-form {
    border: 1px solid #31525B;
    padding: 25px;
    border-radius: 5px;
}

.header-title {
    margin: 15px 0;
    font-size: 28px;
    font-weight: bold;
}

.form-group {
    margin: 15px 0 !important;
}

.label-text {
    text-align: right;
    font-size: 20px;
}

.label-value {
    text-align: left;
    font-size: 22px;
}

.action-wrapper {
    text-align: right;
}

.btn {
    background-color: #A1D066;
    cursor: pointer;
    color: #fff;
    margin: 0 10px;
    font-size: 22px;
    border-radius: 5px;
    min-width: 120px;
    display: inline-block;
    font-weight: 400;    
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    /* font-size: 1rem; */
    line-height: 1.5;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:hover {
    background-color: #31525B;
    color: #fff;
}

.content-wrapper {
    overflow-y: scroll;
}