<!-- change password wrapper -->
<section class="change-password-wrapper">
    <div class="form-group col-sm-12 row">
        <label class="label-text col-sm-4">Old Password: </label>
        <input type="password" name="password" [(ngModel)]="userCredential['oldPassword']" tabindex="1" [ngClass]="{'col-sm-8 element-design': true, 'col-sm-8 element-design error-input': requiredFlag && userCredential['oldPassword']}" placeholder="Password">
        <label class="label-text col-sm-4">New Password: </label>
        <input type="password" name="password" *ngIf="!passwordViewFlag" [(ngModel)]="userCredential['password']" tabindex="1" [ngClass]="{'col-sm-8 element-design': true, 'col-sm-8 element-design error-input': requiredFlag && userCredential['password']}" placeholder="Password">
        <span class="icon" *ngIf="!passwordViewFlag"><mdb-icon class="icon-text" fas icon="eye" (click)="changePasswordViewMode()"></mdb-icon></span>
        <input type="text" name="password" *ngIf="passwordViewFlag" [(ngModel)]="userCredential['password']" tabindex="1" [ngClass]="{'col-sm-8 element-design': true, 'col-sm-8 element-design error-input': requiredFlag && userCredential['password']}" placeholder="Password">
        <span class="icon" *ngIf="passwordViewFlag"><mdb-icon class="icon-text" far icon="eye-slash" (click)="changePasswordViewMode()"></mdb-icon></span>
    </div>
    <!-- error flag section -->
    <div class="form-group text-center error-section" *ngIf="requiredFlag">
        <span *ngIf="requiredFlag">Username is required</span>
      </div>
    <!-- action wrapper -->
    <div class="form-group">
        <div class="action-wrapper">
          <button class="btn" (click)="updateUserDetail();">Update</button>
          <button class="btn" (click)="cancelChanges();">Reset</button>
        </div>
      </div>
</section>