.change-password-wrapper {
    padding: 25px;
    border: 1px solid #31525B;
    border-radius: 5px;
    margin: 25px 10px;
    color: #31525B;
    font-size: 22px;
}

.icon {
    margin: 0 10px;
}

.icon .icon-text {
    cursor: pointer;
    margin: 15px 0;
}

.action-wrapper {
    text-align: right;
}

.btn {
    color: #fff;
    background-color: #A1D066;
    cursor: pointer;
    outline: none;
    margin: 0 10px;
    font-size: 15px;
    border-radius: 5px;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    font-size: 18px;
    padding: 5px 10px;
    line-height: 1.5;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:hover {
    color: #fff;
    background-color: #31525B;
}

.error-input {
    border: 1px solid #E32227 !important;
  }
  
  input.error-input::placeholder {
    color: #E32227 !important;
  }
  
  input.error-input {
    color: #E32227 !important;
  }

  input[type="password"], input[type="text"] {
    display: block;
    width: 55.66%;
    padding: 0.375rem 0.75rem;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    outline: none;
    margin: 15px 0;
  }

  .change-password-wrapper .form-group {
      margin: 10px 0 25px !important;
  }

.label-text {
    margin: 15px 0;
}