<section class="col-sm-12 row filter-wrapper">
    <!-- menu section -->
    <section class="filter-option-wrapper col-sm-12 row">
        <div class="clear-filter col-sm-5" (click)="clearAllFilter()">Clear</div>
        <div class="collapse-filter col-sm-5" (click)="collapseAll()">Collapse</div>
    </section>
    <section class="col-sm-12 filter-section-container" *ngFor="let data of filterDataSet; let offset = index;">
        <section class="filter-title" (click)="toggleFilter(offset)">{{data['title']}}:
            <span class="arrow-wrapper" *ngIf="!data['openFlag']"><i class="fas fa-caret-down"></i></span>
            <span class="arrow-wrapper" *ngIf="data['openFlag']"><i class="fas fa-caret-up"></i></span>
        </section>  <!-- <span class="open" *ngIf="!filterFlag['offset']" (click)="enableFilter(offset)">open</span><span class="close" *ngIf="filterFlag['offset']" (click)="disableFilter(offset)">close</span> -->
        <section class="filter-select-wrapper" *ngIf="data['openFlag'] && !data['andOrFlag'] && !data['comingSoonFlag']"> <!--  *ngIf="filterFlag['offset']" -->
            <app-filter [dropdownList]="data['dropdownData']" [selectedItems]="data['dropdownSelected']" [dropdownSettings]="data['dropdownSetting']" (selectedItemEmitter)="handleSelectedData($event, data['key'])"></app-filter>
        </section>
        <section class="filter-select-wrapper" *ngIf="data['openFlag'] && data['andOrFlag'] && !data['comingSoonFlag']"> <!--  *ngIf="filterFlag['offset']" -->
            <section class="wrapper" *ngFor="let subData of data['dataList']">
                <section class="filter-title">{{subData['title']}}:</section>
                <app-filter [dropdownList]="subData['dropdownData']" [selectedItems]="subData['dropdownSelected']" [dropdownSettings]="subData['dropdownSetting']" (selectedItemEmitter)="handleSelectedData($event, subData['subKey'])"></app-filter>
            </section>
        </section>
        <section class="coming-soon-wrapper" *ngIf="data['openFlag'] && data['comingSoonFlag']">
            <span class="coming-soon-text">Coming Soon...</span>
        </section>
    </section>
</section>