.filter-wrapper {
    padding: 0;
}

.filter-wrapper .filter-section-container {
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.filter-wrapper .filter-section-container .filter-title {
    margin-bottom: 5px;
    font-weight: 400;
}

.arrow-wrapper {
    float: right;
}

.wrapper {
    padding: 5px 0;
}

.filter-option-wrapper {
    font-size: 18px;
    margin: 10px 0 !important;
    margin-bottom: 5px !important;
    padding: 10px;
    border-bottom: 1px solid lightgray;
}

.filter-option-wrapper div {
    background-color: #A1D066;
    color: #fff;
    border-radius: 5px;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}

.filter-option-wrapper div:hover {
    background-color: #31525B;
}

.filter-option-wrapper div:first-child {
    margin-right: 15%;
}