<!-- candidate tile wrapper -->
<section class="candidate-tile-container col-sm-3 row" *ngFor="let data of requirementDataList; let i = index;" [style.height.px]="data['heightValue']">
    <section class="candidate-tile-wrapper" (click)="navigateViewPage(data)">
        <!-- date section wrapper -->
        <div class="date-section-wrapper" *ngIf="data['updatedOn']" title="MM/DD/YYYY">{{data['updatedOn'] | amCalendar}}</div>
        <div class="user-section-wrapper" *ngIf="data['userName'] && data['profileImage']">
            <span class="user-image" [title]="data['userName']"><img [src]="'http://pqrdb.geval6.com/api/profileImages/' + data['profileImage']" alt=""></span>
        </div>
        <div class="user-section-wrapper" *ngIf="data['userName'] && !data['profileImage']">
            <span class="user-image" [title]="data['userName']"><img src="../../../../assets/images/user-detail.png" alt=""></span>
        </div>
        <div class="interview-process-wrapper" *ngIf="data['inprogress']">
            <div class="spinner-grow" role="status"></div>
        </div>
        <section class="candidate-detail-wrapper col-sm-12">
            <div class="candidate-name candidate-detail" *ngIf="data['candidateName']" [title]="data['candidateName']">{{data['candidateName']}}</div>
            <div class="candidate-job-title" *ngIf="data['requirementName']" [title]="data['requirementName']"><span>{{data['requirementName']}}</span></div>
            <div class="candidate-job-title" *ngIf="data['clientName']" [title]="data['clientName']"><span>{{data['clientName']}}</span></div>
        <section class="action-wrapper col-sm-12">
            <!-- <button class="shortlist-button">shortlist</button> -->
            <!-- <button [ngClass]="{'disabled-button': !data['fileName']}" [disabled]="!data['fileName']" (click)="downloadResume($event, data['fileName']);">Download</button> -->
            <span class="availability-wrapper">
                <mdb-icon title="Cancel Submission" fas icon="ban" class="unavailability-icon" (click)="handleCancelSubmition($event, data)"></mdb-icon>
            </span>
            <!-- <span class="download-icons" *ngIf="data['fileName']" (click)="downloadResume($event, data['fileName']);">
                <mdb-icon title="download" class="normal" fas icon="arrow-down"></mdb-icon>
                <mdb-icon title="download" class="hovered animated headShake infinite" fas icon="arrow-down"></mdb-icon>
            </span> -->
            <span class="expand-detail-wrapper">
                <mdb-icon title="schedule Interview" class="view-detail-icon" fas icon="clipboard-list" (click)="handleInterviewSchedule($event, data)"></mdb-icon>
            </span>
        </section>
        </section>
    </section>
</section>
<!-- no record found wrapper -->
<section class="no-record-wrapper col-sm-12" *ngIf="(requirementDataList && requirementDataList.length === 0)">
    <span class="no-record-text">No Records Found</span>
</section>