.container-wrapper {
    margin: 0;
}

.header-wrapper, .footer-wrapper {
    padding: 10px;
    /* background: #A1D066; */
    /* background-color: #A1D066; */
    background-color: gray;
}

.content-wrapper {
    padding: 0;
    margin-bottom: 45px;
}

.loader-hover-wrapper {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: gray;
    opacity: 0.4;
}

.loader-wrapper {
    position: absolute;
    top: 50%;
}

.loader-wrapper .spinner-border {
    width: 90px;
    height: 90px;
    color: #FCB34E;
}

.loader-wrapper .spinner-grow {
    width: 60px;
    height: 60px;
    color: #FCB34E;
}

.footer-wrapper {
    position: fixed;
    bottom: 0;
}