<!-- container wrapper starts -->
<section class="row container-wrapper">
  <!-- header wrapper strats -->
  <section class="header-wrapper col-sm-12">
    <app-header class=""></app-header>
  </section>
  <!-- route outlet scope -->
  <section class="col-sm-12 content-wrapper">
    <router-outlet></router-outlet>
  </section>
  <!-- footer wrapper starts -->
  <section class="footer-wrapper col-sm-12">
    <app-footer class="row"></app-footer>
  </section>
  <!-- loader section -->
  <section class="loader-hover-wrapper col-sm-12" *ngIf="spinnerFlag"></section>
  <section class="loader-wrapper col-sm-12 text-center" *ngIf="spinnerFlag">
    <div class="text-center">
      <!-- <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div> -->
      <div class="spinner-grow" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </section>
</section>
