<!-- personal detail section -->
<section class="col-sm-12 row personal-detail-wrapper">
    <!-- header section -->
    <section class="header-title col-sm-10">Personal Details</section>
    <span class="col-sm-2 edit-icon"><mdb-icon class="edit" fas icon="edit" (click)="navigateEditMode();"></mdb-icon></span>
    <form class="detail-form col-sm-12" id="register-form" method="post" role="form">
        <div class="form-group row">
            <label class="label-text col-sm-4">FirstName: </label>
            <label class="label-value col-sm-8" *ngIf="viewFlag && userRegister && userRegister?.firstName">{{userRegister['firstName']}}</label>
            <input type="text" name="firstName" *ngIf="!viewFlag" [(ngModel)]="userRegister['firstName']" tabindex="1" [ngClass]="{'col-sm-8 element-design': true, 'col-sm-8element-design error-input': requiredFlag && !userRegister['firstName']}" placeholder="Firstname" value="">
        </div>
        <div class="form-group row">
            <label class="label-text col-sm-4">LastName: </label>
            <label class="label-value col-sm-8" *ngIf="viewFlag && userRegister && userRegister?.lastName">{{userRegister['lastName']}}</label>
            <input type="text" name="lastName" *ngIf="!viewFlag" [(ngModel)]="userRegister['lastName']" tabindex="1" [ngClass]="{'col-sm-8 element-design': true, 'col-sm-8 element-design error-input': requiredFlag && !userRegister['lastName']}" placeholder="Lastname" value="">
        </div>
        <div class="form-group row">
            <label class="label-text col-sm-4">UserName: </label>
            <label class="label-value col-sm-8" *ngIf="viewFlag && userRegister && userRegister?.userName">{{userRegister['userName']}}</label>
            <input type="text" name="username" *ngIf="!viewFlag" [(ngModel)]="userRegister['userName']" tabindex="1" [ngClass]="{'col-sm-8 element-design': true, 'col-sm-8 element-design error-input': requiredFlag && !userRegister['userName']}" placeholder="Username" value="">
        </div>
        <!-- <div class="form-group">
            <label class="label-text">FirstName: </label>
          <input type="password" name="password" [(ngModel)]="userRegister['password']" tabindex="1" [ngClass]="{'element-design': true, 'element-design error-input': requiredFlag}" placeholder="Password">
        </div> -->
        <!-- <div class="form-group">
          <input type="text" name="role" [(ngModel)]="userRegister['role']" tabindex="1" class="form-control" placeholder="Role" value="">
        </div> -->
        <div class="form-group row">
            <label class="label-text col-sm-4">Designation: </label>
            <label class="label-value col-sm-8" *ngIf="viewFlag && userRegister && userRegister?.designation">{{userRegister['designation']}}</label>
            <input type="text" name="designation" *ngIf="!viewFlag" [(ngModel)]="userRegister['designation']" tabindex="1" class="form-control col-sm-8" placeholder="Designation" value="">
        </div>
        <div class="form-group row">
            <label class="label-text col-sm-4">Mobile Number: </label>
            <label class="label-value col-sm-8" *ngIf="viewFlag && userRegister && userRegister?.mobileNumber">{{userRegister['mobileNumber']}}</label>
            <input type="number" name="mobileNumber" *ngIf="!viewFlag" [(ngModel)]="userRegister['mobileNumber']" tabindex="1" [ngClass]="{'col-sm-8 element-design': true, 'col-sm-8 element-design error-input': requiredFlag && !userRegister['mobileNumber']}" placeholder="Mobile Number" value="">
        </div>
        <div class="form-group row">
            <label class="label-text col-sm-4">Email: </label>
            <label class="label-value col-sm-8" *ngIf="viewFlag && userRegister && userRegister?.email">{{userRegister['email']}}</label>
            <input type="text" name="email" *ngIf="!viewFlag" [(ngModel)]="userRegister['email']" tabindex="1" [ngClass]="{'col-sm-8 element-design': true, 'col-sm-8 element-design error-input': requiredFlag && !userRegister['email']}" placeholder="Email Address" value="">
        </div>
        <div class="form-group row">
            <label class="label-text col-sm-4">Facebook Link: </label>
            <label class="label-value col-sm-8" *ngIf="viewFlag && userRegister && userRegister?.fbLink">{{userRegister['fbLink']}}</label>
            <input type="text" name="fbLink" *ngIf="!viewFlag" [(ngModel)]="userRegister['fbLink']" tabindex="1" class="form-control col-sm-8" placeholder="facebook Link" value="">
        </div>
        <div class="form-group row">
            <label class="label-text col-sm-4">Twitter Link: </label>
            <label class="label-value col-sm-8" *ngIf="viewFlag && userRegister && userRegister?.twitterLink">{{userRegister['twitterLink']}}</label>
            <input type="text" name="twitterLink" *ngIf="!viewFlag" [(ngModel)]="userRegister['twitterLink']" tabindex="1" class="form-control col-sm-8" placeholder="Twitter Link" value="">
        </div>
        <div class="form-group row">
            <label class="label-text col-sm-4">LinkedIn Link: </label>
            <label class="label-value col-sm-8" *ngIf="viewFlag && userRegister && userRegister?.linkedinLink">{{userRegister['linkedinLink']}}</label>
            <input type="text" name="linkedinLink" *ngIf="!viewFlag" [(ngModel)]="userRegister['linkedinLink']" tabindex="1" class="form-control col-sm-8" placeholder="Linkedin Link" value="">
        </div>
        <!-- <div class="form-group row">
          <label class="Profile-image label-text col-sm-4">Profile Image:</label>
          <input type="file" name="userImage" [(ngModel)]="userRegister['userImage']" tabindex="1" class="form-control col-sm-8" placeholder="user Image" value="" (change)="documentSelected($event.target.files)">
        </div>
        <div class="form-group row">
          <label class="cover-image label-text col-sm-4">Cover Image:</label>
          <input type="file" name="coverImage" [(ngModel)]="userRegister['coverImage']" tabindex="1" class="form-control col-sm-8" placeholder="Cover Image" value="" (change)="documentCoverSelected($event.target.files)">
        </div> -->
        <!-- error flag section -->
        <div class="form-group text-center error-section" *ngIf="requiredFlag">
          <span *ngIf="requiredFlag">Please fill mandatory fields</span>
        </div>
        <div class="form-group" *ngIf="!viewFlag">
          <div class="action-wrapper">
            <button class="btn" (click)="updateUserDetail();">Update</button>
            <button class="btn" (click)="cancelChanges();">Cancel</button>
          </div>
        </div>
      </form>
</section>