.personal-detail-wrapper {
    color: #31525B;
}

.detail-form {
    border: 1px solid #31525B;
    padding: 25px;
    border-radius: 5px;
}

.edit-icon {
    margin: 15px 0;
    vertical-align: middle;
    font-size: 26px;
    text-align: right;
}

.edit-icon .edit {
    color: #5A8100;
    cursor: pointer;
}

.edit-icon .edit:hover {
    color: #31525B;
}

.header-title {
    margin: 15px 0;
    font-size: 28px;
    font-weight: bold;
}

.form-group {
    margin: 15px 0 !important;
}

.label-text {
    text-align: right;
    font-size: 20px;
}

.label-value {
    text-align: left;
    font-size: 22px;
}

.action-wrapper {
    text-align: right;
}

.btn {
    background-color: #A1D066;
    cursor: pointer;
    color: #fff;
    margin: 0 10px;
    font-size: 22px;
    border-radius: 5px;
    min-width: 120px;
    display: inline-block;
    font-weight: 400;    
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    /* font-size: 1rem; */
    line-height: 1.5;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:hover {
    background-color: #31525B;
    color: #fff;
}

.error-section {
    color: red;
    font-size: 20px;
}

.error-input {
    border: 1px solid #E32227 !important;
  }
  
  input.error-input::placeholder {
    color: #E32227 !important;
  }
  
  input.error-input {
    color: #E32227 !important;
  }

  input[type="text"], input[type="number"] {
    display: block;
    width: 66.66%;
    padding: 0.375rem 0.75rem;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
  }