<!-- dashboard wrapper -->
<section class="dashboard-wrapper row">
    <section class="header-wrapper col-sm-12 row">
        <section class="header-title col-sm-3">
            <mdb-icon class="back-icon" (click)="utilityService.navigatePreviousRoute()" fas icon="chevron-circle-left"></mdb-icon>
            <span>Candidate</span>
        </section>
        <!-- search wrapper -->
        <section class="search-wrapper col-sm-6">
            <mdb-icon class="search-icon" fas icon="search"></mdb-icon>
            <input type="text" class="search-input" name="searchInput" (keyup)="searchInputTyped($event)" [(ngModel)]="searchInput" placeholder="Skills, Job Title, Name">
            <button class="search-button" (click)="searchCandidate();">search</button>
            <button class="search-button" *ngIf="filterInput && filterInput['search'] && filterInput['search'].length !== 0" (click)="clearSearchCandidate();">Clear Search</button>
        </section>
        <section class="header-action col-sm-3">
            <!-- dashboard icon -->
            <span class="dashboard-icon" title="Go To Dashboard"><mdb-icon fas icon="home" (click)="navigateToDashboard()"></mdb-icon></span>
            <button class="create-button" (click)="navigateCreateCandidate()">Add Candidate</button>
            <!-- <mdb-icon class="icon" title="Create Candidate" fas icon="plus" (click)="navigateCreateCandidate()"></mdb-icon> -->
        </section>
    </section>
    <section class="col-sm-12 col-md-2 filter-wrapper" [style.height.px]="documentHeight">
        <app-filter-section class="row" [filterData]="filterDataSet" (filterEmitter)="filterInputHandler($event)"></app-filter-section>
    </section>
    <section class="col-sm-12 col-md-10 candidate-list-wrapper" [style.height.px]="documentHeight">
        <app-candidate-tile class="row" [candidateList]="candidateRecord" (navigationEmitter)="handleNavigationEvent($event)"></app-candidate-tile>
    </section>
</section>

<!-- modal component -->
<app-modal [displayModal]="showPopUpFlag" [modalConfigSetter]="modalConfig" (hideModalEmitter)="handleCloseModal($event)" (proceedModalEmitter)="handleProceedModal()"></app-modal>

<app-candidate-detail-modal [candidateInfo]="candidateModalDetails" [displayFlag]="candidateModalDisplayFlag" [editableFlag]="candidateModalEditFlag" (saveEmitter)="candidateDetailSave($event)" (cancelEmitter)="candidateDetailCancel()" (proceedEmitter)="candidateDetailProceed()"></app-candidate-detail-modal>