.detail-wrapper {
    position: absolute;
    top: 10%;
    width: 100%;
    margin: 0;
}

.detail-container {
    margin: 5% 0;
}

.image-wrapper {
    border-radius: 50%;
    border: 10px solid #fff;
    display: inline-block;
    z-index: 3;
}

.image-wrapper:hover {    
    border: 10px solid #FCB34E;
}

.detail-image {
    width: 50px;
    border-radius: 50%;
    border: 1px solid;
}

.detail-content-wrapper {
    width: 80%;
    border: 5px solid #FCB34E;
    border-left: none;
    border-radius: 10px;
    position: relative;
    padding-left: 20px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    background: linear-gradient(#283039, #2c3e50);
    color: #fff;
}

.detail-title-wrapper {
    position: absolute;
    top: -30px;
    border-bottom: none;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    padding: 0 5px;
    font-weight: 600;
    background: linear-gradient(#283039, #2c3e50);
    color: #fff;
}

.detail-title-wrapper-left {
    right: 0px;
}

.detail-title-wrapper-right {
    left: 0px;
}

.detail-rounded-border {
    height: 100%;
    width: 30px;
    display: inline-block;
    border-radius: 50%;
    border-right: 5px solid #FCB34E;
    position: absolute;
    left: -16px;
    z-index: 1;
    background-color: #fff;
}

.detail-rounded-border:nth-child(odd) {
    // border-right: 5px solid #FCB34E;
    border-right: 5px solid linear-gradient(#283039, #2c3e50);
    left: -16px;
}

.detail-rounded-border:nth-child(even) {
    border-left: 5px solid #FCB34E;
    right: -16px;
}

.detail-tile-wrapper {
    position: absolute;
    font-size: 20px;
}

.detail-tile-wrapper:nth-child(odd) {
    left: 2%;
}

.detail-tile-wrapper:nth-child(even) {
    right: 2%;
}

.detail-tile-wrapper .detail-content-conatiner {
    display: inline-block;
    border-radius: 10px;
    position: relative;
    padding: 10px;
    width: 300px;
    background: linear-gradient(#283039, #2c3e50);
    color: #fff;
}

.detail-tile-wrapper .detail-content-conatiner:nth-child(odd) {
    margin-right: 10px;
    border-top-left-radius: 0;
}

.detail-tile-wrapper .detail-content-conatiner:nth-child(even) {
    margin-left: 10px;
    border-top-right-radius: 0;
}

.detail-content-conatiner .detail-border-arrow {
    position: absolute;
    top: 8px;
}

.detail-content-conatiner .detail-border-arrow.right-arrow {
    right: -11px;
}

.detail-content-conatiner .detail-border-arrow.left-arrow {
    left: -11px;
}

.detail-content-conatiner .detail-border-arrow.right-arrow .icon {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
}

.detail-content-conatiner .detail-border-arrow.left-arrow .icon {
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.detail-content-conatiner .detail-border-arrow .icon {
    font-size: 30px;
    background: linear-gradient(#283039, #2c3e50);
}

.icon-design {
    font-size: 24px;
    padding: 14px;
    background-color: #fff;
    border-radius: 50%;
    color: #FF6C02;
}