<!-- <section class="detail-wrapper row">
    <section class="row col-sm-12">
        <section class="col-sm-12 col-md-6 detail-container row" *ngFor="let field of fieldListArray;let offset = index;">
            <section class="image-wrapper" (mouseenter)="enableDetailTile($event, field['id'])"
                (mouseleave)="disableDetailTile($event, field['id'])" *ngIf="offset % 2 === 0">
                <img class="detail-image" [src]="'../../../../assets/images/' + field['imgSrc']" alt="">
            </section>
            <section class="detail-content-wrapper" [style.visibility]="fieldSetFlagList[field['id']] ? 'visible' : 'hidden'" *ngIf="offset % 2 === 0">
                <span class="detail-rounded-border"></span>
                <span class="detail-content">{{field['data']}}</span>
            </section>

            <!- right aligned tile ->
            <section class="detail-content-wrapper" [style.visibility]="fieldSetFlagList[field['id']] ? 'visible' : 'hidden'" *ngIf="offset % 2 !== 0">
                <span class="detail-rounded-border"></span>
                <span class="detail-content">{{field['data']}}</span>
            </section>
            <section class="image-wrapper" (mouseenter)="enableDetailTile($event, field['id'])"
                (mouseleave)="disableDetailTile($event, field['id'])" *ngIf="offset % 2 !== 0">
                <img class="detail-image" [src]="'../../../../assets/images/' + field['imgSrc']" alt="">
            </section>
        </section>
    </section>
</section> -->


<section class="detail-tile-wrapper" (mouseenter)="enableDetailTile($event, field['id'])"
         (mouseleave)="disableDetailTile($event, field['id'])" [style.top.%]="field['topValue']" *ngFor="let field of fieldListArray;let offset = index;">
        <img class="detail-image" [src]="'../../../../assets/images/' + field['imgSrc']" alt="" *ngIf="offset % 2 == 0 && !field['iconFlag']">
        <mdb-icon class="icon-design" fas [icon]="field['iconClass']" *ngIf="offset % 2 === 0 && field['iconFlag']"></mdb-icon>
        <section class="detail-content-conatiner" *ngIf="offset % 2 == 0 && fieldSetFlagList[field['id']]">
            <span class="detail-border-arrow left-arrow"><mdb-icon class="icon" fas icon="caret-left"></mdb-icon></span>
            <span class="detail-title-wrapper detail-title-wrapper-left">{{field['title']}}</span>
            <span class="detail-content" *ngIf="!field['listFlag']">{{field['data']}}</span>
            <span class="detail-content" *ngIf="field['listFlag']"><span *ngFor="let data of field['data']; let i = index"><span *ngIf="i < 3">{{data['name']}}</span><span *ngIf="(i < 2 && field['data'].length > 3) || (i !== field['data'].length - 1 && field['data'].length <= 3)">, </span></span><span *ngIf="field['data'] && field['data'].length > 3"> + {{field['data'].length - 3}} more</span></span>
            <span class="detail-content" *ngIf="(!field['data'] && !field['listFlag'])">No Details Added</span>
            <span class="detail-content" *ngIf="((!field['data'] || (field['data'] && field['data'].length === 0)) && field['listFlag'])">No Details Added</span>
        </section>
        <section class="detail-content-conatiner" *ngIf="offset % 2 != 0 && fieldSetFlagList[field['id']]">
            <span class="detail-border-arrow right-arrow"><mdb-icon class="icon" fas icon="caret-right"></mdb-icon></span>
            <span class="detail-title-wrapper detail-title-wrapper-right">{{field['title']}}</span>
            <span class="detail-content" *ngIf="!field['listFlag']">{{field['data']}}</span>
            <span class="detail-content" *ngIf="field['listFlag']"><span *ngFor="let data of field['data']; let i = index"><span *ngIf="i < 3">{{data['name']}}</span><span *ngIf="(i < 2 && field['data'].length > 3) || (i !== field['data'].length - 1 && field['data'].length <= 3)">, </span></span><span *ngIf="field['data'] && field['data'].length > 3"> + {{field['data'].length - 3}} more</span></span>
            <span class="detail-content" *ngIf="(!field['data'] && !field['listFlag'])">No Details Added</span>
            <span class="detail-content" *ngIf="((!field['data'] || (field['data'] && field['data'].length === 0)) && field['listFlag'])">No Details Added</span>
        </section>
        <mdb-icon class="icon-design" fas [icon]="field['iconClass']" *ngIf="offset % 2 !== 0 && field['iconFlag']"></mdb-icon>
        <img class="detail-image" [src]="'../../../../assets/images/' + field['imgSrc']" alt="" *ngIf="offset % 2 != 0 && !field['iconFlag']">
</section>