.candidate-tile-container {
    padding: 10px;
    transition: height 0.4s;
}

.candidate-tile-wrapper {
    // border: 1px solid brown;
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    // min-height: 250px;
    text-align: center;
    cursor: pointer;
    background-color: #31525B;
    color: #fff;
}

.candidate-authorization-wrapper {
    position: relative;
}

.candidate-authorization-wrapper img {
    width: 30px;
    margin: 5px;
    // border-radius: 50%;
    position: absolute;
    top: -15px;
    left: -18px;
}

.candidate-resume-wrapper {
    text-align: right;
}

.candidate-resume-wrapper img {
    width: 30px;
}

.candidate-detail-wrapper {
    font-size: 16px;
}

.candidate-detail-wrapper .candidate-detail {
    margin: 15px 0 8px;
}

.candidate-detail-wrapper .candidate-detail span {
    font-weight: 400;
}

.action-wrapper {
    padding: 10px;
}

.action-wrapper button {
    background-color: #FCB34E;
    cursor: pointer;
    outline: none;
    margin: 0;
    width: 100%;
    font-size: 14px;
    border-radius: 5px;
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.action-wrapper button:hover {
    color: #fff;
    background-color: #fc766A;
}

.action-wrapper .disabled-button {
    background-color: aliceblue;
    color: #000;
    cursor: auto;
}

.no-record-wrapper {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    padding: 50px 0;
}

.candidate-detail-link, .candidate-location, .candidate-authorization, .candidate-experience {
    text-align: left;
}

.icon-wrapper {
    margin-right: 15px;
}

.candidate-name {
    font-size: 22px;
    font-weight: bold;
    text-overflow: ellipsis;
    width: 100%;
    overflow-x: hidden;
    white-space: nowrap;
}

.candidate-job-title {
    font-size: 18px;
    font-weight: bold;
}

.availability-wrapper {
    float: left;
}

.availability-wrapper .availability-icon, .availability-wrapper .unavailability-icon {
    font-size: 24px;
}

.availability-wrapper .availability-icon {
    color: green;
    cursor: auto;
}

.availability-wrapper .unavailability-icon {
    color: red;
    cursor: auto;
}

.download-icons {
    border-bottom: 2px solid #fff;
    padding: 0 5px;
    z-index: 2;
}

.download-icons .normal {
    display: inline-block;
}

.download-icons .hovered {
    display: none;
}

.download-icons:hover .normal {
    display: none;
}

.download-icons:hover .hovered {
    display: inline-block;
}

.expand-detail-wrapper {
    float: right;
}

.expand-detail-wrapper .view-detail-icon {
    font-size: 24px;
}

.viewDetail {
    display: block;
}

.hideDetail {
    display: none;
}

.viewMoreDetail {
    background: linear-gradient(rgb(220, 223, 225), rgb(255, 255, 255));
    color: rgb(0, 0, 0);
    padding: 5px 10px;
    border-radius: 5px;
}

.date-section-wrapper {
    display: inline-block;
    background: linear-gradient(rgb(220, 223, 225), rgb(255, 255, 255));
    color: #000;
    padding: 2px;
    border-top-left-radius: 5px;
    position: absolute;
    left: 9px;
    top: 10px;
    font-weight: bold;
    font-size: 14px;
}

.user-section-wrapper {
    position: absolute;
    right: 15px;
    top: 10px;
}

.user-section-wrapper img {
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
    border-radius: 50%;
}

.interview-process-wrapper {
    position: absolute;
    right: 50px;
    top: 10px;
}

.interview-process-wrapper .spinner-grow {
    width: 18px;
    height: 18px;
    background-color: #A1D066;
}

.inactive-field {
    width: 20px;
    height: 20px;
    background-color: red;
    position: absolute;
    bottom: 10px;
    left: 10px;
    border-bottom-left-radius: 5px;
}