<div class="row login-container" [style.height.px]="documentHeight">
    <!-- content wrapper -->
      <div class="row col-sm-12 login-wrapper">
      <div class="col-xs-12 col-sm-8 col-md-8 register-container center-block col-md-offset-3">
        <div class="panel panel-login">
          <div class="panel-heading">
            <div class="row">
              <div class="col-xs-12 col-sm-12 login-link-wrapper">
                <a href="#" class="login-links">Register</a>
              </div>
            </div>
            <!-- <hr> -->
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-lg-12">
                <form id="register-form" action="https://phpoll.com/register/process" method="post" role="form">
                  <div class="form-group">
                    <input type="text" autocomplete="off" name="firstName" [(ngModel)]="userRegister['firstName']" tabindex="1" [ngClass]="{'element-design': true, 'element-design error-input': requiredFlag && !userRegister['firstName']}" placeholder="Firstname" value="">
                  </div>
                  <div class="form-group">
                    <input type="text" autocomplete="off" name="lastName" [(ngModel)]="userRegister['lastName']" tabindex="1" [ngClass]="{'element-design': true, 'element-design error-input': requiredFlag && !userRegister['lastName']}" placeholder="Lastname" value="">
                  </div>
                  <div class="form-group">
                    <input type="email" autocomplete="off" name="username" [(ngModel)]="userRegister['userName']" tabindex="1" [ngClass]="{'element-design': true, 'element-design error-input': requiredFlag && !userRegister['username']}" placeholder="Username" value="">
                    <span class="error-text" *ngIf="userNameErrorFlag">User Name is already exists.</span>
                  </div>
                  <div class="form-group">
                    <input type="password" autocomplete="off" name="password" [(ngModel)]="userRegister['password']" tabindex="1" [ngClass]="{'element-design': true, 'element-design error-input': requiredFlag && !userRegister['password']}" placeholder="Password">
                  </div>
                  <!-- <div class="form-group">
                    <input type="text" name="role" [(ngModel)]="userRegister['role']" tabindex="1" class="form-control" placeholder="Role" value="">
                  </div> -->
                  <div class="form-group">
                    <input type="text" autocomplete="off" name="designation" [(ngModel)]="userRegister['designation']" tabindex="1" class="form-control" placeholder="Designation" value="">
                  </div>
                  <div class="form-group">
                    <input type="number" autocomplete="off" name="mobileNumber" [(ngModel)]="userRegister['mobileNumber']" tabindex="1" [ngClass]="{'element-design': true, 'element-design error-input': requiredFlag && !userRegister['mobileNumber']}" placeholder="Mobile Number" value="">
                    <span class="error-text" *ngIf="userMobileEmailErrorFlag">Mobile Number & Email combination already exists.</span>
                  </div>
                  <div class="form-group">
                    <input type="text" autocomplete="off" name="email" [(ngModel)]="userRegister['email']" tabindex="1" [ngClass]="{'element-design': true, 'element-design error-input': requiredFlag && !userRegister['email']}" placeholder="Email Address" value="">
                    <span class="error-text" *ngIf="userMobileEmailErrorFlag">Mobile Number & Email combination already exists.</span>
                  </div>
                  <div class="form-group">
                    <input type="text" autocomplete="off" name="fbLink" [(ngModel)]="userRegister['fbLink']" tabindex="1" class="form-control" placeholder="facebook Link" value="">
                  </div>
                  <div class="form-group">
                    <input type="text" autocomplete="off" name="twitterLink" [(ngModel)]="userRegister['twitterLink']" tabindex="1" class="form-control" placeholder="Twitter Link" value="">
                  </div>
                  <div class="form-group">
                    <input type="text" autocomplete="off" name="linkedinLink" [(ngModel)]="userRegister['linkedinLink']" tabindex="1" class="form-control" placeholder="Linkedin Link" value="">
                  </div>
                  <div class="form-group">
                    <label class="Profile-image">Profile Image:</label>
                    <input type="file" accept="image/*" name="userImage" [(ngModel)]="userRegister['userImage']" tabindex="1" class="form-control" placeholder="user Image" value="" (change)="documentSelected($event.target.files)">
                  </div>
                  <div class="form-group">
                    <label class="cover-image">Cover Image:</label>
                    <input type="file" accept="image/*" name="coverImage" [(ngModel)]="userRegister['coverImage']" tabindex="1" class="form-control" placeholder="Cover Image" value="" (change)="documentCoverSelected($event.target.files)">
                  </div>
                  <!-- error flag section -->
                  <div class="form-group text-center error-section" *ngIf="requiredFlag">
                    <span *ngIf="requiredFlag">Please fill all mandatory fields</span>
                  </div>
                  <div class="form-group">
                    <div class="row">
                      <div class="col-xs-12 col-sm-12 col-sm-offset-3">
                        <input type="submit" name="register-submit" tabindex="4" class="register-button form-control btn btn-register" value="Register Now" (click)="registerUser()">
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  