.login-container {
  overflow-y: scroll;
}

.error-section span {
    font-size: 22px;
    font-weight: bold;
    color: darkred;
}

.error-input {
  border: 1px solid darkred !important;
}

input.error-input::placeholder {
  color: darkred !important;
}

input.error-input {
  color: darkred !important;
}

.form-group input[name='username'], .form-group input[name='password'], .form-group input[name='email'], .form-group input[name='mobileNumber'], .form-group input[type='text'] {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.register-button {
    background-color: #FF6C02;
    color: #fff;
    font-weight: bold;
    font-size: 22px;
    outline: none;
}

.register-button:hover {
  background-color: #31525B;
}

.login-link-wrapper {
  text-align: center;
  font-size: 30px;
  margin: 15px 0 !important;
}

.login-link-wrapper a {
  color: #31525B;
  font-weight: bold;
  cursor: auto;
}

.register-container {
  margin: 15px 16% 45px;
}