
<section class="user-report-wrapper row">
    <!-- header section -->
    <!-- Section heading -->
    <section class="header-wrapper col-sm-12 row">
        <section class="header-title col-sm-6">
          <mdb-icon class="back-icon" (click)="previousRoute()" fas icon="chevron-circle-left"></mdb-icon>
          <span>User Security</span>
        </section>
        <section class="header-action col-sm-6">
            <button class="create-button" (click)="navigateDashboard()">Go To Dashboard</button>
        </section>
    </section>
    <!-- side menu options-->
    <section class="col-sm-3 option-list-wrapper">
        <div class="option-list-header">Users</div>
        <div class="option-wrapper" [style.height.px]="documentHeight">
            <div class="option-tile" *ngFor="let detail of detailConfig" [title]="detail['title']" (click)="getSelectedOptionData(detail['id'])" [style.backgroundColor]="detail['bgColor']">{{detail['title']}}</div>
        </div>
    </section>
    <!-- main content section -->
    <section class="col-sm-9 data-wrapper">
        <!-- title & add wrapper -->
        <section class="col-sm-12 row header-title-wrapper">
            <div class="col-sm-12 content-title">{{selectedRecordTitle}}</div>
        </section>
        <hr>
        <!-- data wrapper -->
        <section class="col-sm-12 data-content-wrapper" [style.height.px]="documentHeight" *ngIf="selectedRecordData && selectedRecordData.length !== 0">
            <div [ngClass]="{'data-item dataItem': ((userDetail[data['activeFlag']] && selectedRecordTitle === 'Protected details') || selectedRecordTitle === 'Search Log'), 'data-item blur-item': (!userDetail[data['activeFlag']] && selectedRecordTitle === 'Protected details')}" *ngFor="let data of selectedRecordData">
                <span class="data-item-value">{{data['title']}}</span>
                <span class="icon" title="show detail" *ngIf="!userDetail[data['activeFlag']] && selectedIconFlag" (click)="toggleDetail(data['id'], data['activeFlag'], true)"><mdb-icon fas icon="eye"></mdb-icon></span>
                <span class="icon" title="hide detail" *ngIf="userDetail[data['activeFlag']] && selectedIconFlag" (click)="toggleDetail(data['id'], data['activeFlag'], false)"><mdb-icon fas icon="eye-slash"></mdb-icon></span>
            </div>
        </section>
        <!-- no data wrapper -->
        <section class="col-sm-12 data-content-wrapper" [style.height.px]="documentHeight" *ngIf="!selectedRecordData || (selectedRecordData && selectedRecordData.length === 0)">
            <div class="no-data-wrapper">No Data Available</div>
        </section>
    </section>
</section>