<!-- user profile wrapper -->
<section class="user-report-wrapper row">
    <!-- header section -->
    <!-- Section heading -->
    <section class="header-wrapper col-sm-12 row">
        <section class="header-title col-sm-6">
          <mdb-icon class="back-icon" (click)="previousRoute()" fas icon="chevron-circle-left"></mdb-icon>
          <span>User Reports</span>
        </section>
        <section class="header-action col-sm-6">
            <button class="create-button" (click)="navigateDashboard()">Go To Dashboard</button>
        </section>
    </section>
    <!-- side menu options-->
    <section class="col-sm-3 option-list-wrapper" [style.height.px]="documentHeight">
        <div class="option-list-header">Users</div>
        <div class="option-tile" *ngFor="let user of userData" [title]="user['name']" (click)="handleSelectedData(user)" [style.backgroundColor]="user['bgColor']">{{user['name']}}</div>
    </section>
    <!-- main content section -->
    <section class="col-sm-9 data-wrapper" [style.height.px]="documentHeight">
        <app-overview-tile class="row" [candidateStatisticsData]="candidateStatisticsList"></app-overview-tile>
        <hr class="line-wrapper">
        <!-- pie chart wrapper -->
        <section class="pie-chart-wrapper">
            <app-pie-chart *ngIf="userStatisticsData && userStatisticsData.length !== 0" [data]="userStatisticsData"></app-pie-chart>
        </section>
    </section>
</section>