.opacity-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: lightgray;
    opacity: 0.5;
    z-index: 10;
}

.container {
    z-index: 25;
    background-color: #fff;
    border-radius: 5px;
    position: absolute;
    left: 10%;
    right: 10%;
    top: 15%;
    padding: 0;
}

.container .header-wrapper {
    background-color: #FF6C02;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.container .modal-close-icon {
    float: right;
    cursor: pointer;
}

.container .content-wrapper {
    padding: 0 10px;
}

.container-wrapper {
    height: 450px;
    overflow-y: scroll;
}

.container .title {
    margin: 10px 0;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 10px;
    background-color: #a1d066;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

.container .arrow-icon {
    float: right;
    font-size: 26px;
}

.detail-value {
    display: block;
    font-size: 20px;
}