<!-- opacity wrapper -->
<section class="opacity-wrapper" *ngIf="displayFlag"></section>
<!-- container-->
<section class="container" *ngIf="displayFlag">
    <!-- header section -->
    <div class="header-wrapper">
        <span class="">Information</span>
        <span class="modal-close-icon" title="close" (click)="closeModal()">X</span>
    </div>
    <!-- content wrapper -->
    <section class="content-wrapper container-wrapper">
        <!-- submitted section -->
    <section class="submittal-section">
        <div class="title" (click)="toggleHeader('submittedOpenFlag')">Submitted Details
            <span class="arrow-icon" *ngIf="!submittedOpenFlag"><mdb-icon fas icon="angle-down"></mdb-icon></span>
            <span class="arrow-icon" *ngIf="submittedOpenFlag"><mdb-icon fas icon="angle-up"></mdb-icon></span>
        </div>
        <div class="content-wrapper" *ngIf="submittedOpenFlag">
            <label class="detail-value" *ngFor="let submittalData of submittedDataList">{{submittalData}}</label>
            <label class="detail-value" *ngIf="!submittedDataList || (submittedDataList && submittedDataList.length === 0)">No Records Found...</label>
        </div>
    </section>
    <!-- not submitted section-->
    <section class="not-submittal-section">
        <div class="title" (click)="toggleHeader('notSubmittedOpenFlag')">Not Submitted Details
            <span class="arrow-icon" *ngIf="!notSubmittedOpenFlag"><mdb-icon fas icon="angle-down"></mdb-icon></span>
            <span class="arrow-icon" *ngIf="notSubmittedOpenFlag"><mdb-icon fas icon="angle-up"></mdb-icon></span>
        </div>
        <div class="content-wrapper" *ngIf="notSubmittedOpenFlag">
            <label class="detail-value" *ngFor="let notSubmittalData of notSubmittedDataList">{{notSubmittalData}}</label>
            <label class="detail-value" *ngIf="!notSubmittedDataList || (notSubmittedDataList && notSubmittedDataList.length === 0)">No Records Found...</label>
        </div>
    </section>
    <!-- History details -->
    <section class="submittal-section">
        <div class="title" (click)="toggleHeader('historyOpenFlag')">History
            <span class="arrow-icon" *ngIf="!historyOpenFlag"><mdb-icon fas icon="angle-down"></mdb-icon></span>
            <span class="arrow-icon" *ngIf="historyOpenFlag"><mdb-icon fas icon="angle-up"></mdb-icon></span>
        </div>
        <div class="content-wrapper" *ngIf="historyOpenFlag">
            <label class="detail-value" *ngFor="let historyData of historyDataList">{{historyData}}</label>
            <label class="detail-value" *ngIf="!historyDataList || (historyDataList && historyDataList.length === 0)">No Records Found...</label>
        </div>
    </section>
    <!-- past history -->
    <section class="submittal-section">
        <div class="title" (click)="toggleHeader('pastHistoryOpenFlag')">Past History
            <span class="arrow-icon" *ngIf="!pastHistoryOpenFlag"><mdb-icon fas icon="angle-down"></mdb-icon></span>
            <span class="arrow-icon" *ngIf="pastHistoryOpenFlag"><mdb-icon fas icon="angle-up"></mdb-icon></span>
        </div>
        <div class="content-wrapper" *ngIf="pastHistoryOpenFlag">
            <label class="detail-value">Requirement, Client</label>
            <label class="detail-value">Requirement, Client</label>
            <label class="detail-value">Requirement, Client</label>
        </div>
    </section>
    </section>
</section>