<!-- wrapper section -->
<section class="wrapper row">
    <!-- header wrapper -->
    <section class="header-wrapper col-sm-12 row">
        <section class="header-title col-sm-6">
            <mdb-icon class="back-icon" *ngIf="createFlag || editFlag" (click)="previousRoute();" fas icon="chevron-circle-left"></mdb-icon>
            <mdb-icon class="back-icon" *ngIf="viewFlag" (click)="previousRoute()" fas icon="chevron-circle-left"></mdb-icon>
            <span>{{actionTitle}}</span>
        </section>
        <section class="header-action col-sm-6">
            <!-- dashboard icon -->
            <span class="dashboard-icon icons" title="Go To Dashboard" *ngIf="viewFlag"><mdb-icon fas icon="home" (click)="openModal('dashboard', 'communication')"></mdb-icon></span>
            <span class="dashboard-icon icons" title="Go To Dashboard" *ngIf="editFlag || createFlag"><mdb-icon fas icon="home" (click)="navigateToDashboard();"></mdb-icon></span>
            <!-- view page links -->
            <mdb-icon class="icons edit-icon" title="Detailed Job Description " *ngIf="viewFlag && requirementDetailObject['jobDescriptionFile']" fas icon="file-word" (click)="openDocViewer();"></mdb-icon>
            <mdb-icon class="icons edit-icon" title="edit" fas icon="pen" *ngIf="viewFlag" (click)="navigateToEdit();"></mdb-icon>
            <!-- edit / create page links -->
            <mdb-icon far icon="trash-alt" class="icons" title="Delete Requirement" *ngIf="editFlag" (click)="deleteRequirement()"></mdb-icon>

            <mdb-icon class="icons cancel-icon" title="Cancel Changes" fas icon="times" *ngIf="(editFlag || createFlag)" (click)="cancelConfirmation()"></mdb-icon>
            <mdb-icon class="icons save-icon" title="Save Changes" fas icon="check" *ngIf="(editFlag || createFlag)" (click)="saveRequirement();"></mdb-icon>
        </section>
    </section>
    <!-- field list -->
    <section class="row col-sm-12 content-wrapper" [style.height.px]="documentHeight">
        <label class="col-sm-12 field-header-title" *ngIf="viewFlag">Requirement Details:</label>
        <section class="col-sm-12 col-md-6" *ngFor="let field of fieldDataListConfig">
            <label class="col-sm-6 field-title" *ngIf="(viewFlag && !field['uploadFlag']) || editFlag || createFlag">{{field['title']}}:</label>
            <input [ngClass]="{'error-input': field['requiredFlag'] && !requirementDetailObject[field['key']] && field['key'] !== 'count'}" [type]="field['type']" [disabled]="field['disableFlag']" *ngIf="(createFlag || editFlag) && field['inputFlag']" class="input-section col-sm-12" [placeholder]="field['placeholder']" [name]="field['key']" [(ngModel)]="field['data']" (keyup)="handleTypedEvent($event, field['key'], field['data'])">
            <label class="col-sm-6" *ngIf="viewFlag && field['data'] && (field['inputFlag'] || field['textareaFlag'])">{{field['data']}}</label>
            <label class="col-sm-6" *ngIf="viewFlag && !field['data'] && (field['inputFlag'] || field['textareaFlag'])">-</label>
            <app-filter [ngClass]="{'error-select': (field['requiredFlag'] && (!requirementDetailObject[field['key']] || (requirementDetailObject[field['key']] && requirementDetailObject[field['key']].length === 0)))}" *ngIf="(createFlag || editFlag) && field['selectFlag']" [dropdownList]="field['dropdownData']" [selectedItems]="field['dropdownSelected']" [dropdownSettings]="field['dropdownSetting']" (selectedItemEmitter)="handleSelectedItems($event, field['id'], field['key'])" (addNewEmitter)="addNewItemHandler($event, field['key'])"></app-filter>
            <label class="col-sm-6" *ngIf="viewFlag && field['dropdownSelected'] && field['dropdownSelected'].length > 0 && field['selectFlag']"><span class="" *ngFor="let selectData of field['dropdownSelected']; let i = index">{{selectData['name']}}<span *ngIf="i !== field['dropdownSelected'].length-1">, </span></span></label>
            <label class="col-sm-6" *ngIf="viewFlag && (!field['dropdownSelected'] || (field['dropdownSelected'] && field['dropdownSelected'].length === 0)) && field['selectFlag']">-</label>
            <textarea class="col-sm-12 field-textarea" *ngIf="(createFlag || editFlag) && field['textareaFlag']" name="jobDescription" [(ngModel)]="field['data']" (keyup)="handleTypedEvent($event, field['key'], field['data'])"></textarea>
            <input type="file" #singleUpload class="upload-button col-sm-12" *ngIf="(createFlag || editFlag) && field['uploadFlag']" name="uploadDocument" (change)="documentSelected($event.target.files)">
            <div class="note-text" *ngIf="(createFlag || editFlag) && (field['noteFlag'])">Note: {{field['noteText']}}</div>
        </section>
        <!-- submission table -->
        <app-detail-table *ngIf="viewFlag" class="col-sm-12" [configData]="submissionObject" (linkEmitter)="handleNavigation($event)" (actionEmitter)="handleTableEvent($event)"></app-detail-table>
        <!-- interview table -->
        <app-detail-table *ngIf="viewFlag" class="col-sm-12" [configData]="interviewConfigObject" (linkEmitter)="handleNavigation($event)" (actionEmitter)="handleTableEvent($event)"></app-detail-table>
        <!-- selected table -->
        <app-detail-table *ngIf="viewFlag" class="col-sm-12" [configData]="selectedObject" (linkEmitter)="handleNavigation($event)" (actionEmitter)="handleTableEvent($event)"></app-detail-table>
        <!-- rejected table -->
        <app-detail-table *ngIf="viewFlag" class="col-sm-12" [configData]="rejectedObject" (linkEmitter)="handleNavigation($event)" (actionEmitter)="handleTableEvent($event)"></app-detail-table>
    </section>
</section>

<!-- modal component -->
<app-modal [displayModal]="showPopUpFlag" [modalConfigSetter]="modalConfig" (hideModalEmitter)="handleCloseModal($event)" (proceedModalEmitter)="proceedModal()" (skipEmitter)="skipModal()" (saveEmitter)="handleSaveModal($event)"></app-modal>

<!-- doc viewer -->
<app-document-viewer-pop-up [displayFlag]="jobDescriptionModalDisplay" [title]="'Detail Job Description'" [documentUrl]="docUrl" (closeEmitter)="closeModal()"></app-document-viewer-pop-up>

<!-- interview pop up -->
<app-interview-modal [displayFlag]="interviewModalDisplayFlag" [selectedObject]="selectedInterviewData" (closeEmitter)="handleCloseEmitter()"></app-interview-modal>