<!-- tile wrapper -->
<section class="tile-wrapper col-sm-3" *ngFor="let candidateData of candidatePagingData" (click)="navigateViewPage(candidateData)">
    <section class="tile-content-wrapper">
        <!-- candidate icon wrapper -->
        <div class="tile-header-icon" *ngIf="candidateData && candidateData['firstName']">
            {{(candidateData['firstName']).charAt(0) | uppercase}}</div>
        <div class="date-section-wrapper" *ngIf="candidateData && candidateData['updatedOn']" title="MM/DD/YYYY">{{candidateData['updatedOn'] | amLocal | amDateFormat: 'MM/DD/YYYY'}}</div>
        <div class="user-section-wrapper" *ngIf="candidateData && !candidateData['profileImage']">
            <span class="user-image" [title]="candidateData && candidateData['userName']"><img src="../../../../assets/images/user-detail.png"></span>
        </div>
        <div class="user-section-wrapper" *ngIf="candidateData && candidateData['profileImage']">
            <span class="user-image" [title]="candidateData['userName']"><img [src]="'http://pqrdb.geval6.com/api/profileImages' + candidateData['profileImage']"></span>
        </div>
        <div class="candidate-header" *ngIf="candidateData && candidateData['firstName']">
            <span class="" *ngIf="candidateData['genderId'] === 0">Mr.</span>
            <span class="" *ngIf="candidateData['genderId'] === 1">Ms.</span>
            {{candidateData['firstName']}}<span *ngIf="candidateData['lastName']">, {{candidateData['lastName']}}</span></div>
        <!-- download icon wrapper -->
        <div class="candidate-download-wrapper"><a *ngIf="candidateData && candidateData['fileName'] && candidateData['fileName'] != null" class="" [href]="'http://pqrdb.geval6.com/api/resumes/' + candidateData['fileName']" (click)="downloadResume($event)"><mdb-icon class="hovered animated headShake infinite" fas icon="arrow-down"></mdb-icon></a></div>
    </section>
</section>
<!-- footer section -->
<div class="row col-sm-12 table-footer">
    <span class="col-xs-7 col-sm-7 navigate-wrapper">
        <span  class="navigate-icon" *ngIf="candidateDataSet && candidateDataSet.length !== 0" (click)="navigateBack()"><mdb-icon fas icon="angle-double-left"></mdb-icon></span>
        <span class="navigate-icon" *ngIf="candidateDataSet && candidateDataSet.length !== 0" (click)="navigateNext()"><mdb-icon fas icon="angle-double-right"></mdb-icon></span></span>
    <span class="col-xs-5 col-sm-5 view-more-link" *ngIf="candidateDataSet && candidateDataSet.length !== 0" (click)="navigateDashboard()">view all records</span>
</div>