.date-section-wrapper {
    display: inline-block;
    background: linear-gradient(#dcdfe1, white);
    color: #000;
    padding: 2px 4px;
    border-top-left-radius: 5px;
    position: absolute;
    left: 0;
    top: 0;
    font-weight: bold;
    font-size: 10px;
    border-right: 1px solid;
    border-bottom: 1px solid;
}

.user-section-wrapper {
    position: absolute;
    right: 5px;
    top: -7px;
}

.user-section-wrapper img {
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
    border-radius: 50%;
}

.tile-wrapper {
    margin: 5% 0;
    font-size: 22px;
}

.tile-content-wrapper {
    position: relative;
    padding: 10px;
    margin-top: 15%;
    padding-top: 15%;
    border: 1px solid;
    color: #000;
    text-align: center;
    border-radius: 5px;
    background: linear-gradient(#dcdfe1, white);
}

.tile-header-icon {
    width: 50px;
    display: inline-block;
    border-radius: 50%;
    background-color: #31525B;
    text-align: center;
    padding: 5% 0;
    position: absolute;
    top: -30%;
    left: 36%;
    right: 36%;
    color: #fff;
}

.tile-content-wrapper .candidate-header {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
}

.candidate-download-wrapper a {
    border-bottom: 1px solid #A1D066;
    padding: 0 8px;
    color: #A1D066;
    font-size: 16px;
}

.candidate-download-wrapper a:hover {
    color: #31525B;
    border-bottom: 1px solid #31525B;
}

.table-footer {
    border-top: 1px solid lightgray;
    padding: 5px;
    font-size: 18px;
}

.view-more-link {
    text-align: right;
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

.navigate-wrapper {
    text-align: right;
}

.navigate-wrapper .navigate-icon {
    margin: 0 15px;
    font-size: 22px;
    cursor: pointer;
}

.candidate-download-wrapper {
    min-height: 33px;
}
