  <section class="detail-content-wrapper">
    <div class="content-wrapper" *ngFor="let fieldObject of fieldData; let offset = index">
      <!-- select section -->
      <div class="select-wrapper" *ngIf="fieldObject['selectFlag']">
        <div class="header-title">{{fieldObject['title']}}</div>
        <app-filter [ngClass]="{'filter-wrapper test': true, 'filter-wrapper error-select': ((fieldObject['requiredFlag'] || (fieldObject['countryFlag'] && (resultSetObject['countries'] && resultSetObject['countries'].length > 0 && (resultSetObject['countries'][0]['name']).toLowerCase() !== 'india'))) && ((!resultSetObject[fieldObject['key']]) || (resultSetObject[fieldObject['key']] && resultSetObject[fieldObject['key']].length === 0)))}" [dropdownList]="fieldObject['dropdownData']" [selectedItems]="fieldObject['dropdownSelected']" [dropdownSettings]="fieldObject['dropdownSetting']" (selectedItemEmitter)="handleSelectedItems($event, fieldObject['key'])" (addNewEmitter)="addNewItemHandler($event, fieldObject['key'], offset)"></app-filter>
      </div>
      <!-- multi select field section -->
      <span class="header-title" *ngIf="fieldObject['multiSelect']">{{fieldObject['title']}}</span>
      <div class="multi-select-wrapper" *ngIf="fieldObject['multiSelect']">
        <div class="internal-wrapper" *ngFor="let filterObject of fieldObject['detailList']; let i = index">
          <span class="input-sub-title">{{filterObject['title']}}</span>
          <app-filter [ngClass]="{'': true, 'error-select': (filterObject['requiredFlag'] && ((!resultSetObject[filterObject['key']]) || (resultSetObject[filterObject['key']] && resultSetObject[filterObject['key']].length === 0)))}" [dropdownList]="filterObject['dropdownData']" [selectedItems]="filterObject['dropdownSelected']" [dropdownSettings]="filterObject['dropdownSetting']" [key]="filterObject['key']" (selectedItemEmitter)="handleSelectedItems($event, filterObject['key'], offset)" (addNewEmitter)="addNewItemHandler($event, filterObject['key'], offset)"></app-filter>
          <span class="error-msg" *ngIf="filterObject['errorFlag']">Please select to proceed</span>
        </div>
      </div>
      <!-- input field section -->
      <span class="header-title" *ngIf="!fieldObject['multiSelect'] && !fieldObject['selectFlag'] && !fieldObject['optional']">{{fieldObject['title']}}</span>
      <div class="input-wrapper" *ngIf="!fieldObject['multiSelect'] && !fieldObject['selectFlag'] && !fieldObject['optional']">
        <div class="internal-wrapper col-sm-12 row" *ngFor="let detail of fieldObject['detailList']">
          <span class="col-sm-4 input-title">{{detail['title']}}</span>
          <input [type]="detail['type']" [ngClass]="{'col-sm-8': true, 'error': (detail['requiredFlag'] && ((!detail['data']) || (!resultSetObject[detail['key']])))}" (keyup)="setInputData($event, detail['key'], detail['data'], detail['pattern'], detail['type'])" [placeholder]="detail['placeholder']" required="detail['requiredFlag']" [(ngModel)]="detail['data']">
        </div>
      </div>
      <!-- optional wrapper -->
      <span class="header-title" *ngIf="!fieldObject['multiSelect'] && !fieldObject['selectFlag'] && fieldObject['optional'] && ((fieldObject['countryFlag'] && (resultSetObject['countries'] && resultSetObject['countries'].length !== 0)) || !fieldObject['countryFlag'])">{{fieldObject['title']}}</span>
      <div class="note-text" *ngIf="fieldObject['noteFlag'] && !fieldObject['multiSelect'] && !fieldObject['selectFlag'] && fieldObject['optional'] && ((fieldObject['countryFlag'] && (resultSetObject['countries'] && resultSetObject['countries'].length !== 0)) || !fieldObject['countryFlag'])"><span class="note-title">Note: </span>{{fieldObject['noteText']}}</div>
      <div class="input-wrapper" *ngIf="!fieldObject['multiSelect'] && !fieldObject['selectFlag'] && fieldObject['optional'] && ((fieldObject['countryFlag'] && (resultSetObject['countries'] && resultSetObject['countries'].length !== 0)) || !fieldObject['countryFlag'])">
        <div class="internal-wrapper detail-level-wrapper col-sm-12 row" *ngFor="let detail of fieldObject['detailList']">
          <span class="col-sm-4 input-title" *ngIf="(!fieldObject['countryFlag'] || (fieldObject['countryFlag'] && resultSetObject['countries'] && resultSetObject['countries'].length > 0 && detail['selectedCountry'].includes((resultSetObject['countries'][0]['name']).toLowerCase())))">{{detail['title']}}</span>
          <input *ngIf="detail['inputFlag'] && (!fieldObject['countryFlag'] || (fieldObject['countryFlag'] && resultSetObject['countries'] && resultSetObject['countries'].length > 0 && detail['selectedCountry'].includes((resultSetObject['countries'][0]['name']).toLowerCase())))" [type]="detail['type']" [ngClass]="{'col-sm-8': true, 'error': (detail['requiredFlag'] && ((!detail['data']) || (!resultSetObject[detail['key']])))}" (keyup)="setInputData($event, detail['key'], detail['data'], detail['pattern'], detail['type'])" [placeholder]="detail['placeholder']" required="detail['requiredFlag']" [(ngModel)]="detail['data']">
          <app-filter *ngIf="detail['selectFlag'] && (!fieldObject['countryFlag'] || (fieldObject['countryFlag'] && resultSetObject['countries'] && resultSetObject['countries'].length > 0 && detail['selectedCountry'].includes((resultSetObject['countries'][0]['name']).toLowerCase())))" [ngClass]="{'col-sm-8': true, 'error-select': (detail['requiredFlag'] && ((!resultSetObject[detail['key']]) || (resultSetObject[detail['key']] && resultSetObject[detail['key']].length === 0)))}" [dropdownList]="detail['dropdownData']" [selectedItems]="detail['dropdownSelected']" [dropdownSettings]="detail['dropdownSetting']" (selectedItemEmitter)="handleSelectedItems($event, detail['key'])" (addNewEmitter)="addNewItemHandler($event, detail['key'], offset)"></app-filter>
          <div class="note-text" *ngIf="detail['noteFlag'] && (!fieldObject['countryFlag'] || (fieldObject['countryFlag'] && resultSetObject['countries'] && resultSetObject['countries'].length > 0 && detail['selectedCountry'].includes((resultSetObject['countries'][0]['name']).toLowerCase())))"><span class="note-title">Note: </span>{{detail['noteText']}}</div>
        </div>
      </div>
    </div>
  </section>