.multi-select-wrapper, .input-wrapper {
    border: 1px solid #A1D066;
    padding: 15px;
    border-radius: 5px;
    margin: 15px;
}

.input-wrapper input {
    padding: 5px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #A1D066;
    color: #000;
}

.detail-content-wrapper {
    padding: 25px 10px;
    font-size: 22px;
}

.detail-content-wrapper .header-title {
    color: #31525B;
    font-weight: bold;
    font-size: 26px;
}

.internal-wrapper {
    margin: 8px 0 !important;
}

.internal-wrapper .input-title {
    padding-top: 5px;
    padding-bottom: 5px;
    color: #FF6C02;
}

.input-sub-title {
    color: #FF6C02;
}

.select-wrapper .header-title {
    margin: 10px 0px;
}

.error {
    color: red !important;
    border: 1px solid red !important;
}

.error-msg {
    color: red !important;
}

.error::placeholder {
    color: red !important;
}

.optional-filter-wrapper {
    padding: 0 !important;
}

.detail-level-wrapper app-filter {
    padding: 0 !important;
}

.note-text {
    font-size: 18px;
    font-weight: bold;
    padding: 5px 0 0 15px;
}

.note-title {
    color: forestgreen;
    font-style: italic;
}