<!-- user profile wrapper -->
<section class="user-profile-wrapper row">
    <!-- header section -->
    <!-- Section heading -->
    <section class="header-wrapper col-sm-12 row">
        <section class="header-title col-sm-6">
          <mdb-icon class="back-icon" (click)="previousRoute()" fas icon="chevron-circle-left"></mdb-icon>
          <span>User Profile</span>
        </section>
        <section class="header-action col-sm-6">
            <button class="create-button" (click)="navigateDashboard()">Go To Dashboard</button>
        </section>
    </section>
    <!-- side menu options-->
    <section class="col-sm-3 option-list-wrapper" [style.height.px]="documentHeight">
        <div class="option-list-header" [title]="loggedUserData?.name">Hi, {{loggedUserData?.name}}</div>
        <div class="option-tile" *ngFor="let option of optionList" [title]="option['title']" (click)="handleSelectedData(option)" [style.backgroundColor]="option['bgColor']">{{option['title']}}</div>
    </section>
    <!-- main content section -->
    <section class="col-sm-9 data-wrapper" [style.height.px]="documentHeight">
        <app-user-basic-detail [userDetail]="userData" *ngIf="basicDetailFlag"></app-user-basic-detail>
        <app-personal-detail [userDetails]="userData" *ngIf="personalDetailFlag"></app-personal-detail>
        <app-change-password *ngIf="changePasswordFlag"></app-change-password>
    </section>
</section>