<section class="user-dashboard-wrapper row">
    <!-- quick link section -->
    <section class="col-sm-12 quick-link-section">
        <ul class="list-wrapper">
            <li class="menu"><a href="javascript:void(0);" (click)="navigatePage('candidate-dashboard')">Candidate Dashboard</a></li>
            <li class="menu"><a href="javascript:void(0);" (click)="navigatePage('interview-dashboard')">Interview Dashboard</a></li>
            <li class="menu"><a href="javascript:void(0);" (click)="navigatePage('submittal-dashboard')">Submittal Dashboard</a></li>
            <li class="menu"><a href="javascript:void(0);" (click)="navigatePage('requirement-dashboard')">Requirement Dashboard</a></li>
            <li class="menu"><a href="javascript:void(0);" (click)="navigatePage('candidate-create')">Add Candidate</a></li>
            <a href="javascript:void(0)" class="sub-menu-icon" title="view more" (click)="showSubMenu()"><mdb-icon fas icon="bars"></mdb-icon></a>
            <div class="sub-menu" *ngIf="viewMoreMenuFlag">
                <li class="" (click)="navigatePage('client-dashboard')"><a href="javascript:void(0);">Client Dashboard</a></li>
                <li class="" (click)="navigatePage('users-dashboard')"><a href="javascript:void(0);">User Dashboard</a></li>
                <li class="" (click)="navigatePage('pending-candidate-dashboard')"><a href="javascript:void(0);">Pending Dashboard</a></li>
                <div class="configure-menu">Configure Menu</div>
            </div>
        </ul>
    </section>
    <section class="col-xs-12 col-sm-12 row user-dashboard-container" [style.height.px]="documentHeight">
    <!-- user intro section -->
    <section class="user-intro-wrapper row col-xs-12 col-sm-12">
        <div class="user-detail-section col-xs-6 col-sm-6">
            <img class="user-image" *ngIf="loggedUserDetails['profileImage']" [src]="'http://pqrdb.geval6.com/api/profileImages/' + loggedUserDetails['profileImage']" alt="user-image"/>
            <div class="user-title-image" *ngIf="!loggedUserDetails['profileImage'] && loggedUserDetails['name']" [title]="loggedUserDetails['name']">{{(loggedUserDetails['firstName']).charAt(0) | uppercase}}{{(loggedUserDetails['lastName']).charAt(0) | uppercase}}</div>
            <span class="welcome-text-title">W</span>elcome! 
            <span class="user-detail">{{loggedUserDetails['name']}}</span>
        </div>
        <!-- setting wrapper -->
        <div class="action-wrapper col-xs-6 col-sm-6">
            <span class="add-widget-icon" (click)="openModal()">
                <button class="action-btn">Configure Widgets</button>
            </span>
        </div>
    </section>
        <!-- candidate list wrapper -->
        <section class="col-sm-12 col-md-8 candidate-list-wrapper" *ngIf="userConfig.includes('recentCandidates') && loggedUserDetails['IsRecentCandidateTileVisible']">
            <!-- header title -->
            <div class="dashboard-tile-title">
                <span>Recently Created Candidates:</span>
                <span class="action-icon-wrapper">
                    <mdb-icon fas icon="minus-circle" (click)="removeWidget('recentCandidates')" title="remove-widget"></mdb-icon>
                </span>
            </div>
            <div class="table-wrapper">
                <!-- <app-data-table [config]="candidateListConfig" [data]="recentCandidatesList" [link]="'candidate-dashboard'"></app-data-table> -->
                <app-candidate-short-tile class="row" [data]="recentCandidatesList"></app-candidate-short-tile>
                <!-- <div class="view-more-wrapper" title="Go to Candidate Dashboard" (click)="navigatePage('candidate-dashboard')" *ngIf="recentCandidatesList && recentCandidatesList.length !== 0">
                    <div class="navigate-icon-wrapper">
                        <mdb-icon class="animated fadeOutRight infinite" fas icon="angle-double-right"></mdb-icon>
                    </div>
                </div> -->
            </div>
        </section>
        <!-- resume list wrapper -->
        <section class="col-sm-12 col-md-4 resume-list-wrapper"  *ngIf="userConfig.includes('pendingCandidates') && loggedUserDetails['IsPendingCandidateTileVisible']">
            <!-- header title -->
            <div class="dashboard-tile-title">
                <span>Pending Candidates:</span>
                <span class="action-icon-wrapper">
                    <mdb-icon fas icon="minus-circle" (click)="removeWidget('pendingCandidates')" title="remove-widget"></mdb-icon>
                </span>
            </div>
            <div class="table-wrapper">
                <app-data-table [config]="pendingCandidateListConfig" [data]="pendingCandidatesList" [link]="'pending-candidate-dashboard'"></app-data-table>
            </div>
        </section>
        <!-- overview tiles section -->
        <!-- <section class="col-sm-12 overview-tile-wrapper">
            <app-overview-tile class="row" [candidateStatisticsData]="candidateStatisticsList"></app-overview-tile>
        </section> -->
        <section class="col-sm-12 overview-tile-wrapper" *ngIf="userConfig.includes('candidateStatistics') && loggedUserDetails['IsProgressReportTileVisible']">
            <!-- header title -->
            <div class="dashboard-tile-title">
                <span>Progress Report:</span>
                <span class="action-icon-wrapper">
                    <mdb-icon fas icon="minus-circle" (click)="removeWidget('candidateStatistics')" title="remove-widget"></mdb-icon>
                </span>
            </div>
            <div class="table-wrapper">
                <app-overview-tile class="row" [candidateStatisticsData]="candidateStatisticsList"></app-overview-tile>
            </div>
        </section>
        <!-- pie chart tile wrapper -->
        <section class="col-sm-12 col-md-4 resume-list-wrapper"  *ngIf="userConfig.includes('user') && loggedUserDetails['IsTalentManagerTileVisible']">
            <!-- header title -->
            <div class="dashboard-tile-title">
                <span>Your Progress Statistics:</span>
                <span class="action-icon-wrapper">
                    <mdb-icon fas icon="minus-circle" (click)="removeWidget('user')" title="remove-widget"></mdb-icon>
                </span>
            </div>
            <div class="table-wrapper">
                <app-pie-chart [data]="userList"></app-pie-chart>
            </div>
        </section>
        <!-- recent searches wrapper -->
        <section class="col-sm-12 col-md-4 resume-list-wrapper"  *ngIf="userConfig.includes('recentSearches')">
            <!-- header title -->
            <div class="dashboard-tile-title">
                <span>Recent Searches:</span>
                <span class="action-icon-wrapper">
                    <mdb-icon fas icon="minus-circle" (click)="removeWidget('users')" title="remove-widget"></mdb-icon>
                </span>
            </div>
            <div class="table-wrapper">
                <app-data-table></app-data-table>
            </div>
        </section>
        <!-- team wrapper -->
        <section class="col-sm-12 col-md-12 resume-list-wrapper"  *ngIf="userConfig.includes('users') && loggedUserDetails['IsTalentManagerTileVisible']">
            <!-- header title -->
            <div class="dashboard-tile-title">
                <span>Talent Managers:</span>
                <span class="action-icon-wrapper">
                    <mdb-icon fas icon="minus-circle" (click)="removeWidget('users')"  title="remove-widget"></mdb-icon>
                </span>
            </div>
            <div class="table-wrapper">
                <app-team [userData]="usersList"></app-team>
            </div>
        </section>
        <!-- pending user list wrapper -->
        <section class="col-sm-12 col-md-8 candidate-list-wrapper" *ngIf="loggedUserDetails['IsAdmin']">
            <!-- header title -->
            <div class="dashboard-tile-title">
                <span>Pending users:</span>
                <!-- <span class="action-icon-wrapper">
                    <mdb-icon fas icon="minus-circle" (click)="removeWidget('recentCandidates')" title="remove-widget"></mdb-icon>
                </span> -->
            </div>
            <div class="table-wrapper">
                <!-- <app-data-table [config]="candidateListConfig" [data]="recentCandidatesList" [link]="'candidate-dashboard'"></app-data-table> -->
                <app-pending-user-short-tile class="row" [data]="pendingUserList"></app-pending-user-short-tile>
                <!-- <div class="view-more-wrapper" title="Go to Candidate Dashboard" (click)="navigatePage('candidate-dashboard')" *ngIf="recentCandidatesList && recentCandidatesList.length !== 0">
                    <div class="navigate-icon-wrapper">
                        <mdb-icon class="animated fadeOutRight infinite" fas icon="angle-double-right"></mdb-icon>
                    </div>
                </div> -->
            </div>
        </section>
        <!-- no widgets wrapper -->
        <section class="col-sm-12 col-md-12 no-widget-wrapper" *ngIf="showNoResultFlag">
            No Widgets Available
        </section>
    </section>
</section>

<!-- modal component -->
<app-modal [displayModal]="showPopUpFlag" [modalConfigSetter]="modalConfig" (hideModalEmitter)="handleCloseModal($event)" (proceedModalEmitter)="proceedModal($event)" (saveEmitter)="saveWidget($event)"></app-modal>
