.user-dashboard-wrapper {
    color: #31525B;
}

.dashboard-tile-title {
    margin: 5px;
    font-weight: bold;
    font-size: 22px;
}

.table-wrapper {
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: #fff;
    /* view more style */
    position: relative;
    padding-right: 25px;
    margin-bottom: 10px;
    font-size: 18px;
}

.action-icon-wrapper {
    float: right;
    margin: 0 10px;
    color: #31525B;
    cursor: pointer;
}

.action-icon-wrapper:hover {
    color: #E32227;
}

.user-intro-wrapper {
    border-bottom: 1px solid #31525B;
    margin: 10px 0 !important;
    padding-top: 5px;
    padding-bottom: 5px;
}

.user-intro-wrapper .user-detail-section {
    font-size: 22px;
    font-weight: bold;
    color: #31525B;
}

.user-intro-wrapper .user-detail-section .user-detail {
    font-size: 40px;
    font-weight: bold;
}

.user-intro-wrapper .user-detail-section .welcome-text-title {
    font-size: 30px;
}

.user-intro-wrapper .user-detail-section .user-image {
    width: 100px;
    height: 80px;
    border-radius: 50%;
}

.user-intro-wrapper .action-wrapper {
    text-align: right;
    padding: 25px 0;
}

.user-intro-wrapper .action-wrapper .add-widget-icon {
    color: rebeccapurple;
    font-size: 22px;
    cursor: pointer;
}

.user-intro-wrapper .action-wrapper .add-widget-icon:hover {
    color: green;
}

.quick-link-section {
    padding: 0px;
    font-size: 18px;
}

.quick-link-section .list-wrapper {
    color: #fff;
    background: #FF6C02;
    padding: 0 20px;
}

.quick-link-section .list-wrapper .menu {
    display: inline-block;
    cursor: pointer;
    // width: 25%;
    width: 19%;
    text-align: center;
}

.quick-link-section .list-wrapper .menu:nth-child(5) {
    width: 22% !important;
}

.quick-link-section .list-wrapper .menu a {
    color: #fff;
    display: block;
    padding: 10px;
    font-size: 22px;
}

.quick-link-section .list-wrapper .menu:hover {
    background-color: #31525B;
    color: #fff;
}

.quick-link-section .list-wrapper .menu:hover a {
    color: #fff;
}

.view-more-wrapper {
    width: 25px;
    height: 100%;
    background-color: #31525B;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0.5;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

.navigate-icon-wrapper {
    margin: 0 20%;
    color: #fff;
    opacity: 0.5;
    position: absolute;
    top: 45%;
}

.navigate-icon-wrapper .animated {
    animation-duration: 2s;
}

.view-more-wrapper:hover {
    opacity: 1;
}

.view-more-wrapper:hover .navigate-icon-wrapper {
    opacity: 1;
}

.action-btn {
    color: #fff;
    background: #A1D066;
    cursor: pointer;
    outline: 0;
    margin: 0 10px;
    font-size: 20px;
    border-radius: 5px;
    display: inline-block;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    line-height: 1.5;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.action-btn:hover {
    background: #31525B;
    color: #fff;
}

.user-dashboard-container {
    overflow-y: scroll;
}

.no-widget-wrapper {
    text-align: center;
    font-size: 28px;
}

.user-title-image {
    width: 70px;
    height: 50px;
    display: inline-block;
    border-radius: 50%;
    background-color: #31525B;
    text-align: center;
    padding: 8px;
    margin-right: 10px;
    color: #fff;
}

.list-wrapper li:nth-child(6) {
    display: none !important;
    position: absolute;
    left: 0;
    bottom: 0;
}

.list-wrapper li:nth-child(7) {
    display: none !important;
    position: absolute;
    left: 50px;
    bottom: 0;
}

.list-wrapper li:nth-child(8) {
    display: none !important;
    position: absolute;
    left: 100px;
    bottom: 0;
}

.list-wrapper:hover li:nth-child(6) {
    display: inline-block !important;
}

.list-wrapper:hover li:nth-child(7) {
    display: inline-block !important;
}

.list-wrapper:hover li:nth-child(8) {
    display: inline-block !important;
}

.sub-menu-icon {
    position: absolute;
    right: 20px;
    top: 0px;
    font-size: 38px;
    color: #fff;
}

.sub-menu {
    position: absolute;
    right: 25px;
    display: inline-block;
    top: 40px;
    background-color: #31525B;
    color: #fff;
    border-radius: 5px;
    border: 1px solid #31525B;
    border-bottom: none;
    z-index: 9999;
}

.sub-menu li {
    padding: 10px 15px;
    text-align: center;
    border-bottom: 1px solid #fff;
    cursor: pointer;
    list-style-type: none;
}

.sub-menu li:hover {
    background-color: #A1D066;
}

.sub-menu li a {
    color: #fff;
}

.sub-menu .configure-menu {
    background-color: orange;
    text-align: center;
    padding: 5px;
    cursor: pointer;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.sub-menu .configure-menu:hover {
    background-color: #A1D066;
}