.backdrop {
    width: 100%;
    height: 90vh;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #000;
    opacity: 0.5;
    z-index: 99;
}

button.add-btn, button.remove-btn, .btn {
    color: #fff;
    background: #A1D066;
    cursor: pointer;
    outline: 0;
    margin: 0 10px;
    font-size: 18px;
    border-radius: 5px;
    display: inline-block;
    font-weight: 700;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    line-height: 1.5;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

button.remove-btn {
    background: darkred;
}

button.add-btn:hover, button.remove-btn:hover, .btn:hover {
    background-color: #31525B;
}

.modal-wrapper {
    position: absolute;
    background-color: #fff;
    width: 40%;
    left: 30%;
    right: 30%;
    top: 5%;
    border-radius: 5px;
    z-index: 9999;
    border: 1px solid #FF6C02;
}

.modal-body {
    height: 250px;
    overflow-y: scroll;
    font-size: 22px;
}

.modal-header .close {
    outline: none;
    color: #fff;
}

.modal-header {
    color: #fff;
    background-color: #FF6C02;
}

.modal-footer {
    border-top: 1px solid #FF6C02;
}

.modal-header .modal-title {
    font-weight: bold;
}

.field-wrapper {
    margin: 10px 0;
}

.title-wrapper {
    margin-bottom: 5px;
    font-weight: bold;
}

.input-field, .text-area-field {
    width: 100%;
    border-radius: 5px;
    border: 1px solid lightgray;
    padding: 5px 10px;
    outline: none;
}

.warning-wrapper {
    color: orange;
    padding: 5px;
    background-color: antiquewhite;
    border-radius: 5px;
}

.warning-icon {
    margin: 0 5px;
}

.tile-wrapper {
    border: 1px solid lightgray;
    border-radius: 5px;
    padding: 10px;
    background-color: #FF6C02;
    color: #fff;
    margin: 5px 0;
    font-size: 24px;
}

.action-icon {
    float: right;
    cursor: pointer;
}

.action-icon.active:hover {
    color: green;
}

.action-icon.inactive:hover {
    color: red;
}

.skip-link {
    text-decoration: underline;
    color: blue;
}