<div class="backdrop" *ngIf="displayModalFlag"></div>
<div class="modal-wrapper" *ngIf="displayModalFlag">
    <div class="modal-header">
        <h4 class="modal-title">{{modalConfig['title']}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="closeModal()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <!-- warning text wrapper -->
        <div class="warning-wrapper" *ngIf="modalConfig['warningFlag']">
            <span class="warning-icon"><mdb-icon class="warning" fas icon="exclamation-circle"></mdb-icon></span>
            <span class="warning-text">{{modalConfig['warningText']}}</span>
        </div>
        <div class="field-wrapper" *ngFor="let field of modalConfig['fieldList']; let i = index">
            <!-- tile wrapper -->
            <div class="tile-wrapper" *ngIf="field['tileFlag']">{{field['title']}}
                <span class="action-icon active" *ngIf="!field['isActive']" (click)="toggleAction(field['key'])"><button class="add-btn">Add</button></span>
                <span class="action-icon inactive" *ngIf="field['isActive']" (click)="toggleAction(field['key'])"><button class="remove-btn">Remove</button></span>
            </div>
            <!-- user wrapper -->
            <div class="tile-wrapper" *ngIf="modalConfig['userFlag']">{{field['name']}}
                <span class="action-icon active" *ngIf="!field[modalConfig['accessKey']]" (click)="toggleUserAccess(field['id'])"><button class="add-btn">Grand</button></span>
                <span class="action-icon inactive" *ngIf="field[modalConfig['accessKey']]" (click)="toggleUserAccess(field['id'])"><button class="remove-btn">Revoke</button></span>
            </div>
            <!-- view only section -->
            <span class="title" *ngIf="!field['tileFlag'] && field['title']">{{field['title']}}: </span>
            <span class="value" *ngIf="field['value']">{{field['value']}}</span>
            <!-- title section -->
            <div class="title-wrapper" *ngIf="field['inputFlag']">{{field['inputConfig']['title']}}:</div>
            <div class="title-wrapper" *ngIf="field['selectFlag']">{{field['selectConfig']['title']}}:</div>
            <div class="title-wrapper" *ngIf="field['textareaFlag']">{{field['textareaConfig']['title']}}:</div>
            <!-- input field -->
            <input type="text" class="input-field" *ngIf="field['inputFlag']" [disabled]="field['inputConfig']['disable']" [placeholder]="field['inputConfig']['placeholder']" [(ngModel)]="field['inputConfig']['data']">
            <!-- select field -->
            <app-filter *ngIf="field['selectFlag']" [dropdownList]="field['selectConfig']['dropdownData']" [selectedItems]="field['selectConfig']['dropdownSelected']" [dropdownSettings]="field['selectConfig']['dropdownSetting']" (selectedItemEmitter)="handleSelectedData($event, field['selectConfig']['key'], i)"></app-filter>
            <!-- text area field -->
            <textarea class="text-area-field" *ngIf="field['textareaFlag']" [placeholder]="field['textareaConfig']['placeholder']" [(ngModel)]="field['textareaConfig']['data']"></textarea>
        </div>
        <!-- content section -->
        <div class="content-wrapper" *ngIf="modalConfig['contentFlag']">{{modalConfig['content']}}</div>
    </div>
    <div class="modal-footer">
        <a href="javascript:void(0);" class="skip-link" *ngIf="modalConfig['skipFlag']" (click)="skipModal()">Skip</a>
        <button type="button" class="btn btn-outline-dark" *ngIf="modalConfig['closeFlag']" (click)="closeModal()">Close</button>
        <button type="button" class="btn btn-outline-dark" *ngIf="modalConfig['cancelFlag']" (click)="closeModal()">Cancel</button>
        <button type="button" class="btn btn-outline-dark" *ngIf="modalConfig['noFlag']" (click)="noActionModal()">No</button>
        <button type="button" class="btn btn-outline-dark" *ngIf="modalConfig['saveFlag']" (click)="saveModal()">Save</button>
        <button type="button" class="btn btn-outline-dark" *ngIf="modalConfig['proceedFlag']" (click)="proceedModal()">Proceed</button>
        <button type="button" class="btn btn-outline-dark" *ngIf="modalConfig['okFlag']" (click)="proceedModal()">Ok</button>
        <button type="button" class="btn btn-outline-dark" *ngIf="modalConfig['yesFlag']" (click)="yesModal()">Yes</button>
        <button type="button" class="btn btn-outline-dark" *ngIf="modalConfig['applyFlag']" (click)="proceedModal()">Apply</button>
    </div>
</div>