/* header styling */
.header-wrapper {
    padding: 10px;
    background-color: #FF6C02;
    font-size: 22px;
    font-weight: 500;
}

.header-wrapper .header-title span {
    font-size: 28px;
    font-weight: bold;
    color: #fff;
}

.header-action {
    text-align: right;
}

button.create-button, button.search-button {
    color: #fff;
    background-color: #A1D066;
    cursor: pointer;
    outline: none;
    margin: 0 10px;
    font-size: 15px;
    border-radius: 5px;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    font-size: 18px;
    padding: 5px 10px;
    line-height: 1.5;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

button.create-button:hover, button.search-button:hover {
    color: #fff;
    background-color: #31525B;
}

.option-list-wrapper {
    padding: 0px !important;
    border-right: 1px solid lightgray;
}

.option-list-header {
    text-align: center;
    padding: 10px;
    margin: 10px 0 !important;
    font-size: 24px;
    font-weight: bold;
    color: #31525B;
    border-bottom: 1px solid lightgray;
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
}

.option-tile {
    padding: 10px;
    background-color: #FF6C02;
    font-size: 24px;
    color: #fff;
    margin: 10px 0;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
}

.option-tile:hover {
    background-color: #31525B !important;
}

.user-profile-wrapper {
    padding: 0 0 10px;
}

.option-list-wrapper .option-wrapper, .data-wrapper .data-content-wrapper {
    overflow-y: scroll;
}

.header-title-wrapper {
    padding: 20px 0 0;
}

.header-title-wrapper .content-title {
    font-size: 24px;
    font-weight: bold;
}

.content-action {
    text-align: right;
}

.data-item {
    padding: 5px 15px;
    background-color: #31525B;
    color: #fff;
    border-radius: 5px;
    margin: 15px 0;
}

.data-item-value {
    font-size: 24px;
}

.data-item .icon {
    float: right;
    font-size: 24px;
    margin: 0 10px;
    cursor: pointer;
}

.no-data-wrapper {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 5% 0;
}

.input-box {
    width: 50%;
    border-radius: 5px;
    outline: none;
    padding: 3px 15px;
    border: none;
    font-size: 20px;
}

.search-input {
    outline: none;
}