<!-- user profile wrapper -->
<section class="user-report-wrapper row">
    <!-- header section -->
    <!-- Section heading -->
    <section class="header-wrapper col-sm-12 row">
        <section class="header-title col-sm-6">
          <mdb-icon class="back-icon" (click)="previousRoute()" fas icon="chevron-circle-left"></mdb-icon>
          <span>Data Updation</span>
        </section>
        <section class="header-action col-sm-6">
            <button class="create-button" (click)="navigateDashboard()">Go To Dashboard</button>
        </section>
    </section>
    <!-- side menu options-->
    <section class="col-sm-3 option-list-wrapper">
        <div class="option-list-header">Datasets</div>
        <div class="option-wrapper" [style.height.px]="documentHeight">
            <div class="option-tile" *ngFor="let detail of detailConfig" [title]="detail['title']" (click)="getSelectedOptionData(detail['id'])" [style.backgroundColor]="detail['bgColor']">{{detail['title']}}</div>
        </div>
    </section>
    <!-- main content section -->
    <section class="col-sm-9 data-wrapper">
        <!-- title & add wrapper -->
        <section class="col-sm-12 row header-title-wrapper">
            <div class="col-sm-4 content-title">{{selectedRecordTitle}}</div>
            <input type="text" class="col-sm-5" (keyup)="searchUser($event)" placeholder="search here...">
            <div class="col-sm-3 content-action">
                <button class="create-button" (click)="openAddModal(selectedRecordTitle);">New {{selectedRecordTitle}}</button>
            </div>
        </section>
        <hr>
        <!-- data wrapper -->
        <section class="col-sm-12 data-content-wrapper" [style.height.px]="documentHeight" *ngIf="selectedRecordData && selectedRecordData.length !== 0">
            <div class="data-item" *ngFor="let data of selectedRecordData">
                <span class="data-item-value" *ngIf="!data['editFlag']">{{data['name']}}</span>
                <input type="text" class="input-box" *ngIf="data['editFlag']" [(ngModel)]="dataValue">
                <span class="icon" title="delete" *ngIf="!data['editFlag']" (click)="deleteItemConfirmation(data)"><mdb-icon fas icon="trash"></mdb-icon></span>
                <span class="icon" title="update" *ngIf="!data['editFlag']" (click)="editItem(data)"><mdb-icon fas icon="pen"></mdb-icon></span>
                <span class="icon" title="cancel" *ngIf="data['editFlag']" (click)="cancelItem(data)"><mdb-icon fas icon="times"></mdb-icon></span>
                <span class="icon" title="save" *ngIf="data['editFlag']" (click)="saveItem(data)"><mdb-icon fas icon="check"></mdb-icon></span>
            </div>
        </section>
        <!-- no data wrapper -->
        <section class="col-sm-12 data-content-wrapper" [style.height.px]="documentHeight" *ngIf="!selectedRecordData || (selectedRecordData && selectedRecordData.length === 0)">
            <div class="no-data-wrapper">No Data Available</div>
        </section>
    </section>
</section>

<!-- modal component -->
<app-modal [displayModal]="showPopUpFlag" [modalConfigSetter]="modalConfig" (hideModalEmitter)="handleCloseModal($event)" (proceedModalEmitter)="handleProceedEvent($event)" (saveEmitter)="saveWidget($event)" (yesModalEmitter)="yesModalHandler($event);" (noModalEmitter)="noModalHandler();"></app-modal>