<!-- candidate tile wrapper -->
<section class="candidate-tile-container col-sm-3 row" *ngFor="let data of candidateList; let i = index;" [style.height.px]="data['heightValue']">
    <section class="candidate-tile-wrapper" (click)="navigateCandidateEdit(data['id'], data)">
        <!-- date section wrapper -->
        <div class="date-section-wrapper" *ngIf="data['createdOn']" title="MM/DD/YYYY">{{data['createdOn'] | amLocal | amDateFormat: 'MM/DD/YYYY'}}</div>
        <section class="candidate-detail-wrapper col-sm-12">
            <div class="candidate-name candidate-detail" *ngIf="data['fileName']" [title]="data['fileName']">{{data['fileName']}}</div>
            <section class="action-wrapper col-sm-12">
                <span class="download-icons" *ngIf="data['fileName']" (click)="downloadResume($event, data['fileName']);">
                    <mdb-icon title="download" class="normal" fas icon="arrow-down"></mdb-icon>
                    <mdb-icon title="download" class="hovered animated headShake infinite" fas icon="arrow-down"></mdb-icon>
                </span>
            </section>
        </section>
    </section>
</section>
<!-- no record found wrapper -->
<section class="no-record-wrapper col-sm-12" *ngIf="!candidateList || (candidateList && candidateList.length === 0)">
    <span class="no-record-text">No Records Found</span>
</section>