.candidate-tile-container {
    padding: 10px;
    transition: height 0.4s;
}

.candidate-tile-wrapper {
    padding: 10px;
    border-radius: 5px;
    width: 100%;
    text-align: center;
    cursor: pointer;
    background-color: #31525B;
    color: #fff;
}

.candidate-detail-wrapper {
    font-size: 16px;
}

.candidate-detail-wrapper .candidate-detail {
    margin: 15px 0 8px;
}

.candidate-detail-wrapper .candidate-detail span {
    font-weight: 400;
}

.action-wrapper {
    padding: 10px;
}

.no-record-wrapper {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 50px 0;
}

.candidate-detail-link, .candidate-location, .candidate-authorization, .candidate-experience {
    text-align: left;
}

.icon-wrapper {
    margin-right: 15px;
}

.candidate-name {
    font-size: 22px;
    font-weight: bold;
    text-overflow: ellipsis;
    width: 100%;
    overflow-x: hidden;
    white-space: nowrap;
}

.candidate-job-title {
    font-size: 18px;
    font-weight: bold;
}

.download-icons {
    border-bottom: 2px solid #fff;
    padding: 0 5px;
    z-index: 2;
}

.download-icons .normal {
    display: inline-block;
}

.download-icons .hovered {
    display: none;
}

.download-icons:hover .normal {
    display: none;
}

.download-icons:hover .hovered {
    display: inline-block;
}

.date-section-wrapper {
    display: inline-block;
    background: linear-gradient(rgb(220, 223, 225), rgb(255, 255, 255));
    color: #000;
    padding: 2px;
    border-top-left-radius: 5px;
    position: absolute;
    left: 9px;
    top: 10px;
    font-weight: bold;
    font-size: 14px;
}

