.opacity-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: lightgray;
    opacity: 0.5;
    z-index: 10;
}

.container {
    z-index: 25;
    background-color: #fff;
    border-radius: 5px;
    position: absolute;
    left: 10%;
    right: 10%;
    top: 15%;
    padding: 0;
}

.container .header-wrapper {
    background-color: #FF6C02;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.container .modal-close-icon {
    float: right;
    cursor: pointer;
}

.container .main-content-wrapper {
    padding: 0 10px;
    height: 400px;
    overflow-y: scroll;
}

.container .title {
    margin: 10px 0;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 10px;
    background-color: #a1d066;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
}

.container .arrow-icon {
    float: right;
    font-size: 26px;
}

.container .round-flag {
    float: right;
}

.container .round-flag input {
    margin: 0 10px;
}

.container .interview-detail {
    font-size: 18px;
}

.container .label-text {
    width: 20%;
    font-size: 22px;
}

.container .interview-label-value-text {
    font-weight: bold;
    width: 80%;
    font-size: 22px;
}

.footer-wrapper {
    background-color: #FF6C02;
    border-top: 1px solid gray;
    padding: 10px;
    text-align: right;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.btn {
    background-color: #A1D066;
    cursor: pointer;
    color: #fff;
    margin: 0 10px;
    font-size: 14px;
    border-radius: 5px;
    min-width: 120px;
    display: inline-block;
    font-weight: 400;    
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    /* font-size: 1rem; */
    line-height: 1.5;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:hover {
    background-color: #31525B;
    color: #fff;
}

textarea {
    width: 100%;
    margin: 0px 0 15px;
    border-radius: 5px;
    height: 80px;
}

.add-btn {
    float: right;
}

.remove-round {
    margin-left: 50px;
    text-decoration: underline;
    cursor: pointer;
}