<!-- opacity wrapper -->
<section class="opacity-wrapper" *ngIf="modalDisplayFlag"></section>
<!-- container-->
<section class="container" *ngIf="modalDisplayFlag">
    <!-- header section -->
    <div class="header-wrapper">
        <span class="">Interview Details</span>
        <span class="modal-close-icon" title="close" (click)="closeModal()">X</span>
        <button class="btn add-btn" (click)="addRound();" *ngIf="!addFlag">Add Round</button>
    </div>
    <!-- content wrapper -->
    <section class="main-content-wrapper" *ngIf="interviewData && interviewData.length > 0">
        <!-- interview Details -->
        <section class="interview-detail">
            <!-- candidate detail -->
            <label class="label-text">Candidate Name:</label>
            <label class="interview-label-value-text">{{candidateName}}</label>
            <!-- interview Requirement -->
            <label class="label-text">Requirement:</label>
            <label class="interview-label-value-text">{{requirementId}} - {{requirementName}}</label>
            <!-- interview client -->
            <label class="label-text">Client:</label>
            <label class="interview-label-value-text">{{clientName}}</label>
        </section>
        <!-- submitted section -->
    <section class="submittal-section" *ngFor="let data of interviewData; let i = index">

        <div class="title" (click)="toggleHeader('submittedOpenFlag')">{{data['interviewRoundName']}}
            <span class="arrow-icon" *ngIf="i !== interviewData.length - 1 && 'round'+i+'OpenFlag'"><mdb-icon fas icon="angle-down"></mdb-icon></span>
            <span class="arrow-icon" *ngIf="i !== interviewData.length - 1 && !('round'+i+'OpenFlag')"><mdb-icon fas icon="angle-up"></mdb-icon></span>
            <span class="remove-round" *ngIf="i === interviewData.length - 1 && addFlag" (click)="removeRound(data[i])">Remove</span>
            <span class="round-flag" *ngIf="i === interviewData.length - 1">
                <input type="checkbox" [(ngModel)]="isFinalRound" name="finalRound">
                <span>Make this as Final Round</span>
            </span>
        </div>
        <div class="content-wrapper" *ngIf="('round'+i+'OpenFlag')">
            <!-- interview status -->
            <label class="label-text">Interview Status:</label>
            <app-filter *ngIf="i === interviewData.length - 1" [dropdownList]="candidateInterviewStatusConfig['dropdownData']" [selectedItems]="candidateInterviewStatusConfig['dropdownSelected']" [dropdownSettings]="candidateInterviewStatusConfig['dropdownSetting']" (selectedItemEmitter)="handleSelectedData($event, 'interviewStatus')"></app-filter>
            <label class="interview-label-value-text" *ngIf="i !== interviewData.length - 1">{{data['interviewStatusName']}}</label>
            <!-- interview comments -->
            <label class="label-text">Comments:</label>
            <textarea class="fields" *ngIf="i === interviewData.length - 1" [(ngModel)]="data['comments']" name="interviewComments" (keyup)="handleTypedEvent($event)"></textarea>
            <label class="interview-label-value-text" *ngIf="i !== interviewData.length - 1">{{data['comments']}}</label>
        </div>
    </section>
    </section>
    <!-- footer section -->
    <section class="footer-wrapper">
        <button class="btn" (click)="saveInterview()">Update</button>
        <button class="btn" (click)="closeModal()">Cancel</button>
    </section>
</section>