<!-- dashboard wrapper -->
<section class="dashboard-wrapper row">
    <section class="header-wrapper col-sm-12 row">
        <section class="header-title col-sm-6">
            <mdb-icon class="back-icon" *ngIf="!pendingFlag" (click)="previousRoute()" fas icon="chevron-circle-left"></mdb-icon>
            <span>Pending Candidates</span>
        </section>
        <!-- search wrapper -->
        <!-- <section class="search-wrapper col-sm-6">
            <app-filter [dropdownList]="userList" [selectedItems]="userSelectedList" [dropdownSettings]="userDropdownSetting" (selectedItemEmitter)="handleSelectedData($event)"></app-filter>
        </section> -->
        <section class="header-action col-sm-6">
            <button class="create-button" *ngIf="!pendingFlag" (click)="navigateDashboard()">Go To Dashboard</button>
        </section>
    </section>
    <section class="col-sm-3 user-list-wrapper">
        <div class="user-list-header">Users</div>
        <span class="header-option" (click)="selectUser()">View All</span>
        <div class="user-list-container"  [style.height.px]="documentUserHeight">
            <div class="user-tile" *ngFor="let user of userList" [title]="user['name']" (click)="handleSelectedData(user)" [style.backgroundColor]="user['bgColor']">{{user['name']}}</div>
        </div>
    </section>
    <section class="col-sm-9 candidate-list-wrapper" [style.height.px]="documentHeight">
        <app-pending-candidate-tile class="row" [candidateList]="candidateList"></app-pending-candidate-tile>
    </section>
</section>