<!-- modal opacity wrapper -->
<section class="candidate-detail-modal-wrapper" *ngIf="modalDisplayFlag">
    <section class="opacity-wrapper"></section>
    <!-- modal container -->
    <section class="modal-container">
        <!-- modal header -->
        <section class="modal-header">
            <span class="modal-header-title">Current Candidate Availability Details</span>
            <span class="modal-close-icon" *ngIf="!createCandidateFlag" (click)="cancelModal()">X</span>
        </section>
        <!-- modal body -->
        <section class="modal-body">
            <!-- view only section -->
            <section [ngClass]="{'candidateViewOnly': (isViewOnly === true), 'candidateNotViewOnly': (isViewOnly === false)}" *ngIf="!interviewFlag && editFlag && !createCandidateFlag">
                <span class="label-title">View Only Purpose?</span>
                <span class="icon close-icon" title="No" (click)="updateViewOnly(false)">No</span>
                <span class="icon open-icon" title="Yes" (click)="updateViewOnly(true)">Yes</span>
            </section>
            <!-- availability section -->
            <section [ngClass]="{'candidateCommunicated': (isCommunication === true || isCommunication === 1), 'candidateNotCommunicated': (isCommunication === false || isCommunication === 0), 'candidateOptionsViewOnly': (isViewOnly === true)}" *ngIf="!interviewFlag">
                <span class="label-title">Did you communicate with the Candidate?</span>
                <span class="icon close-icon" title="No" *ngIf="editFlag && (isViewOnly === false)" (click)="updateCandidateAvailability($event, false)">No</span>
                <span class="icon open-icon" title="Yes" *ngIf="editFlag && (isViewOnly === false)" (click)="updateCandidateAvailability($event, true)">Yes</span>
                <span class="icon close-view-icon" title="No" *ngIf="!editFlag && !isCommunication">No</span>
                <span class="icon open-view-icon" title="Yes" *ngIf="!editFlag && isCommunication">Yes</span>
            </section>
            <!-- availability detail wrapper -->
            <div class="availability-detail-wrapper" *ngIf="isCommunication && (isViewOnly === false)">
                <!-- candidate availability -->
                <label class="label-text">Is the candidate available in the market?</label>
                <app-filter [ngClass]="{'error-select': availabilityErrorFlag}" *ngIf="editFlag" [dropdownList]="candidateAvailability['dropdownData']" [selectedItems]="candidateAvailability['dropdownSelected']" [dropdownSettings]="candidateAvailability['dropdownSetting']" (selectedItemEmitter)="handleSelectedData($event, 'availability')"></app-filter>
                <label class="label-value-text" *ngIf="!editFlag && candidateAvailability['dropdownSelected'] && candidateAvailability['dropdownSelected'][0] && candidateAvailability['dropdownSelected'][0]['name']">{{candidateAvailability['dropdownSelected'][0]['name']}}</label>
                <!-- availability related fields -->
                <div *ngIf="(candidateAvailability['dropdownSelected'] && candidateAvailability['dropdownSelected'].length > 0 && candidateAvailability['dropdownSelected'][0] && candidateAvailability['dropdownSelected'][0]['id'] === 1) || (availability && availability.length !== 0 && availability[0] && availability[0] !== 1 && availability[0]['id'] === 1) || (availability === 1)">
                    <!-- hourly rate -->
                    <label class="label-text" *ngIf="(countryName).toLowerCase() !== 'india'">Hourly Rate ($):</label>
                    <input type="text" [ngClass]="{'error-select': hourlyRateErrorFlag}" *ngIf="editFlag && (countryName).toLowerCase() !== 'india'" placeholder="required" class="fields" [(ngModel)]="hourlyRate" name="hourlyRate" (keyup)="handleTypedEvent($event, 'hourlyRate', hourlyRate)">
                    <label class="" *ngIf="!editFlag && hourlyRate && (countryName).toLowerCase() !== 'india'">{{hourlyRate}}</label>
                    <label class="" *ngIf="!editFlag && !hourlyRate && (countryName).toLowerCase() !== 'india'">-</label>
                    <!-- salary -->
                    <label class="label-text" *ngIf="(countryName).toLowerCase() !== 'india'">Expected Salary ($):</label>
                    <input type="text"  [ngClass]="{'error-select': hourlyRateErrorFlag}" *ngIf="editFlag && (countryName).toLowerCase() !== 'india'" class="fields" [(ngModel)]="expectedSalary" name="expectedSalary" (keyup)="handleTypedEvent($event, 'expectedSalary', expectedSalary)">
                    <label class="" *ngIf="!editFlag && expectedSalary && (countryName).toLowerCase() !== 'india'">{{expectedSalary}}</label>
                    <label class="" *ngIf="!editFlag && !expectedSalary && (countryName).toLowerCase() !== 'india'">-</label>
                    <!-- note -->
                    <lable class="note-text" *ngIf="!editFlag && !expectedSalary && !hourlyRate && (countryName).toLowerCase() !== 'india'"><span class="note-title">Note: </span>Choose either Hourly Rate or Expected Salary as Manadatory</lable>
                    <!-- current ctc -->
                    <label class="label-text" *ngIf="(countryName).toLowerCase() === 'india'">Current CTC (Rupees):</label>
                    <input type="text" [ngClass]="{'error-select': currentCTCErrorFlag}" *ngIf="editFlag && (countryName).toLowerCase() === 'india'" class="fields" placeholder="required" [(ngModel)]="currentCTC" name="currentCTC" (keyup)="handleTypedEvent($event, 'currentCTC', currentCTC)">
                    <label class="" *ngIf="!editFlag && currentCTC && (countryName).toLowerCase() === 'india'">{{currentCTC}}</label>
                    <label class="" *ngIf="!editFlag && !currentCTC && (countryName).toLowerCase() === 'india'">-</label>
                    <!-- expected ctc -->
                    <label class="label-text" *ngIf="(countryName).toLowerCase() === 'india'">Expected CTC (Rupees):</label>
                    <input type="text" [ngClass]="{'error-select': expectedCTCErrorFlag}" *ngIf="editFlag && (countryName).toLowerCase() === 'india'" placeholder="required" class="fields" [(ngModel)]="expectedCTC" name="expectedCTC" (keyup)="handleTypedEvent($event, 'expectedCTC', expectedCTC)">
                    <label class="" *ngIf="!editFlag && expectedCTC && (countryName).toLowerCase() === 'india'">{{expectedCTC}}</label>
                    <label class="" *ngIf="!editFlag && !expectedCTC && (countryName).toLowerCase() === 'india'">-</label>
                    <!-- notice period -->
                    <label class="label-text" *ngIf="(countryName).toLowerCase() === 'india'">Notice Period (Days):</label>
                    <input type="text" [ngClass]="{'error-select': noticePeriodErrorFlag}" *ngIf="editFlag && (countryName).toLowerCase() === 'india'" placeholder="required" class="fields" [(ngModel)]="noticePeriod" name="noticePeriod" (keyup)="handleTypedEvent($event, 'noticePeriod', noticePeriod)">
                    <label class="" *ngIf="!editFlag && noticePeriod && (countryName).toLowerCase() === 'india'">{{noticePeriod}}</label>
                    <label class="" *ngIf="!editFlag && !noticePeriod && (countryName).toLowerCase() === 'india'">-</label>
                    <!-- tax terms -->
                    <label class="label-text" *ngIf="(countryName).toLowerCase() !== 'india'">Tax Terms:</label>
                    <app-filter [ngClass]="{'error-select': taxTermsErrorFlag}" *ngIf="editFlag && (countryName).toLowerCase() !== 'india'" [dropdownList]="taxTermsConfig['dropdownData']" [selectedItems]="taxTermsConfig['dropdownSelected']" [dropdownSettings]="taxTermsConfig['dropdownSetting']" (selectedItemEmitter)="handleSelectedData($event, 'taxTerms')"></app-filter>
                    <label class="label-value-text" *ngIf="!editFlag && taxTermsConfig['dropdownSelected'] && taxTermsConfig['dropdownSelected'][0] && taxTermsConfig['dropdownSelected'][0]['name'] && (countryName).toLowerCase() !== 'india'">{{taxTermsConfig['dropdownSelected'][0]['name']}}</label>
                    <!-- duration -->
                    <label class="label-text">Duration:</label>
                    <app-filter *ngIf="editFlag" [ngClass]="{'error-select': durationErrorFlag}" [dropdownList]="durationConfig['dropdownData']" [selectedItems]="durationConfig['dropdownSelected']" [dropdownSettings]="durationConfig['dropdownSetting']" (selectedItemEmitter)="handleSelectedData($event, 'duration')"></app-filter>
                    <label class="label-value-text" *ngIf="!editFlag && durationConfig['dropdownSelected'] && durationConfig['dropdownSelected'][0] && durationConfig['dropdownSelected'][0]['name']">{{durationConfig['dropdownSelected'][0]['name']}}</label>
                    <!-- candidate available -->
                    <label class="label-text">When is the candidate available?</label>
                    <app-filter *ngIf="editFlag" [ngClass]="{'error-select': candidateAvailabilityPeriodErrorFlag}" [dropdownList]="candidateAvailabilityStatusConfig['dropdownData']" [selectedItems]="candidateAvailabilityStatusConfig['dropdownSelected']" [dropdownSettings]="candidateAvailabilityStatusConfig['dropdownSetting']" (selectedItemEmitter)="handleSelectedData($event, 'candidateAvailabilityPeriod')"></app-filter>
                    <label class="label-value-text" *ngIf="!editFlag && candidateAvailabilityStatusConfig['dropdownSelected'] && candidateAvailabilityStatusConfig['dropdownSelected'][0] && candidateAvailabilityStatusConfig['dropdownSelected'][0]['name']">{{candidateAvailabilityStatusConfig['dropdownSelected'][0]['name']}}</label>
                </div>
                <div *ngIf="(candidateAvailability['dropdownSelected'] && candidateAvailability['dropdownSelected'].length > 0 && candidateAvailability['dropdownSelected'][0] && candidateAvailability['dropdownSelected'][0]['id'] === 0) || (availability === 0) || (availability && availability.length !== 0 && availability[0] && availability[0] !== 0 && availability[0]['id'] === 0)">
                    <!-- available month -->
                    <label class="label-text">How soon is the candidate available? (Month)</label>
                    <input type="number" [ngClass]="{'error-select': availableMonthErrorFlag}" *ngIf="editFlag" class="fields" placeholder="required" [(ngModel)]="availableMonth" name="availableMonth" (keyup)="handleTypedEvent($event, 'availableMonth', availableMonth)">
                    <label class="" *ngIf="!editFlag && availableMonth">{{availableMonth}}</label>
                    <label class="" *ngIf="!editFlag && !availableMonth">-</label>
                </div>
                <!-- availability comments -->
                <label class="label-text">Comments:</label>
                <textarea class="fields" *ngIf="editFlag" [(ngModel)]="availabilityComments" name="availabilityComments"></textarea>
                <label class="" *ngIf="!editFlag && availabilityComments">{{availabilityComments}}</label>
                <label class="" *ngIf="!editFlag && !availabilityComments">-</label>
            </div>
            <!-- submission section -->
            <section [ngClass]="{'interviewSubmitted': (isInterviewSubmitted === true || isInterviewSubmitted === 1), 'interviewNotSubmitted': (isInterviewSubmitted === false || isInterviewSubmitted === 0), 'candidateOptionsViewOnly': (isViewOnly === true)}" *ngIf="!interviewFlag">
                <span class="label-title">Do you want to submit this candidate?</span>
                <span class="icon close-icon" *ngIf="editFlag && (isViewOnly === false)" title="No" (click)="updateCandidateInterviewSubmitted(false)">No</span>
                <span class="icon open-icon" *ngIf="editFlag && (isViewOnly === false)"  title="Yes" (click)="updateCandidateInterviewSubmitted(true)">Yes</span>
                <span class="icon close-view-icon" title="No" *ngIf="!editFlag && !isInterviewSubmitted">No</span>
                <span class="icon open-view-icon" title="Yes" *ngIf="!editFlag && isInterviewSubmitted">Yes</span>
            </section>
            <!-- interview detail wrapper -->
            <div class="interview-detail-wrapper" *ngIf="isInterviewSubmitted && (isViewOnly === false)">
                <!-- candidate availability status -->
                <label class="label-text">Candidate Submitted To:</label>
                <app-filter [ngClass]="{'error-select': submittedToErrorFlag}" *ngIf="editFlag" [dropdownList]="candidateSubmittedStatusConfig['dropdownData']" [selectedItems]="candidateSubmittedStatusConfig['dropdownSelected']" [dropdownSettings]="candidateSubmittedStatusConfig['dropdownSetting']" (selectedItemEmitter)="handleSelectedData($event, 'submittedTo')"></app-filter>
                <label class="label-value-text" *ngIf="!editFlag && candidateSubmittedStatusConfig['dropdownSelected'] && candidateSubmittedStatusConfig['dropdownSelected'][0] && candidateSubmittedStatusConfig['dropdownSelected'][0]['name']">{{candidateSubmittedStatusConfig['dropdownSelected'][0]['name']}}</label>
                <!-- submission Requirement -->
                <label class="label-text">Requirement:</label>
                <app-filter [ngClass]="{'error-select': interviewSubmissionRequirementErrorFlag}" *ngIf="editFlag" [dropdownList]="submissionRequirementConfig['dropdownData']" [selectedItems]="submissionRequirementConfig['dropdownSelected']" [dropdownSettings]="submissionRequirementConfig['dropdownSetting']" (selectedItemEmitter)="handleSelectedData($event, 'interviewSubmissionRequirement')"></app-filter>
                <label class="label-value-text" *ngIf="!editFlag && submissionRequirementConfig['dropdownSelected'] && submissionRequirementConfig['dropdownSelected'][0] && submissionRequirementConfig['dropdownSelected'][0]['name']">{{submissionRequirementConfig['dropdownSelected'][0]['name']}}</label>
                <!-- submission client -->
                <label class="label-text">Client:</label>
                <app-filter [ngClass]="{'error-select': interviewSubmissionClientErrorFlag}" *ngIf="editFlag" [dropdownList]="submissionClientConfig['dropdownData']" [selectedItems]="submissionClientConfig['dropdownSelected']" [dropdownSettings]="submissionClientConfig['dropdownSetting']" (selectedItemEmitter)="handleSelectedData($event, 'interviewSubmissionClient')"></app-filter>
                <label class="label-value-text" *ngIf="!editFlag && submissionClientConfig['dropdownSelected'] && submissionClientConfig['dropdownSelected'][0] && submissionClientConfig['dropdownSelected'][0]['name']">{{submissionClientConfig['dropdownSelected'][0]['name']}}</label>
                <!-- submission comments -->
                <label class="label-text">Comments:</label>
                <textarea class="fields" *ngIf="editFlag" [(ngModel)]="interviewSubmissionComments" name="interviewSubmissionComments"></textarea>
                <label class="" *ngIf="!editFlag && interviewSubmissionComments">{{interviewSubmissionComments}}</label>
                <label class="" *ngIf="!editFlag && !interviewSubmissionComments">-</label>
            </div>
            <!-- interview detail wrapper -->
            <div class="interview-detail-wrapper" *ngIf="(isInterviewSubmitted === false || isInterviewSubmitted === 0) && (isViewOnly === false)">
                <!-- candidate availability status -->
                <label class="label-text">Reason for Not Submitting:</label>
                <app-filter [ngClass]="{'error-select': submitReasonErrorFlag}" *ngIf="editFlag" [dropdownList]="submitReasonConfig['dropdownData']" [selectedItems]="submitReasonConfig['dropdownSelected']" [dropdownSettings]="submitReasonConfig['dropdownSetting']" (selectedItemEmitter)="handleSelectedData($event, 'submitReason')"></app-filter>
                <label class="label-value-text" *ngIf="!editFlag && submitReasonConfig['dropdownSelected'] && submitReasonConfig['dropdownSelected'][0] && submitReasonConfig['dropdownSelected'][0]['name']">{{submitReasonConfig['dropdownSelected'][0]['name']}}</label>
                <!-- submission Requirement -->
                <label class="label-text" *ngIf="!submitReason || (submitReason && submitReason.length > 0 && submitReason[0]['id'] !== 6)">Requirement:</label>
                <app-filter [ngClass]="{'error-select': interviewSubmissionRequirementErrorFlag}" *ngIf="editFlag && (!submitReason || (submitReason && submitReason.length > 0 && submitReason[0]['id'] !== 6))" [dropdownList]="submissionRequirementConfig['dropdownData']" [selectedItems]="submissionRequirementConfig['dropdownSelected']" [dropdownSettings]="submissionRequirementConfig['dropdownSetting']" (selectedItemEmitter)="handleSelectedData($event, 'interviewSubmissionRequirement')"></app-filter>
                <label class="label-value-text" *ngIf="!editFlag && submissionRequirementConfig['dropdownSelected'] && submissionRequirementConfig['dropdownSelected'][0] && submissionRequirementConfig['dropdownSelected'][0]['name']">{{submissionRequirementConfig['dropdownSelected'][0]['name']}}</label>
                <!-- submission client -->
                <label class="label-text" *ngIf="!submitReason || (submitReason && submitReason.length > 0 && submitReason[0]['id'] !== 6)">Client:</label>
                <app-filter [ngClass]="{'error-select': interviewSubmissionClientErrorFlag}" *ngIf="editFlag && (!submitReason || (submitReason && submitReason.length > 0 && submitReason[0]['id'] !== 6))" [dropdownList]="submissionClientConfig['dropdownData']" [selectedItems]="submissionClientConfig['dropdownSelected']" [dropdownSettings]="submissionClientConfig['dropdownSetting']" (selectedItemEmitter)="handleSelectedData($event, 'interviewSubmissionClient')"></app-filter>
                <label class="label-value-text" *ngIf="!editFlag && submissionClientConfig['dropdownSelected'] && submissionClientConfig['dropdownSelected'][0] && submissionClientConfig['dropdownSelected'][0]['name']">{{submissionClientConfig['dropdownSelected'][0]['name']}}</label>
                <!-- submission comments -->
                <label class="label-text" >Comments:</label>
                <textarea class="fields" *ngIf="editFlag" [(ngModel)]="interviewSubmissionComments" name="interviewSubmissionComments"></textarea>
                <label class="" *ngIf="!editFlag && interviewSubmissionComments">{{interviewSubmissionComments}}</label>
                <label class="" *ngIf="!editFlag && !interviewSubmissionComments">-</label>
            </div>
        <!-- interview section -->
        <section *ngIf="isInterviewSubmitted || interviewFlag" [ngClass]="{'interviewSubmitted': (isInterview === true || isInterview === 1), 'interviewNotSubmitted': (isInterview === false || isInterview === 0), 'candidateOptionsViewOnly': (isViewOnly === true)}">
            <span class="label-title" *ngIf="!interviewFlag">Did the candidate attend the interview?</span>
            <span class="label-title" *ngIf="interviewFlag">Do you want to schedule the interview?</span>
            <span class="icon close-icon" *ngIf="editFlag && !interviewFlag && (isViewOnly === false)" title="No" (click)="updateCandidateInterview(false)">No</span>
            <span class="icon open-icon" *ngIf="editFlag && !interviewFlag && (isViewOnly === false)"  title="Yes" (click)="updateCandidateInterview(true)">Yes</span>
            <span class="icon close-view-icon" title="No" *ngIf="!editFlag && !isInterview">No</span>
            <span class="icon open-view-icon" title="Yes" *ngIf="!editFlag && !isInterview">Yes</span>
        </section>
        <!-- interview detail wrapper -->
        <div class="interview-detail-wrapper" *ngIf="isInterview && (isViewOnly === false)">
            <!-- candidate detail -->
            <label class="interview-label-text" *ngIf="interviewFlag">Candidate Name</label>
            <label class="interview-label-value-text" *ngIf="interviewFlag">{{candidateName}}</label>
            <!-- interview round -->
            <!-- <label class="label-text interview-round-title">Interview Round:</label> -->
            <!-- <app-filter [ngClass]="{'error-select': interviewRoundErrorFlag}" *ngIf="editFlag" [dropdownList]="interviewRoundConfig['dropdownData']" [selectedItems]="interviewRoundConfig['dropdownSelected']" [dropdownSettings]="interviewRoundConfig['dropdownSetting']" (selectedItemEmitter)="handleSelectedData($event, 'interviewRound')"></app-filter> -->
            <label class="label-value-text interview-round" *ngIf="!isFinalRound && interviewRoundConfig['dropdownSelected'] && interviewRoundConfig['dropdownSelected'][0] && interviewRoundConfig['dropdownSelected'][0]['name']">{{interviewRoundConfig['dropdownSelected'][0]['name']}}</label>
            <label class="label-value-text interview-round" *ngIf="isFinalRound">Final Round</label>
            <span class="round-flag">
                <input type="checkbox" [(ngModel)]="isFinalRound" name="finalRound">
                <label>Make this as Final Round</label>
            </span>
            <!-- interview status -->
            <label class="label-text">Interview Status:</label>
            <app-filter [ngClass]="{'error-select': interviewStatusErrorFlag}" *ngIf="editFlag" [dropdownList]="candidateInterviewStatusConfig['dropdownData']" [selectedItems]="candidateInterviewStatusConfig['dropdownSelected']" [dropdownSettings]="candidateInterviewStatusConfig['dropdownSetting']" (selectedItemEmitter)="handleSelectedData($event, 'interviewStatus')"></app-filter>
            <label class="label-value-text" *ngIf="!editFlag && candidateInterviewStatusConfig['dropdownSelected'] && candidateInterviewStatusConfig['dropdownSelected'][0] && candidateInterviewStatusConfig['dropdownSelected'][0]['name']">{{candidateInterviewStatusConfig['dropdownSelected'][0]['name']}}</label>
            <!-- interview Requirement -->
            <label class="label-text" *ngIf="!interviewFlag">Requirement:</label>
            <label class="interview-label-text"  *ngIf="interviewFlag">Requirement:</label>
            <app-filter [ngClass]="{'error-select': interviewRequirementErrorFlag}" *ngIf="editFlag && !interviewFlag" [dropdownList]="interviewRequirementConfig['dropdownData']" [selectedItems]="interviewRequirementConfig['dropdownSelected']" [dropdownSettings]="interviewRequirementConfig['dropdownSetting']" (selectedItemEmitter)="handleSelectedData($event, 'interviewRequirement')"></app-filter>
            <label class="label-value-text" *ngIf="(!editFlag || interviewFlag) && interviewRequirementConfig['dropdownSelected'] && interviewRequirementConfig['dropdownSelected'][0] && interviewRequirementConfig['dropdownSelected'][0]['name']">{{interviewRequirementConfig['dropdownSelected'][0]['name']}}</label>
            <label class="interview-label-value-text" *ngIf="interviewFlag">{{requirementId}} - {{requirementName}}</label>
            <!-- interview client -->
            <label class="label-text"  *ngIf="!interviewFlag">Client:</label>
            <label class="interview-label-text"  *ngIf="interviewFlag">Client:</label>
            <app-filter [ngClass]="{'error-select': interviewClientErrorFlag}" *ngIf="editFlag && !interviewFlag" [dropdownList]="interviewClientConfig['dropdownData']" [selectedItems]="interviewClientConfig['dropdownSelected']" [dropdownSettings]="interviewClientConfig['dropdownSetting']" (selectedItemEmitter)="handleSelectedData($event, 'interviewClient')"></app-filter>
            <label class="label-value-text" *ngIf="(!editFlag && !interviewFlag) && interviewClientConfig['dropdownSelected'] && interviewClientConfig['dropdownSelected'][0] && interviewClientConfig['dropdownSelected'][0]['name']">{{interviewClientConfig['dropdownSelected'][0]['name']}}</label>
            <label class="interview-label-value-text" *ngIf="interviewFlag">{{clientName}}</label>
            <!-- interview comments -->
            <label class="label-text">Comments:</label>
            <textarea class="fields" *ngIf="editFlag" [(ngModel)]="interviewComments" name="interviewComments"></textarea>
            <label class="" *ngIf="!editFlag && interviewComments">{{interviewComments}}</label>
            <label class="" *ngIf="!editFlag && !interviewComments">-</label>
        </div>
    </section>
        <!-- modal footer -->
        <section class="modal-footer">
            <button class="btn action-btn" *ngIf="!createCandidateFlag" (click)="cancelModal()">Cancel</button>
            <button class="btn action-btn" *ngIf="editFlag" (click)="saveData();">Save</button>
            <button class="btn action-btn" *ngIf="!editFlag" (click)="proceedModal();">Proceed</button>
        </section>
    </section>
</section>