.modal-header {
    font-size: 24px;
    font-weight: bold;
    outline: none;
}

.modal-close-icon {
    cursor: pointer;
}

.candidate-detail-modal-wrapper {
    position: absolute;
    top: -94px;
    right: 0;
    left: 0;
    bottom: -110px;
    overflow-y: hidden;
}

.opacity-wrapper {
    width: 100%;
    height: 100%;
    background: gray;
    opacity: 0.5;
}

.candidate-detail-modal-wrapper .modal-container {
    width: 80%;
    height: 80%;
    position: absolute;
    top: 5%;
    background-color: #fff;
    left: 10%;
    right: 10%;
    bottom: 5%;
    border-radius: 5px;
}

.modal-body section {
    padding: 5px 15px;
    background-color: #31525b;
    border-radius: 5px;
    font-size: 24px;
    margin: 10px 0;
    color: #fff;
}

.candidateCommunicated, .interviewSubmitted, .candidateViewOnly {
    background-color: #a1d066 !important;
}

.candidateNotCommunicated, .interviewNotSubmitted, .candidateNotViewOnly {
    background-color: darkred !important;
    color: #fff;
}

.candidateOptionsViewOnly {
    cursor: not-allowed
}

.icon {
    float: right;
    padding: 0 10px;
    text-align: center;
    background-color: #fff;
    border-radius: 5px;
    color: #000;
    margin: 0 5px;
    cursor: pointer;
}

.icon.open-icon:hover {
    background-color: green;
    color: #fff;
}

.icon.close-icon:hover {
    background-color: red;
    color: #fff;
}

.close-view-icon {
    background-color: red;
    color: #fff;
}

.open-view-icon {
    background-color: green;
    color: #fff;
}

.btn {
    color: #fff;
    background-color: #A1D066;
    cursor: pointer;
    outline: none;
    margin: 0 10px;
    border-radius: 5px;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    font-size: 18px;
    padding: 5px 10px;
    line-height: 1.5;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn:hover {
    color: #fff;
    background-color: #31525B;
}

.modal-body {
    margin-bottom: 65px;
    height: 73%;
    overflow-y: scroll;
}

.modal-footer {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

.interview-detail-wrapper, .availability-detail-wrapper {
    border: 1px solid #31525B;
    padding: 10px;
    border-radius: 5px;
}

.label-text, .fields {
    display: block;
}

.label-text {
    font-size: 22px;
    font-weight: bold;
}

.fields {
    width: 100%;
    padding: 5px 10px;
    font-size: 18px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #000;
}

.interview-round {
    font-size: 28px;
    font-weight: bold;
    color: green;
}

.round-flag {
    padding: 0 25px;
    font-size: 16px;
    font-weight: bold;
}

.round-flag label {
    padding: 0 15px;
}

// .interview-round-title {
//     display: inline-block !important;
// }

.interview-label-text {
    width: 20%;
    font-size: 22px;
    font-weight: bold;
    margin: 15px 0;
}

.interview-label-value-text {
    font-size: 20px;
    margin: 15px 0;
    font-weight: bolder;
    width: 80%;
    padding: 0 20px;
}

.note-text {
    font-size: 18px;
    font-weight: bold;
    padding: 5px 0 0 15px;
}

.note-title {
    color: forestgreen;
    font-style: italic;
}

.candidateOptionsViewOnly {
    opacity: 0.5;
    z-index: 99;
}