.table-footer {
    border-top: 1px solid lightgray;
    padding: 5px;
    font-size: 18px;
}

.view-more-link {
    text-align: right;
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}

.no-result-wrapper td {
    text-align: center;
}