<div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col" *ngFor="let configData of config">{{configData['title']}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let record of data; let i = index">
          <th scope="row">{{i + 1}}</th>
          <td *ngFor="let configData of config">
            <span *ngIf="!configData['dateFlag'] && !configData['linkFlag'] && record[configData['key']]">{{record[configData['key']]}}</span>
            <span *ngIf="configData['linkFlag'] && !configData['dateFlag'] && record[configData['key']]"><a [href]="'http://pqrdb.geval6.com/api/resumes/' + record[configData['key']]" target="_blank">Resume-{{i+1}}</a></span>
            <span *ngIf="!configData['linkFlag'] && configData['dateFlag'] && record[configData['key']]">{{record[configData['key']] | amLocal | amTimeAgo}}</span>
          </td>
        </tr>
        <tr class="no-result-wrapper" *ngIf="!data || (data && data.length === 0)">
          <td [attr.colspan]="config.length + 1">No Records Found</td>
        </tr>
      </tbody>
    </table>
</div>
<div class="row table-footer">
    <span class="col-xs-6 col-sm-6"><span *ngIf="data && data.length !== 0"># {{(data.length)}} of {{data[0]['total']}} records</span></span>
    <span class="col-xs-6 col-sm-6 view-more-link" *ngIf="data && data.length !== 0" (click)="navigateDashboard(link)">view all records</span>
</div>