.wrapper .header-wrapper {
    padding: 10px;
    background-color: #FF6C02;
    font-size: 22px;
    font-weight: 500;
}

.wrapper .header-wrapper .header-title span {
    font-size: 26px;
    color: #fff;
    font-weight: bold;
}

.wrapper .header-wrapper .header-action {
    text-align: right;
}

.wrapper .header-wrapper .header-action .icons {
    margin: 0 8px;
    cursor: pointer;
}

.content-wrapper {
    overflow-y: scroll;
    font-size: 20px;
}

.icons {
    margin: 0px 15px !important;
    cursor: pointer;
    color: #fff;
}

.icons:hover {
    color: #31525B;
}

.field-title {
    padding-top: 5px;
    padding-bottom: 5px;
    color: #FF6C02;
    font-size: 24px;
    padding-left: 0px;
    margin-bottom: 0px;
}

.input-section, .field-textarea {
    padding: 5px 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #A1D066;
    color: #000;
    font-size: 20px;
}

.error-input {
    border: 1px solid red;
}

.error-input::placeholder {
    color: red;
}

.field-header-title {
    padding: 5px 15px;
    color: #000;
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 24px;
}
