<!-- wrapper section -->
<section class="wrapper row">
    <!-- header wrapper -->
    <section class="header-wrapper col-sm-12 row">
        <section class="header-title col-sm-6">
            <mdb-icon class="back-icon" *ngIf="createFlag || editFlag" (click)="previousRoute();" fas icon="chevron-circle-left"></mdb-icon>
            <mdb-icon class="back-icon" *ngIf="viewFlag" (click)="openModal('back', 'communication')" fas icon="chevron-circle-left"></mdb-icon>
            <span>{{actionTitle}}</span>
        </section>
        <section class="header-action col-sm-6">
            <!-- dashboard icon -->
            <span class="dashboard-icon icons" title="Go To Dashboard" *ngIf="viewFlag"><mdb-icon fas icon="home" (click)="openModal('dashboard', 'communication')"></mdb-icon></span>
            <span class="dashboard-icon icons" title="Go To Dashboard" *ngIf="editFlag || createFlag"><mdb-icon fas icon="home" (click)="navigateToDashboard();"></mdb-icon></span>
            <!-- view page links -->
            <mdb-icon class="icons edit-icon" title="edit" fas icon="pen" *ngIf="viewFlag" (click)="openModal('edit', 'communication');"></mdb-icon>
            <!-- edit / create page links -->
            <mdb-icon far icon="trash-alt" class="icons" title="Delete Requirement" *ngIf="editFlag" (click)="deleteClient()"></mdb-icon>

            <mdb-icon class="icons cancel-icon" title="Cancel Changes" fas icon="times" *ngIf="(editFlag || createFlag)" (click)="cancelConfirmation()"></mdb-icon>
            <mdb-icon class="icons save-icon" title="Save Changes" fas icon="check" *ngIf="(editFlag || createFlag)" (click)="saveRequirement();"></mdb-icon>
        </section>
    </section>
    <!-- field list -->
    <section class="row content-wrapper" [style.height.px]="documentHeight">
        <label class="col-sm-12 field-header-title" *ngIf="viewFlag">Client Details:</label>
        <section class="col-sm-12 col-md-6" *ngFor="let field of fieldDataListConfig">
            <label class="col-sm-6 field-title">{{field['title']}}:</label>
            <input [ngClass]="{'error-input': field['errorFlag']}" [type]="field['type']" *ngIf="(createFlag || editFlag) && field['inputFlag']" class="input-section col-sm-12" [placeholder]="field['placeholder']" [name]="field['key']" [(ngModel)]="field['data']" (keyup)="handleTypeEvent($event, field['key'])">
            <label class="col-sm-6" *ngIf="viewFlag && field['data'] && field['inputFlag']">{{field['data']}}</label>
            <label class="col-sm-6" *ngIf="viewFlag && !field['data'] && field['inputFlag']">-</label>
            <app-filter [ngClass]="{'error-select': field['errorFlag']}" *ngIf="(createFlag || editFlag) && field['selectFlag']" [dropdownList]="field['dropdownData']" [selectedItems]="field['dropdownSelected']" [dropdownSettings]="field['dropdownSetting']" (selectedItemEmitter)="handleSelectedItems($event, field['id'], field['key'])" (addNewEmitter)="addNewItemHandler($event, field['key'])"></app-filter>
            <label class="col-sm-6" *ngIf="viewFlag && field['dropdownSelected'] && field['dropdownSelected'].length > 0 && field['selectFlag']">{{field['dropdownSelected'][0]['name']}}</label>
            <label class="col-sm-6" *ngIf="viewFlag && (!field['dropdownSelected'] || (field['dropdownSelected'] && field['dropdownSelected'].length === 0)) && field['selectFlag']">-</label>
            <textarea class="col-sm-12 field-textarea" *ngIf="(createFlag || editFlag) && field['textareaFlag']" name="jobDescription" [(ngModel)]="field['key']" (keyup)="handleTypeEvent($event, field['key'])"></textarea>
        </section>

        <!-- active requirements -->
        <app-detail-table *ngIf="viewFlag" class="col-sm-12" [configData]="activeRequirementObject" (linkEmitter)="handleNavigation($event)" (actionEmitter)="handleTableEvent($event)"></app-detail-table>

        <!-- inactive requirements -->
        <app-detail-table *ngIf="viewFlag" class="col-sm-12" [configData]="inactiveRequirementObject" (linkEmitter)="handleNavigation($event)" (actionEmitter)="handleTableEvent($event)"></app-detail-table>

        <!-- hold requirements -->
        <app-detail-table *ngIf="viewFlag" class="col-sm-12" [configData]="holdRequirementObject" (linkEmitter)="handleNavigation($event)" (actionEmitter)="handleTableEvent($event)"></app-detail-table>

        <!-- closed requirements -->
        <app-detail-table *ngIf="viewFlag" class="col-sm-12" [configData]="closedRequirementObject" (linkEmitter)="handleNavigation($event)" (actionEmitter)="handleTableEvent($event)"></app-detail-table>

        <!-- filled requirements -->
        <app-detail-table *ngIf="viewFlag" class="col-sm-12" [configData]="filledRequirementObject" (linkEmitter)="handleNavigation($event)" (actionEmitter)="handleTableEvent($event)"></app-detail-table>
    </section>
</section>

<!-- modal component -->
<app-modal [displayModal]="showPopUpFlag" [modalConfigSetter]="modalConfig" (hideModalEmitter)="handleCloseModal($event)" (proceedModalEmitter)="proceedModal()" (skipEmitter)="skipModal()" (saveEmitter)="handleSaveModal($event)"></app-modal>