<!-- candidate tile wrapper -->
<section class="candidate-tile-container col-sm-3 row" *ngFor="let data of candidateDataList; let i = index;" [style.height.px]="data['heightValue']">
    <section class="candidate-tile-wrapper" (click)="navigateCandidateView(data['id'], data)">
        <!-- date section wrapper -->
        <div class="date-section-wrapper" *ngIf="data['updatedOn']" title="MM/DD/YYYY HH:MM A">{{data['updatedOn'] | amLocal | amDateFormat: 'MM/DD/YYYY hh:mm a'}}</div>
        <div class="user-section-wrapper" *ngIf="data['updateUserName'] && data['updateProfileImage']">
            <span class="user-image" [title]="data['updateUserName']"><img [src]="'http://pqrdb.geval6.com/api/profileImages/' + data['updateProfileImage']" alt="userimage"></span>
        </div>
        <div class="user-section-wrapper" *ngIf="!data['updateUserName'] && !data['updateProfileImage'] && data['userName'] && data['profileImage']">
            <span class="user-image" [title]="data['userName']"><img [src]="'http://pqrdb.geval6.com/api/profileImages/' + data['profileImage']" alt="userimage"></span>
        </div>
        <div class="user-section-wrapper" *ngIf="!data['updateUserName'] && !data['updateProfileImage'] && data['userName'] && !data['profileImage']">
            <span class="user-image" [title]="data['userName']"><img src="../../../../assets/images/user-detail.png" alt="userimage"></span>
        </div>
        <div class="user-section-wrapper" *ngIf="data['updateUserName'] && !data['updateProfileImage']">
            <span class="user-image" [title]="data['updateUserName']"><img src="../../../../assets/images/user-detail.png" alt="userimage"></span>
        </div>
        <div class="interview-process-wrapper" *ngIf="false"> <!-- data['isInterviewSubmitted'] -->
            <div class="spinner-grow" role="status"></div>
        </div>
        <section class="candidate-detail-wrapper col-sm-12">
            <div class="candidate-name candidate-detail" *ngIf="data['fullName']" [title]="data['fullName']">
                <span class="" *ngIf="data['gender'] && data['gender'].length > 0 && data['gender'][0]['id'] === 0">Mr.</span>
                <span class="" *ngIf="data['gender'] && data['gender'].length > 0 && data['gender'][0]['id'] === 1">Ms.</span>
                {{data['fullName']}}</div>
            <div class="candidate-job-title" [title]="data['jobTitle']"><div>{{data['jobTitle']}}</div></div>
            <!-- [ngClass]="{'fadeInDown animated': data['viewDetailFlag'], 'fadeOutUp animated': !data['viewDetailFlag']}" -->
        <section [ngClass]="{'viewMoreDetail': data['viewDetailFlag']}"  mdbCollapse #viewMoreTab="bs-collapse">
            <!-- <div class="candidate-detail candidate-detail-link" title="Linkedin Link"><span class="icon-wrapper">
                <i class="fab fa-linkedin"></i></span>
                <span *ngIf="data['linkedin']">{{data['linkedin']}}</span>
            </div> -->
            <div class="candidate-location candidate-detail" title="Location">
                <span class="icon-wrapper"><i class="fas fa-location-arrow"></i></span>
                <span *ngIf="data['cities'] && data['cities'].length !== 0">{{data['cities'][0]['name']}}</span>
                <span *ngIf="((data['cities'] && data['cities'].length !== 0) && (data['countries'] && data['countries'].length !== 0)) || ((data['cities'] && data['cities'].length !== 0) && (data['states'] && data['states'].length !== 0))">, </span>
                <span *ngIf="data['states'] && data['states'].length !== 0">{{data['states'][0]['name']}}</span>
                <span *ngIf="((data['cities'] && data['cities'].length !== 0) && (data['countries'] && data['countries'].length !== 0)) || ((data['states'] && data['states'].length !== 0) && (data['countries'] && data['countries'].length !== 0))">, </span>
                <span *ngIf="data['countries'] && data['countries'].length !== 0">{{data['countries'][0]['name']}}</span>
            </div>
            <div class="candidate-authorization candidate-detail" title="Work Authorizations">
                <span class="icon-wrapper"><i class="fas fa-plane-departure"></i></span>
                <span *ngIf="data && data['authorizations'] && data['authorizations'].length !== 0">
                    <span *ngFor="let authorizationData of data['authorizations']; let i = index">
                        <span *ngIf="i < 3">{{authorizationData['name']}}</span>
                        <span *ngIf="(i < 3 && data['authorizations'].length > 3) || (data['authorizations'].length-1 !== i && data['authorizations'].length < 3)">, </span>
                    </span>
                    <span *ngIf="data && data['authorizations'] && data['authorizations'].length > 3">+ {{data['authorizations'].length - 3}} more</span>
                </span>
            </div>
            <div class="candidate-experience candidate-detail" title="Overall Experience">
                <span class="icon-wrapper"><i class="fas fa-suitcase"></i></span>
                <span *ngIf="data && data['experience']">{{data['experience']}}</span>
            </div>
        </section>
        <section class="action-wrapper col-sm-12">
            <!-- <button class="shortlist-button">shortlist</button> -->
            <!-- <button [ngClass]="{'disabled-button': !data['fileName']}" [disabled]="!data['fileName']" (click)="downloadResume($event, data['fileName']);">Download</button> -->
            <span class="availability-wrapper">
                <!-- <mdb-icon title="unavailable" *ngIf="!data['isAvailable']" class="unavailability-icon" fas icon="times-circle"></mdb-icon>
                <mdb-icon title="available" *ngIf="data['isAvailable']" class="availability-icon" fas icon="check-circle"></mdb-icon> -->
                <mdb-icon title="unavailable" *ngIf="data['isAvailable'] === false || data['isAvailable'] === 0" class="unavailability-icon" fas icon="times"></mdb-icon>
                <mdb-icon title="available" *ngIf="data['isAvailable'] === true || data['isAvailable'] === 1" class="availability-icon" fas icon="check"></mdb-icon>
            </span>
            <span class="download-icons" *ngIf="data['fileName']" (click)="downloadResume($event, data['fileName']);">
                <mdb-icon title="download" class="normal" fas icon="arrow-down"></mdb-icon>
                <mdb-icon title="download" class="hovered animated headShake infinite" fas icon="arrow-down"></mdb-icon>
            </span>
            <span class="expand-detail-wrapper">
                <mdb-icon title="view more details" class="view-detail-icon" *ngIf="!data['viewDetailFlag']" (click)="toggleViewDetail($event, i, true); viewMoreTab.toggle()" mdbWavesEffect fas icon="angle-down"></mdb-icon>
                <mdb-icon title="hide more details" class="view-detail-icon" *ngIf="data['viewDetailFlag']" (click)="toggleViewDetail($event, i, false); viewMoreTab.toggle()" mdbWavesEffect fas icon="angle-up"></mdb-icon>
            </span>
        </section>
        </section>
    </section>
</section>
<!-- no record found wrapper -->
<section class="no-record-wrapper col-sm-12" *ngIf="(candidateDataList && candidateDataList.length === 0)">
    <span class="no-record-text">No Records Found</span>
</section>