<!-- hidden container -->
<!-- <section class="overlay-container"></section> -->
<!-- modal container -->
<section class="modal-container" cdkDrag *ngIf="displayFlag">
    <!-- modal header -->
    <section class="modal-header">
        <div class="modal-header-title">Suggested Skills</div>
        <span class="close-modal" (click)="closeModal()">X</span>
    </section>
    <!-- modal body -->
    <section class="modal-content-wrapper">
        <!-- edit section -->
        <section class="edit-section" *ngIf="editFlag">
            <span class="edit-header">Edit: "{{editableData}}"</span>
            <input type="text" [(ngModel)]="editable">
            <button class="cancel-btn" (click)="cancelEdit()">Cancel</button>
            <button class="update-btn" (click)="updateSkill()">Update</button>
        </section>
        <div class="skill-tile" *ngFor="let data of skillList; let i = index">{{data}}
            <span class="add-button-icon" (click)="editSkill(data, i)"><mdb-icon fas icon="pen"></mdb-icon></span>
            <span class="edit-button-icon" (click)="addSkills(data, i)"><mdb-icon fas icon="plus"></mdb-icon></span>
        </div>
        <div class="no-data-wrapper" *ngIf="!skillList || (skillList && skillList.length === 0)">No Data Found...</div>
    </section>
    <!-- modal footer -->
    <section class="modal-footer">
        <button class="add-button" (click)="closeModal()">Cancel</button>
        <button class="add-button" (click)="addAllSkills()">Add All</button>
    </section>
</section>