// .overlay-container {
//     position: absolute;
//     top: 0;
//     right: 0;
//     left: 0;
//     bottom: 0;
//     z-index: 9;
//     height: 100vh;
// }

.modal-container {
    position: absolute;
    top: 10%;
    left: 15%;
    background-color: beige;
    border-radius: 5px;
    width: 70%;
    z-index: 10;
    border: 1px solid gray;
}

.modal-header {
    border-bottom: 1px solid gray;
}

.modal-header-title {
    font-size: 20px;
    font-weight: bold;
}

.modal-header .close-modal {
    color: #000;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
}

.modal-content-wrapper {
    height: 150px;
    overflow-y: scroll;
    padding: 10px;
}

.modal-content-wrapper .skill-tile {
    padding: 5px;
    margin: 5px;
    background-color: #FF6C02;
    border-radius: 5px;
    color: #fff;
    font-size: 20px;
    display: inline-block;
}

.modal-content-wrapper .skill-tile span {
    padding: 0 5px;
    cursor: pointer;
}

.modal-footer {
    margin-top: 5px;
    border-top: 1px solid gray;
}

.add-button, .update-btn, .cancel-btn {
    color: #fff;
    background-color: #A1D066;
    cursor: pointer;
    outline: none;
    margin: 0 10px;
    border-radius: 5px;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    font-size: 18px;
    padding: 5px 10px;
    line-height: 1.5;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.add-button:hover, .update-btn:hover, .cancel-btn:hover {
    color: #fff;
    background-color: #31525B;
}

.update-btn, .cancel-btn {
    float: right;
}

.edit-section {
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    margin: 5px 0;
}

.edit-header {
    font-size: 20px;
    font-weight: bold;
    margin: 0 15px;
}

.edit-section input {
    outline: none;
    border-radius: 5px;
    border: 1px solid gray;
    padding: 5px 10px;
    width: 25%;
}

.no-data-wrapper {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
}