.opacity-wrapper {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: gray;
    opacity: 0.5;
}

.document-wrapper {
    width: 80%;
    position: absolute;
    left: 10%;
    right: 10%;
    top: 5%;
    border-radius: 5px;
}

.header-wrapper {
    padding: 10px;
    background-color: #FF6C02;
    color: #fff;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.header-wrapper .close-icon {
    float: right;
    cursor: pointer;
}

.doc-viewer {
    padding: 0;
    height: 400px;
    overflow-y: scroll;
}