<!-- opacity wrapper -->
<div class="opacity-wrapper" *ngIf="displayFlag"></div>
<!-- document wrapper -->
<section class="document-wrapper" *ngIf="displayFlag">
    <!-- header section -->
    <div class="header-wrapper">
        <span class="title">{{title}}</span>
        <span class="close-icon" (click)="closeModal()">X</span>
    </div>
    <iframe [src]="documentUrl" #iframeElement [style.height.px]="documentHeight"
        class="doc-viewer col-xs-12 col-sm-12" (load)="handleDocumentLoadSucess($event)" frameborder="2"></iframe>
</section>