<!-- opacity wrapper -->
<section class="opacity-wrapper" *ngIf="displayFlag"></section>
<!-- container-->
<section class="container" *ngIf="displayFlag">
    <!-- header section -->
    <div class="header-wrapper">
        <span class="">Interview Details</span>
        <span class="modal-close-icon" title="close" (click)="closeModal()">X</span>
    </div>
    <!-- content wrapper -->
    <section class="main-content-wrapper">
        <!-- submitted section -->
    <!-- candidate availability status -->
<label class="label-text">Reason for Not Submitting:</label>
<app-filter [dropdownList]="submitReasonConfig['dropdownData']" [selectedItems]="submitReasonConfig['dropdownSelected']" [dropdownSettings]="submitReasonConfig['dropdownSetting']" (selectedItemEmitter)="handleSelectedData($event, 'submitReason')"></app-filter>

<!-- submission comments -->
<label class="label-text" >Comments:</label>
<textarea class="fields" [(ngModel)]="comments" name="comments"></textarea>
    </section>
    <!-- footer section -->
    <section class="footer-wrapper">
        <button class="btn" (click)="cancelSubmission()">Update</button>
        <button class="btn" (click)="closeModal()">Cancel</button>
    </section>
</section>
