<!-- user profile wrapper -->
<section class="user-report-wrapper row">
    <!-- header section -->
    <!-- Section heading -->
    <section class="header-wrapper col-sm-12 row">
        <section class="header-title col-sm-6">
          <mdb-icon class="back-icon" (click)="previousRoute();" fas icon="chevron-circle-left"></mdb-icon>
          <span>User Access</span>
        </section>
        <section class="header-action col-sm-6">
            <button class="create-button" (click)="navigateDashboard()">Go To Dashboard</button>
        </section>
    </section>
    <!-- side menu options-->
    <section class="col-sm-3 option-list-wrapper">
        <div class="option-list-header">Users</div>
        <div class="option-wrapper" [style.height.px]="documentHeight">
            <div class="option-tile" *ngFor="let detail of detailConfig" [title]="detail['title']" (click)="getSelectedOptionData(detail['id'])" [style.backgroundColor]="detail['bgColor']">{{detail['title']}}</div>
        </div>
    </section>
    <!-- main content section -->
    <section class="col-sm-9 data-wrapper">
        <!-- title & add wrapper -->
        <section class="col-sm-12 row header-title-wrapper">
            <div class="col-sm-4 content-title">{{selectedRecordTitle}} <span *ngIf="userCount !== 0"> ({{userCount}})</span></div>
            <input type="text" class="col-sm-5 search-input" (keyup)="searchUser($event)" placeholder="search here...">
            <div class="col-sm-3 content-action">
                <button class="create-button" (click)="navigateUserCreation();">New User</button>
            </div>
        </section>
        <hr>
        <!-- data wrapper -->
        <section class="col-sm-12 data-content-wrapper" [style.height.px]="documentHeight" *ngIf="selectedRecordData && selectedRecordData.length !== 0">
            <div class="data-item" *ngFor="let data of selectedRecordData">
                <span class="data-item-value" *ngIf="!data['editFlag']">{{data['name']}}</span>
                <span class="icon" title="approve user" *ngIf="selectedRecordTitle !== 'Approved Users'" (click)="approveUser(data['id'])"><mdb-icon fas icon="user-check"></mdb-icon></span>
                <span class="icon" title="reject user" *ngIf="selectedRecordTitle !== 'Rejected Users'" (click)="rejectUser(data['id'])"><mdb-icon fas icon="user-times"></mdb-icon></span>
                <span class="icon" title="delete" (click)="openDeleteModal(data['id'])"><mdb-icon fas icon="trash"></mdb-icon></span>
                <span class="icon" title="view user details" (click)="viewDetails(data)"><mdb-icon fas icon="table"></mdb-icon></span>
            </div>
        </section>
        <!-- no data wrapper -->
        <section class="col-sm-12 data-content-wrapper" [style.height.px]="documentHeight" *ngIf="!selectedRecordData || (selectedRecordData && selectedRecordData.length === 0)">
            <div class="no-data-wrapper">No Data Available</div>
        </section>
    </section>
</section>

<app-modal [displayModal]="showPopUpFlag" [modalConfigSetter]="modalConfig" (hideModalEmitter)="handleCloseModal($event)" (proceedModalEmitter)="handleProceedEvent($event)" (saveEmitter)="saveWidget($event)"></app-modal>