<div class="col-xl-3 col-md-6 mb-r overview-wrapper" *ngFor="let data of statisticsData; let i = index;">
    <div class="card card-cascade cascading-admin-card">
       <div class="admin-up">
           <mdb-icon class="icon icon-green" fas icon="file-upload" *ngIf="i === 0"></mdb-icon>
            <mdb-icon class="icon icon-blue" fas icon="file-upload" *ngIf="i === 2"></mdb-icon>
            <mdb-icon class="icon icon-orange" fas icon="file-upload" *ngIf="i === 1"></mdb-icon>
          <div class="data">
             <p class="icon-green-color" *ngIf="data['title'] && i === 0">{{data['title']}}</p>
             <p class="icon-blue-color" *ngIf="data['title'] && i === 2">{{data['title']}}</p>
             <p class="icon-orange-color" *ngIf="data['title'] && i === 1">{{data['title']}}</p>
             <h4 *ngIf="!totalFlag"><strong >{{data['count']}} / {{data['total']}}</strong></h4>
             <h4 *ngIf="totalFlag" class="total-text"><strong >{{data['total']}}</strong></h4>
          </div>
       </div>
       <div class="card-body" *ngIf="!totalFlag">
          <div class="progress">
             <div aria-valuemax="100" aria-valuemin="0" aria-valuenow="25" class="progress-bar" role="progressbar" [style.width.%]="data['progress']"></div>
          </div>
          <p class="card-text">Your Progress is (<span *ngIf="data['progress']">{{data['progress']| number:'1.0-2'}}%</span><span *ngIf="!data['progress']">0%</span>)</p>
       </div>
    </div>
 </div>