.cascading-admin-card {
    margin-top: 20px;
}

.card {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    border: 0;
    font-weight: 400;
}

.cascading-admin-card .admin-up {
    margin-left: 4%;
    margin-right: 4%;
    margin-top: -20px;
}

.cascading-admin-card .admin-up .icon {
    padding: 16px;
    font-size: 2rem;
    color: #fff;
    text-align: left;
    margin-right: 1rem;
    border-radius: 3px;
    box-shadow: 0 2px 9px 0 rgba(0,0,0,.2), 0 2px 13px 0 rgba(0,0,0,.19);
}

.cascading-admin-card .admin-up .data {
    float: right;
    margin-top: 2rem;
    text-align: right;
}

.cascading-admin-card .admin-up .data p {
    margin-bottom: 10px;
    font-size: 22px;
}

.cascading-admin-card .admin-up .data h4 {
    margin-bottom: 0px;
}

.card .card-body .card-text {
    color: #747373;
    font-size: 16px;
    font-weight: 400;
}

.overview-wrapper {
    margin: 2% 4%;
}

.progress-bar {
    background-color: #788402;
}

.icon-green {
    background-color: #A1D066;
}

.icon-orange {
    background-color: #FF6C02;
}

.icon-blue {
    background-color: #31525B;
}

.icon-green-color {
    color: #A1D066;
}

.icon-orange-color {
    color: #FF6C02;
}

.icon-blue-color {
    color: #31525B;
}

.total-text {
    position: absolute;
    top: 10%;
    right: 40%;
    font-size: 40px;
}