.footer-container {
    color: #fff;
    font-weight: bold;
}

.social-icon-container {
    text-align: right;
}

.list-inline {
    margin: 0;
}

.facebook-icon, .linkedin-icon, .twitter-icon {
    color: #fff;
}

.facebook-icon:hover {
    color: #45619D;
}

.linkedin-icon:hover {
    color: #0077B7;
}

.twitter-icon:hover {
    color: #2DAAE1;
}

.copy-right-text {
    font-size: 18px;
}
