<!-- footer wrapper starts -->
<section class="footer-container row col-sm-12">
    <!-- copy rights wrapper starts -->
    <section class="copy-rights-container col-sm-6">
        <span class="copy-right-text">Copy Rights @ Geval6 Technologies</span>
    </section>
    <!-- social icons wrapper starts -->
    <section class="social-icon-container col-sm-6">
        <!-- Social Icons -->
        <ul class="list-inline list-unstyled">
            <li class="list-inline-item">
              <a class="p-2 fa-lg fb-ic" target="_blank" href="https://www.facebook.com/GEVAL6INC">
                <mdb-icon class="facebook-icon" fab icon="facebook-square"></mdb-icon>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="p-2 fa-lg pin-ic" target="_blank" href="https://www.linkedin.com/company/geval-6-inc/">
                <mdb-icon class="linkedin-icon" fab icon="linkedin"></mdb-icon>
              </a>
            </li>
            <li class="list-inline-item">
              <a class="p-2 fa-lg tw-ic" target="_blank" href="https://twitter.com/geval6?lang=en">
                <mdb-icon class="twitter-icon" fab icon="twitter-square"></mdb-icon>
              </a>
            </li>
          </ul>
    </section>
</section>