<!-- setting wrapper -->
<section class="user-setting-wrapper row">
    <!-- header section -->
    <!-- Section heading -->
    <section class="header-wrapper col-sm-12 row">
        <section class="header-title col-sm-6">
          <mdb-icon class="back-icon" (click)="previousRoute()" fas icon="chevron-circle-left"></mdb-icon>
          <span>User Settings</span>
        </section>
        <section class="header-action col-sm-6">
            <button class="create-button" (click)="navigateDashboard()">Go To Dashboard</button>
        </section>
    </section>
    <!-- content wrapper -->
    <section class="content-wrapper row col-sm-12" [style.height.px]="documentHeight">
        <!-- tile wrapper -->
        <section class="tile-wrapper col-sm-3 row" (click)="navigatePage(data['link']);" *ngFor="let data of userSettingTileList">
            <!-- user image icon -->
            <span class="user-access-icon" title="user access" *ngIf="userData['isAdminUser']" (click)="openUserPopup($event, data['title'])"><mdb-icon fas icon="user-circle"></mdb-icon></span>
            <!-- icon wrapper -->
            <span class="icon-wrapper col-sm-4">
                <mdb-icon class="icon" fas icon="pencil-alt" *ngIf="data['editIcon']"></mdb-icon>
                <mdb-icon class="icon" fas icon="chart-area" *ngIf="data['userReportIcon']"></mdb-icon>
                <mdb-icon class="icon" fas icon="chart-bar" *ngIf="data['candidateReportIcon']"></mdb-icon>
                <mdb-icon class="icon" fas icon="user-shield" *ngIf="data['securityIcon']"></mdb-icon>
                <mdb-icon class="icon" fas icon="user-check" *ngIf="data['userAccessIcon']"></mdb-icon>
            </span>
            <span class="detail-wrapper col-sm-8">
                <div class="detail-title">{{data['title']}}</div>
                <div class="detail-description">{{data['description']}}</div>
            </span>
        </section>
    </section>
</section>

<!-- modal component -->
<app-modal [displayModal]="showPopUpFlag" [modalConfigSetter]="modalConfig" (hideModalEmitter)="handleCloseModal($event)"></app-modal>
