/* header styling */
.header-wrapper {
    padding: 10px;
    background-color: #FF6C02;
    font-size: 22px;
    font-weight: 500;
}

.header-wrapper .header-title span {
    font-size: 28px;
    font-weight: bold;
    color: #fff;
}

.header-action {
    text-align: right;
}

button.create-button, button.search-button {
    color: #fff;
    background-color: #A1D066;
    cursor: pointer;
    outline: none;
    margin: 0 10px;
    font-size: 15px;
    border-radius: 5px;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    font-size: 18px;
    padding: 5px 10px;
    line-height: 1.5;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

button.create-button:hover, button.search-button:hover {
    color: #fff;
    background-color: #31525B;
}

.content-wrapper {
    padding: 25px;
    color: #31525B;
    overflow-y: scroll;
}

.content-wrapper .tile-wrapper {
    margin: 25px 0 !important;
    border: 1px solid transparent;
    position: relative;
    min-height: 150px;
}

.content-wrapper .tile-wrapper:hover {
    border: 1px solid #A1D066;
    cursor: pointer;
    border-radius: 5px;
}

.icon-wrapper .icon {
    font-size: 45px;
    margin: 10%;
}

.detail-wrapper .detail-title {
    font-weight: bold;
    font-size: 26px;
}

.detail-wrapper .detail-description {
    font-size: 18px;
}

.content-wrapper .tile-wrapper .user-access-icon {
    position: absolute;
    right: 8px;
    font-size: 22px;
    color: #FF6C02;
    z-index: 1;
}