// // /* You can add global styles to this file, and also import other style files */
body {
  font-family: 'calibri' !important;
}

.row {
    margin: 0px !important;
}

// dropdown styling
.content-wrapper .c-btn {
  border: 1px solid #A1D066;
  font-size: 22px;
  font-weight: bolder;
}

.content-wrapper .c-btn .c-angle-down, .content-wrapper .c-btn .c-angle-up {
  top: 25%;
}

.selected-list .c-list .c-token {
    background-color: #FF6C02 !important;
    border: 1px solid #fff;
    border-radius: 5px;
}

.selected-list .c-list .c-token .c-label {
    color: #fff !important;
}

.selected-list .c-list .c-token .c-remove {
    color: #000 !important;
}

.pure-checkbox input[type="checkbox"]:checked + label:before {
    background-color: #FF6C02 !important;
    border: 1px solid #FF6C02 !important;
}

.pure-checkbox input[type="checkbox"] + label:before {
    color: #FF6C02 !important;
    border: 1px solid #FF6C02 !important;
}

.dropdown-list ul li {
  padding: 0px 10px !important;
}

.c-btn {
  outline: none !important;
}

/* width */
::-webkit-scrollbar {
    width: 12px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .popover-body {
    padding: 0px !important;
  }

/* back button styling */
.back-icon {
  margin-right: 10px;
  cursor: pointer;
  color: #A1D066;
}

.back-icon:hover {
  color: #31525B
}

.lazyContainer li.pure-checkbox label, .single-select-mode .list-filter input.c-input {
  font-size: 22px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.error-select .selected-list .c-btn {
    border: 1px solid red;
    color: red;
}
