<!-- basic detail wrapper -->
<section class="col-sm-12 wrapper">
    <!-- cover image wrapper -->
    <section class="cover-image-wrapper">
        <img class="user-cover-image" *ngIf="userDetailData && userDetailData['coverImage']" [src]="'http://pqrdb.geval6.com/api/coverImages/' + userDetailData['coverImage']" alt="cover-image">
        <div class="user-cover-image-alt"  *ngIf="!userDetailData || !userDetailData['coverImage']">
            <mdb-icon class="user-cover-icon" fas icon="image"></mdb-icon>
        </div>
        <span class="cover-image-edit">
            <input type="file" accept="image/*" *ngIf="coverImagePickerFlag" class="animated slideInLeft cover-image-picker" (change)="documentSelected($event.target.files, 'cover')">
            <input type="file" accept="image/*" *ngIf="!coverImagePickerFlag" class="animated zoomOut cover-image-picker">
            <mdb-icon class="user-cover-edit-icon" fas icon="pen-square" title="click to open image picker" (click)="openFilePicker('cover')"></mdb-icon>
        </span>
        <img class="user-profile-image" *ngIf="userDetailData && userDetailData['profileImage']" [src]="'http://pqrdb.geval6.com/api/profileImages/' + userDetailData['profileImage']" alt="profile-image">
        <span class="user-profile-image" *ngIf="!userDetailData || !userDetailData['profileImage']">
            <mdb-icon class="user-profile-icon" fas icon="image"></mdb-icon>
        </span>
        <span class="profile-image-edit">
            <input type="file" accept="image/*" *ngIf="profileImagePickerFlag" class="animated slideInRight profile-image-picker"  (change)="documentSelected($event.target.files, 'profile')">
            <input type="file" accept="image/*" *ngIf="!profileImagePickerFlag" class="animated zoomOut profile-image-picker">
            <mdb-icon class="user-profile-edit-icon" fas icon="pen-square" title="click to open image picker" (click)="openFilePicker('profile')"></mdb-icon>
        </span>
    </section>
    <!-- basic detail section -->
    <section class="detail-wrapper row">
        <div class="form-group col-sm-12 col-md-6">
            <label class="label-text col-sm-4">FirstName: </label>
            <label class="label-value col-sm-8" *ngIf="userDetailData && userDetailData?.firstName">{{userDetailData['firstName']}}</label>
        </div>
        <div class="form-group col-sm-12 col-md-6">
            <label class="label-text col-sm-4">LastName: </label>
            <label class="label-value col-sm-8" *ngIf="userDetailData && userDetailData?.lastName">{{userDetailData['lastName']}}</label>
        </div>
        <div class="form-group col-sm-12 col-md-6">
            <label class="label-text col-sm-4">UserName: </label>
            <label class="label-value col-sm-8" *ngIf="userDetailData && userDetailData?.userName">{{userDetailData['userName']}}</label>
        </div>
        <div class="form-group col-sm-12 col-md-6">
            <label class="label-text col-sm-4">Designation: </label>
            <label class="label-value col-sm-8" *ngIf="userDetailData && userDetailData?.designation">{{userDetailData['designation']}}</label>
        </div>
        <div class="form-group col-sm-12 col-md-6">
            <label class="label-text col-sm-4">Mobile: </label>
            <label class="label-value col-sm-8" *ngIf="userDetailData && userDetailData?.mobileNumber">{{userDetailData['mobileNumber']}}</label>
        </div>
        <div class="form-group col-sm-12 col-md-6">
            <label class="label-text col-sm-4">Email: </label>
            <label class="label-value col-sm-8" *ngIf="userDetailData && userDetailData?.email">{{userDetailData['email']}}</label>
        </div>
        <div class="form-group col-sm-12 col-md-6">
            <label class="label-text col-sm-4">Status: </label>
            <label class="label-value col-sm-8" *ngIf="userDetailData && userDetailData?.isActive">Active</label>
            <label class="label-value col-sm-8" *ngIf="userDetailData && !userDetailData?.isActive">InActive</label>
        </div>
        <div class="col-sm-12 action-wrapper">
            <button class="btn" *ngIf="userDetailData && userDetailData?.isActive" (click)="deactivateUser();">Deactivate User</button>
        </div>
    </section>
</section>