.wrapper {
    padding: 0;
}

.cover-image-wrapper {
    position: relative;
    min-height: 300px;
}

.user-cover-image, .user-cover-image-alt {
    width: 100%;
    height: 365px;
}

.user-cover-image-alt {
    border: 1px solid #31525B;
    border-radius: 5px;
    margin: 10px 0;
    text-align: center;
    padding: 15%;
}

.user-cover-icon {
    font-size: 55px;
}

.user-profile-icon {
    margin: 20% 35%;
    font-size: 24px;
    color: #5A8100;
}

.user-profile-edit-icon:hover, .user-cover-edit-icon:hover  {
    color: #31525B;
    cursor: pointer;
}

.user-profile-edit-icon {
    color: #5A8100;
    position: absolute;
    bottom: 55px;
    left: 115px;
    font-size: 22px;
    background-color: #fff;
    border: 5px solid #fff;
    border-radius: 5px;
}

.user-cover-edit-icon {
    color: #5A8100;
    position: absolute;
    bottom: 50px;
    right: 15px;
    font-size: 36px;
    background-color: #fff;
    border: 5px solid #fff;
    border-radius: 5px;
}

.cover-image-picker {
    color: #5A8100;
    position: absolute;
    bottom: 50px;
    right: 62px;
    background-color: #fff;
    border: 5px solid #fff;
    border-radius: 5px;
}

.profile-image-picker {
    color: #5A8100;
    position: absolute;
    bottom: 55px;
    left: 150px;    
    background-color: #fff;
    border: 5px solid #fff;
    border-radius: 5px;
}

.user-profile-image {
    width: 120px;
    height: 110px;
    border-radius: 50%;
    position: absolute;
    left: 25px;
    bottom: 55px;
    border: 5px solid #FF6C02;
}

.detail-wrapper {
    padding: 15px 0;
    border: 1px solid;
    margin: 10px 0 !important;
    border-radius: 5px;
    font-size: 22px;
    color: #31525B;
}

.detail-wrapper .label-text {
    color: #FF6C02;
}

.action-wrapper {
    text-align: right;
}

button.btn {
    color: #fff;
    background-color: #A1D066;
    cursor: pointer;
    outline: none;
    margin: 0 10px;
    font-size: 15px;
    border-radius: 5px;
    display: inline-block;
    font-weight: bold;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    font-size: 18px;
    padding: 5px 10px;
    line-height: 1.5;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

button.btn:hover {
    color: #fff;
    background-color: #31525B;
}