<angular2-multiselect [data]="dropdownList" [(ngModel)]="selectedItems" 
    [settings]="dropdownSettings" 
    (onSelect)="onItemSelect($event)" 
    (onDeSelect)="OnItemDeSelect($event)"
    (onSelectAll)="onSelectAll($event)"
    (onDeSelectAll)="onDeSelectAll($event)"
    (onAddFilterNewItem)="onAddItem($event)">
    <c-badge>
        <ng-template let-item="item">
         <label style="margin: 0px;">{{item['name']}}</label>
         <img [src]="item.image" *ngIf="item['imgFlag']" style="width: 16px; margin-right: 5px;" />
        </ng-template>
    </c-badge>
    <c-item>
        <ng-template let-item="item">
          <label>{{item['name']}}</label>
          <img [src]="item.image" style="width: 30px; border: 1px solid #efefef;margin-right: 20px;" *ngIf="item['imgFlag']" />
        </ng-template>
    </c-item> 
</angular2-multiselect>