<section class="candidate-container">
    <!-- header wrapper -->
    <section class="header-wrapper col-sm-12 row">
        <section class="header-title col-sm-6">
            <mdb-icon class="back-icon" *ngIf="createFlag || editFlag" (click)="previousRoute();" fas icon="chevron-circle-left"></mdb-icon>
            <mdb-icon class="back-icon" *ngIf="viewFlag" (click)="openModal('back', 'communication')" fas icon="chevron-circle-left"></mdb-icon>
            <span>{{actionTitle}}</span>
        </section>
        <section class="header-action col-sm-6">
            <!-- dashboard icon -->
            <span class="dashboard-icon" title="Go To Dashboard" *ngIf="viewFlag"><mdb-icon fas icon="home" (click)="openModal('dashboard', 'communication')"></mdb-icon></span>
            <span class="dashboard-icon" title="Go To Dashboard" *ngIf="editFlag || createFlag"><mdb-icon fas icon="home" (click)="navigateToDashboard();"></mdb-icon></span>
            <!-- view history icon -->
            <span class="icons" title="Candidate History Information" (click)="enableHistoryPopUp()" *ngIf="!historyDisplayFlag"><mdb-icon fas icon="clipboard-list"></mdb-icon></span>
            <!-- rock star icon -->
            <!-- <span class="dashboard-icon" title="Make as Rockstar" *ngIf="viewFlag && !rockStarFlag" (click)="enableRockStar(true)"><i class="animated rotateIn infinite far fa-star"></i></span>
            <span class="dashboard-icon" title="Remove from Rockstar" *ngIf="viewFlag && rockStarFlag" (click)="enableRockStar(false)"><i class="rock-star animated rotateIn infinite fas fa-star"></i></span> -->
            <!-- view page links -->
            <mdb-icon class="icons download-icon" fas icon="binoculars" *ngIf="viewFlag" (click)="viewCommunicationPopup();"></mdb-icon>
            <mdb-icon class="icons download-icon" title="download resume" fas icon="file-download" *ngIf="viewFlag" (click)="downloadResume();"></mdb-icon>
            <mdb-icon class="icons edit-icon" title="edit" fas icon="pen" *ngIf="viewFlag" (click)="openModal('edit', 'communication');"></mdb-icon>
            <!-- edit / create page links -->
            <mdb-icon far icon="trash-alt" class="icons" title="Delete Candidate" *ngIf="editFlag" (click)="deleteCandidate()"></mdb-icon>
            <mdb-icon fas icon="laptop-code" class="icons" title="Recommended Skills" *ngIf="(createFlag || editFlag) && !suggestedSkillModalDisplayFlag && documentUploadedFlag" (click)="openSuggestionModal()"></mdb-icon>
            <mdb-icon class="icons save-bulk" title="Save Bulk Resumes" *ngIf="(createFlag && enableBulkUpload) && documentUploadedFlag" (click)="bulkUploadCandidates()" fas icon="save"></mdb-icon>
            <!-- <mdb-icon class="icons bulk-upload-icon" title="Bulk Upload" fas icon="upload" *ngIf="createFlag && !enableBulkUpload" (click)="uploadBulkResume();"></mdb-icon>
            <mdb-icon class="icons upload-icon" title="Upload Resume" fas icon="file-upload" *ngIf="createFlag && enableBulkUpload && (bulkFileCount && bulkFileCount > 0) && docSubmitFlag" (click)="enableUploadBulkResume();"></mdb-icon> -->
            <mdb-icon class="icons upload-icon" title="Upload Resume" fas icon="file-upload" *ngIf="(((editFlag || createFlag) && documentUploadedFlag) && !enableBulkUpload) || (enableBulkUpload && createFlag && !bulkUploadProgressFlag && !bulkUploadSingle)" (click)="enableUploadResume();"></mdb-icon>
            <mdb-icon class="icons cancel-icon" title="Cancel Changes" fas icon="times" *ngIf="(editFlag || createFlag) && documentUploadedFlag" (click)="cancelConfirmation()"></mdb-icon>
            <mdb-icon class="icons save-icon" title="Save Changes" fas icon="check" *ngIf="(editFlag || createFlag) && documentUploadedFlag" (click)="saveCandidate();"></mdb-icon>
        </section>
    </section>
    <!-- upload document section -->
    <section class="upload-document-wrapper" *ngIf="!documentUploadedFlag && (createFlag || editFlag)">
        <!-- <ngx-dropzone class="drop-zone-wrapper" [multiple]="false" (change)="onSingleSelect($event)" *ngIf="!enableBulkUpload">
            <ngx-dropzone-label>Drop / Drag a file here</ngx-dropzone-label>
            <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
            </ngx-dropzone-preview>
        </ngx-dropzone> -->
        <ngx-dropzone class="drop-zone-wrapper" [multiple]="true" (change)="onMultiSelect($event)" *ngIf="!docSubmitFlag">
            <ngx-dropzone-label>Drop / Drag files here</ngx-dropzone-label>
            <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                <ngx-dropzone-label>{{ f.name }}</ngx-dropzone-label>
            </ngx-dropzone-preview>
        </ngx-dropzone>
        <div class="or-text-wrapper">(or)</div>
        <!-- input wrapper -->
        <div class="input-file-wrapper row">
            <input type="file" #singleUpload class="upload-button col-sm-5" *ngIf="!docSubmitFlag" name="uploadDocument" (change)="documentSelected($event.target.files)">   <!-- *ngIf="!enableBulkUpload" accept=".doc,.docx,.pdf, application/msword" -->
            <input type="file" class="upload-button col-sm-11" *ngIf="enableBulkUpload && bulkUploadSingle && (bulkFileCount && bulkFileCount > 0) && docSubmitFlag" name="uploadDocument" (change)="documentSelected($event.target.files, true)">
            <input type="file" #multiUpload class="upload-button col-sm-5" multiple *ngIf="!docSubmitFlag" name="uploadDocument" (change)="documentSelected($event.target.files, null, true)">   <!-- *ngIf="enableBulkUpload && !bulkUploadSingle" -->
        </div>
        <div class="submit-button-wrapper">
            <button class="submit-button" *ngIf="(enableBulkUpload && !bulkUploadSingle) || !enableBulkUpload" (click)="submitDocument()">Upload</button>
            <!-- <span class="skip-button" (click)="skipUploadResume();">skip</span> -->
        </div>
    </section>

<!--  https://view.officeapps.live.com/op/embed.aspx?src=http://pqrdb.geval6.com/api/resumes/resume_candidate_13.doc&embedded=true-->
    <!-- document viewer section -->
    <section class="document-viewer-wrapper row" *ngIf="documentUploadedFlag">
        
        <!-- doc viewer section -->
        <!-- edit / create doc viewer section -->
        <!-- <ngx-doc-viewer [style.height.px]="documentHeight" [url]="doc" viewer="google" disableContent="none" class="doc-viewer col-xs-12 col-sm-6"
            (loaded)="handleDocumentLoadSucess($event)" *ngIf="(!uploadSkipFlag && doc && (createFlag || editFlag))"></ngx-doc-viewer> -->

        <iframe [src]="iframeDoc" #iframeElement [style.height.px]="documentHeight" *ngIf="(!uploadSkipFlag && iframeDoc && (createFlag || editFlag))"
        class="doc-viewer col-xs-12 col-sm-6" (load)="handleDocumentLoadSucess($event)" frameborder="2"></iframe>

        <!-- edit / create no result section -->
        <div class="no-result-wrapper col-xs-12 col-sm-6" *ngIf="(!iframeDoc && (createFlag || editFlag))">
            <span class="no-result-text">No Resume Uploaded</span>
        </div>
        <!-- view doc viewer section -->
        <!-- <ngx-doc-viewer [style.height.px]="documentHeight" [url]="doc" viewer="google" disableContent="none" class="doc-viewer col-xs-12 col-sm-12"
            (loaded)="handleDocumentLoadSucess($event)" *ngIf="(viewFlag && doc)"></ngx-doc-viewer> -->

        <iframe [src]="iframeDoc" #iframeElement [style.height.px]="documentHeight" *ngIf="(viewFlag && iframeDoc)"
        class="doc-viewer col-xs-12 col-sm-12" (load)="handleDocumentLoadSucess($event)" frameborder="2"></iframe>

        <!-- view no result section -->
        <div class="no-result-wrapper col-xs-12 col-sm-12" *ngIf="(!iframeDoc && viewFlag)">
            <span class="no-result-text">No Resume Uploaded</span>
        </div>
        <!-- details wrapper section -->
        <div class="detail-section-wrapper col-sm-6" [style.height.px]="documentHeight" *ngIf="editFlag || createFlag">
            <app-detail-section [setFieldData]="filterDataSet" [acquiredSkillList]="acquiredSkillList" [resultSetGetter]="candidateSaveFlag" [newlyAddedId]="newlyAddedId" [highlightSkill]="highlighiSkillFlag" [addNewSkill]="newSkillList" (resultSetEmitter)="getDataSet($event)" (addnewItemEmitter)="handleAddNewItem($event)"></app-detail-section>  <!-- {'editFlag': editFlag, 'data':  -->
        </div>
        <app-field-data-alert class="row" *ngIf="editFlag || createFlag" [fieldData]="candidateReviewFields" (selectedDataEmitter)="handleselectedData($event)" (addnewItemEmitter)="handleAddNewItem($event)" (submitEmitter)="handleDetailComplete()">
        </app-field-data-alert>
        <app-detail-tile *ngIf="viewFlag" [fieldSet]="fieldDataArray"></app-detail-tile>
    </section>
    <!-- bulk upload header section -->
    <section class="upload-status-wrapper" *ngIf="enableBulkUpload && documentUploadedFlag">
        <span class="upload-status">{{currentFileCount + 1}} of {{bulkFileCount}} files</span>
    </section>
</section>

<!-- modal component -->
<app-modal [displayModal]="showPopUpFlag" [modalConfigSetter]="modalConfig" (hideModalEmitter)="handleCloseModal($event)" (proceedModalEmitter)="proceedModal()" (skipEmitter)="skipModal()" (saveEmitter)="handleSaveModal($event)"></app-modal>

<!-- communication modal -->
<app-candidate-detail-modal [newCandidateFlag]="createFlag" [candidateInfo]="candidateModalDetails" [EditOptionFlag]="communicationPopupFlag" [displayFlag]="candidateModalDisplayFlag" [editableFlag]="candidateModalEditFlag" (saveEmitter)="candidateDetailSave($event)" (cancelEmitter)="candidateDetailCancel()" (proceedEmitter)="candidateDetailProceed()"></app-candidate-detail-modal>

<!-- skill suggestion modal -->
<app-suggested-skill-modal [displayFlag]="suggestedSkillModalDisplayFlag" [skillList]="suggestedSkillList" (addSkill)="handleAddSkill($event)" (addAllSkillsEmitter)="handleAddAllSkills($event)" (closeModalEmitter)="closeSuggestedSkillModal()"></app-suggested-skill-modal>

<!-- history pop up -->
<app-history-modal [displayFlag]="historyDisplayFlag" [historyData]="candidateHistoryData" (closeEmitter)="handleHistoryClose()"></app-history-modal>