.candidate-container .header-wrapper {
    padding: 10px;
    background-color: #FF6C02;
    font-size: 22px;
    font-weight: 500;
}

.candidate-container .header-wrapper .header-title span {
    font-size: 26px;
    color: #fff;
    font-weight: bold;
}

.candidate-container .header-wrapper .header-action {
    text-align: right;
}

.candidate-container .header-wrapper .header-action .icons {
    margin: 0 8px;
    cursor: pointer;
}

.upload-document-wrapper {
    padding: 10px;
    text-align: center;
    font-size: 20px;
}

.document-viewer-wrapper {
    position: relative;
    // height: 100vh;
}

.submit-button-wrapper .submit-button {
    background-color: #A1D066;
    cursor: pointer;
    outline: none;
    margin: 0 10px;
    font-size: 18px;
    border-radius: 5px;
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.submit-button-wrapper .submit-button:hover {
    color: #fff;
    background-color: #31525B;
}

.skip-button {
    float: right;
    text-decoration: underline;
    cursor: pointer;
}

.no-result-wrapper {
    text-align: center;
    padding-top: 10%;
}

.doc-viewer {
    width: 100%;
    padding: 0px;
    // height: 100vh;
    // overflow-y: scroll;
    // height: 80vh;
}

.upload-status-wrapper {
    position: absolute;
    top: 60px;
    left: 20px;
    font-weight: bold;
    color: #212529;
    background-color: #a1d066;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
}

.no-result-wrapper, .doc-viewer {
    height: 60vh;
    font-size: 20px;
    color: #31525B;
}

.icons {
    // padding: 5px;    
    // border-radius: 50%;
    // background-color: #fff;
    margin: 0px 15px !important;
    cursor: pointer;
    color: #fff;
}

.icons:hover {
    color: #31525B;
}

// .save-icon {
//     color: green;
// }

// .save-icon:hover {
//     background-color: green;
// }

// .cancel-icon {
//     color: red;
//     padding: 5px 7px;
// }

// .cancel-icon:hover {
//     background-color: red;
//     padding: 5px 7px;
// }

// .detail-icon {
//     color: dodgerblue;
// }

// .detail-icon:hover {
//     background-color: dodgerblue;
// }

// .bulk-upload-icon, .upload-icon {
//     color: blue;
//     padding: 5px 7px;
// }

// .bulk-upload-icon:hover, .upload-icon:hover {
//     background-color: blue;
//     padding: 5px 7px;
// }

// .download-icon {
//     color: lightseagreen;
//     padding: 5px 7px;
// }

// .download-icon:hover {
//     background-color: lightseagreen;
//     padding: 5px 7px;
// }

// .edit-icon {
//     color: brown;
//     padding: 5px 7px;
// }

// .edit-icon:hover {
//     background-color: brown;
//     padding: 5px 7px;
// }

// .save-bulk {
//     color: forestgreen;
// }

// .save-bulk:hover {
//     background-color: forestgreen;
// }

.detail-section-wrapper {
    border: 1px solid lightgray;
    overflow-y: scroll;
    // background: linear-gradient(#dcdfe1, white);
}

.dashboard-icon {
    margin: 0px 15px;
    cursor: pointer;
    color: #fff;
}

.dashboard-icon:hover {
    color: #31525B;
}

.viewer {
    width: 50%;
    height: 100vh;
}

.drop-zone-wrapper {
    margin: 15px;
}

.or-text-wrapper {
    text-align: center;
    margin: 5px;
}

.input-file-wrapper {
    margin: 15px 10px !important;
}

.upload-button {
    border: 2px dashed gray;
    border-radius: 5px;
    padding: 3% 20px;
    margin: 0 4%;
}

ngx-dropzone-label {
    word-break: break-all;
}

.rock-star {
    color: gold;
}