.btn-wrapper {
    background-color: #A1D066;
    cursor: pointer;
    color: #fff;
    margin: 0 10px;
    font-size: 14px;
    border-radius: 5px;
    min-width: 120px;
    display: inline-block;
    font-weight: 400;    
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    /* font-size: 1rem; */
    line-height: 1.5;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-wrapper:hover {
    background-color: #31525B;
    color: #fff;
}

.btn-register {
  cursor: pointer;
}

.login-links {
  font-size: 34px;
}

.login-link-wrapper {
  padding: 10px;
  background-color: #FF6C02;
}

body {
    padding-top: 90px;
}
.logo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 25px;
}
.panel-login {
  border-color: #ccc;
  -webkit-box-shadow: 0px 0px 6px 4px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 0px 6px 4px rgba(0,0,0,0.2);
  box-shadow: 0px 0px 6px 4px rgba(0,0,0,0.2);
}
.panel-login>.panel-heading {
  color: #00415d;
  background-color: #fff;
  border-color: #fff;
  text-align:center;
}
.panel-login>.panel-heading a{
  text-decoration: none;
  color: #31525B;
  font-weight: bold;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
}
.panel-login>.panel-heading a.active{
  color: #f64a62;
  font-size: 18px;
}
.panel-login>.panel-heading hr{
  margin-top: 10px;
  margin-bottom: 0px;
  clear: both;
  border: 0;
  height: 1px;
  background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.15),rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
  background-image: -ms-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
  background-image: -o-linear-gradient(left,rgba(0,0,0,0),rgba(0,0,0,0.15),rgba(0,0,0,0));
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
  height: 45px;
  border: 1px solid #ddd;
  font-size: 20px;
  -webkit-transition: all 0.1s linear;
  -moz-transition: all 0.1s linear;
  transition: all 0.1s linear;
  color: #31525B;
}

.panel-login input::placeholder {
  color: #31525B;
}

.panel-login input {
  font-size: 20px;
}

.panel-login input:hover,
.panel-login input:focus {
  outline:none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #ccc;
}
.btn-login {
  background-color: #A1D066;
  outline: none;
  color: #fff;
  font-size: 14px;
  height: auto;
  font-weight: normal;
  padding: 14px 0;
  text-transform: uppercase;
  border-color: #A1D066;
}
.btn-login:hover,
.btn-login:focus {
  color: #fff;
  background-color: #31525B;
  border-color: #31525B;
}
.forgot-password {
  text-decoration: underline;
  color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
  text-decoration: underline;
  color: #666;
}

.btn-register {
  background-color: #A1D066;
  outline: none;
  color: #fff;
  font-size: 18px;
  height: auto;
  font-weight: normal;
  padding: 14px 0;
  text-transform: uppercase;
  border-color: #A1D066;
}
.btn-register:hover,
.btn-register:focus {
  color: #fff;
  background-color: #31525B;
  border-color: #31525B;
}

.login-wrapper {
  padding: 10% 32% 2%;
  // background-color: #FF6C02;
  // background-image: url(../../../../assets/images/Picture2.jpg);
}

.error-section span {
    font-size: 22px;
    font-weight: bold;
    color: darkred;
}

.error-input {
  border: 1px solid darkred !important;
}

input.error-input::placeholder {
  color: darkred !important;
}

input.error-input {
  color: darkred !important;
}

.form-group input[name='username'], .form-group input[name='password'], .form-group input[name='confirmPassword'], .form-group input[name='email'], .form-group input[name='mobileNumber'], .form-group input[type='text'] {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.remember-text {
  margin-left: 10px;
  font-size: 18px;
  color: #31525B;
}

/* background image styling */

.bg-image-wrapper {
    padding: 0px;
}

.bg-image-wrapper img {
    width: 100%;
    height: 100%;
}

.panel-login {
  background-color: #fff;
}

.panel-login .panel-heading {
  background-color: #fff;
  border-bottom: 1px solid #31525B;
}

.panel-login .panel-body {
  padding-top: 10px;
  background-color: #FF6C02;
}

.bg-text-wrapper {
  position: absolute;
  top: 20%;
  left: 0%;
    width: 100%;
}

.bg-slogan-wrapper {
  position: absolute;
  top: 2%;
  left: 0%;
  width: 100%;
}

.bg-slogan-wrapper .header-slogan-text {
    font-size: 36px;
    font-family: serif;
    font-style: oblique;
    color: #FF6C02;
    font-weight: bold;
    animation-duration: 2s;
    text-align: center;
}

.bg-text-wrapper .header-text {
    font-size: 36px;
    font-family: serif;
    font-style: oblique;
    color: #FF6C02;
    font-weight: bold;
    animation-duration: 2s;
}

.bg-text-wrapper .header-text:first-child {
  text-align: left;
}

.bg-text-wrapper .header-text:last-child {
  text-align: right;
}

input[type="checkbox"]:checked {
  background: #31525B;
  color: #31525B;
}

.login-container {
  overflow-y: scroll;
}

/* otp wrapper */
.otp-wrapper {
  padding: 20px 15px;
}

.otp-wrapper .title {
    display: block;
    font-size: 30px;
    color: #31525B;
    text-align: center;
    font-weight: bold;
}

.otp-wrapper .sub-title {
  display: block;
  color: #fff;
  text-align: center;
  font-size: 22px;
  margin: 15px 0;
}

.otp-wrapper .otp-input {
    padding: 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid;
    width: 80%;
    margin: 10%;
}

.otp-wrapper .btn-login {
  margin: 0 10%;
  width: 80%;
}

.error-text {
    font-size: 18px;
    padding: 0 10px;
    font-weight: bold;
    color: darkred;
}

.forgot-password-text {
  font-size: 18px;
    color: #31525B;
    text-decoration: underline;
    cursor: pointer;
}

.remember-wrapper {
  margin-bottom: 0px;
}

.forgot-password-wrapper {
  color: #fff;
  margin-bottom: 15px;
}

.forgot-password-wrapper .forgot-password-title {
    font-size: 20px;
    margin: 10px 0;
}

.forgot-password-wrapper .or-text {
  text-align: center;
  font-size: 22px;
  font-size: 20px;
  margin: 10px 0;
}

.password-field {
  width: 85% !important;
  display: inline-block !important;
}

.icon {
  margin: 0 2%;
  font-size: 26px;
  color: #fff;
  cursor: pointer;
}
