<div class="row login-container" [style.height.px]="documentHeight">
  <!-- content wrapper -->
    <div class="row col-sm-12 login-wrapper">
      <!-- slogan wrapper -->
      <div class="bg-slogan-wrapper row">
        <div class="col-sm-12 header-slogan-text animated infinite">Resources. At your finger tips.</div>
      </div>
      <div class="bg-text-wrapper row">
        <div class="col-sm-6 header-text animated flash infinite" *ngIf="loginFlag">Search & Pick</div>
        <div class="col-sm-6 header-text animated flash infinite" *ngIf="loginFlag">Log In to Explore</div>
        <div class="col-sm-6 header-text animated flash infinite" *ngIf="!loginFlag">Search & Pick</div>
        <div class="col-sm-6 header-text animated flash infinite" *ngIf="!loginFlag">Sign Up to Explore</div>
      </div>
    <div class="col-xs-12 col-sm-12 col-md-offset-3">
      <div class="panel panel-login">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-12 col-sm-12 login-link-wrapper" *ngIf="loginFlag && !otpFlag&& !forgotPasswordFlag">
              <a href="#" class="login-links">Login</a>
            </div>
            <div class="col-xs-12 col-sm-12 login-link-wrapper" *ngIf="loginFlag && otpFlag">
              <a href="#" class="login-links">OTP</a>
            </div>
            <div class="col-xs-12 col-sm-12 login-link-wrapper" *ngIf="loginFlag && forgotPasswordFlag">
              <a href="#" class="login-links">Forgot Password</a>
            </div>
            <div class="col-xs-12 col-sm-12 login-link-wrapper" *ngIf="!loginFlag">
              <a href="#" class="login-links">Register</a>
            </div>
          </div>
          <!-- <hr> -->
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12">
              <form id="login-form" action="" method="post" role="form" *ngIf="loginFlag && !otpFlag && !forgotPasswordFlag">
                <div class="form-group">
                  <input type="text" name="username" [(ngModel)]="userName" tabindex="1" [ngClass]="{'element-design': true, 'element-design error-input': (requiredFlag || errorFlag)}" placeholder="Username" value="">
                </div>
                <div class="form-group">
                  <input type="password" name="password" [(ngModel)]="password" tabindex="2" [ngClass]="{'element-design': true, 'element-design error-input': (requiredFlag || errorFlag)}" placeholder="Password">
                </div>
                <div class="form-group text-center remember-wrapper">
                  <input type="checkbox" tabindex="3" class="" name="remember" [(ngModel)]="rememberFlag">
                  <label for="remember" class="remember-text"> Remember Me</label>
                </div>
                <div class="form-group text-center">
                  <label for="forgot-password" class="forgot-password-text" (click)="enableForgotPassword()">Forgot Password</label>
                </div>
                <!-- error flag section -->
                <div class="form-group text-center error-section" *ngIf="requiredFlag || errorFlag || accessFlag">
                  <span *ngIf="requiredFlag">Username & Password are required</span>
                  <span *ngIf="errorFlag">Username & Password are incorrect</span>
                  <span *ngIf="accessFlag">Access Denied. Please contact Admin</span>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-6 col-sm-offset-3">
                      <input type="submit" name="login-submit" (click)="validateUser()" tabindex="4" class="form-control btn btn-login" value="Log In">
                    </div>
                    <div class="col-sm-6 col-sm-offset-3">
                      <input name="register" type="button" (click)="navigateModes()" tabindex="4" class="form-control btn btn-login btn-register" value="Register Now">
                    </div>
                  </div>
                </div>
                <!-- <div class="form-group">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="text-center">
                        <a href="javascript:void(0)" tabindex="5" class="forgot-password">Forgot Password?</a>
                      </div>
                    </div>
                  </div>
                </div> -->
              </form>
              <!-- otp section wrapper -->
              <section class="otp-wrapper" *ngIf="loginFlag && otpFlag">
                <!-- <span class="title">OTP</span> -->
                <span class="sub-title">Please enter the OTP received</span>
                <input type="text" min="0" maxlength="4" name="otp-input" class="otp-input" [(ngModel)]="otpInput">
                <span *ngIf="errorFlag">OTP is not valid</span>
                <input type="submit" name="otp-submit" (click)="validateOTP()" tabindex="4" class="form-control btn btn-login" value="Submit OTP">
              </section>
              <!-- forgot password wrapper -->
              <section class="forgot-password-wrapper" *ngIf="loginFlag && forgotPasswordFlag">
                <div class="forgot-password-title" *ngIf="resetPasswordMailFlag">Please fill the registered email address to reset the password</div>
                <div class="forgot-password-title" *ngIf="!resetPasswordMailFlag">Please fill the token sent to your mail to reset the password</div>
                <div class="form-group">
                  <input type="text" autocomplete="off" name="username" [(ngModel)]="forgotPasswordObject['userName']" tabindex="1" [ngClass]="{'element-design': true, 'element-design error-input': forgotPasswordSubmit && !forgotPasswordObject['userName']}" placeholder="Username" value="">
                </div>
                <!-- <div class="or-text">OR</div>
                <div class="form-group">
                  <input type="number" autocomplete="off" name="mobileNumber" [(ngModel)]="forgotPasswordObject['mobileNumber']" tabindex="1" [ngClass]="{'element-design': true, 'element-design error-input': forgotPasswordSubmit && !forgotPasswordObject['username'] && !forgotPasswordObject['mobileNumber']}" placeholder="MobileNumber" value="">
                </div> -->
                <div class="form-group" *ngIf="resetPasswordMailFlag">
                  <input type="email" autocomplete="off" name="email" [(ngModel)]="forgotPasswordObject['email']" tabindex="1" [ngClass]="{'element-design': true, 'element-design error-input': forgotPasswordSubmit && !forgotPasswordObject['email']}" placeholder="Email" value="">
                </div>
                <div class="form-group" *ngIf="!resetPasswordMailFlag">
                  <input type="text" autocomplete="off" name="token" [(ngModel)]="forgotPasswordObject['token']" tabindex="1" [ngClass]="{'element-design': true, 'element-design error-input': forgotPasswordSubmit && !forgotPasswordObject['token']}" placeholder="Token" value="">
                </div>
                <div class="form-group" *ngIf="!resetPasswordMailFlag">
                  <input type="password" autocomplete="off" name="password" [(ngModel)]="forgotPasswordObject['password']" tabindex="1" [ngClass]="{'element-design': true, 'element-design error-input': forgotPasswordSubmit && !forgotPasswordObject['password']}" placeholder="New Password" value="">
                </div>
                <div class="row">
                  <div class="col-xs-12 col-sm-6 col-sm-offset-3" *ngIf="resetPasswordMailFlag">
                    <input type="submit" name="submit-forgot-password" tabindex="4" class="form-control btn btn-register" value="Submit" (click)="submitForgotPassword()">
                  </div>
                  <div class="col-xs-12 col-sm-6 col-sm-offset-3" *ngIf="!resetPasswordMailFlag">
                    <input type="submit" name="submit-forgot-password" tabindex="4" class="form-control btn btn-register" value="Update" (click)="updateForgotPassword()">
                  </div>
                  <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                    <input name="forgot-password-cancel" tabindex="4" class="form-control btn btn-register" value="Back" (click)="backtoLogin()">
                  </div>
                </div>
              </section>
              <form id="register-form" action="" method="post" role="form" *ngIf="!loginFlag">
                <div class="form-group">
                  <input type="text" autocomplete="off" (keyup)="fieldValidate($event)" (change)="fieldValidate($event)" name="firstName" [(ngModel)]="userRegister['firstName']" tabindex="1" [ngClass]="{'element-design': true, 'element-design error-input': !userRegister['firstName']}" placeholder="Firstname" value="">
                  <span class="error-text" *ngIf="requiredFlag && !userRegister['firstName']">Firstname is required</span>
                </div>
                <div class="form-group">
                  <input type="text" autocomplete="off" (keyup)="fieldValidate($event)" (change)="fieldValidate($event)" name="lastName" [(ngModel)]="userRegister['lastName']" tabindex="1" [ngClass]="{'element-design': true, 'element-design error-input': !userRegister['lastName']}" placeholder="Lastname" value="">
                  <span class="error-text" *ngIf="requiredFlag && !userRegister['lastName']">Lastname is required</span>
                </div>
                <div class="form-group">
                  <input type="text" autocomplete="off" name="username" [(ngModel)]="userRegister['userName']" tabindex="1" [ngClass]="{'element-design': true, 'element-design error-input': !userRegister['username']}" placeholder="Username" value="">
                  <span class="error-text" *ngIf="requiredFlag && !userRegister['userName']">Username is required</span>
                  <span class="error-text" *ngIf="userNameErrorFlag">User Name is already exists.</span>
                </div>
                <div class="form-group">
                  <input type="password" *ngIf="!passwordViewFlag" autocomplete="off" name="password" [(ngModel)]="userRegister['password']" tabindex="1" [ngClass]="{'element-design password-field': true, 'element-design error-input': !userRegister['password']}" placeholder="Password">
                  <span class="icon" *ngIf="!passwordViewFlag"><mdb-icon class="icon-text" fas icon="eye" (click)="changePasswordViewMode(true)"></mdb-icon></span>
                  <input type="text" *ngIf="passwordViewFlag" autocomplete="off" name="password" [(ngModel)]="userRegister['password']" tabindex="1" [ngClass]="{'element-design password-field': true, 'element-design error-input': !userRegister['password']}" placeholder="Password">
                  <span class="icon" *ngIf="passwordViewFlag"><mdb-icon class="icon-text" fas icon="eye-slash" (click)="changePasswordViewMode(false)"></mdb-icon></span>
                  <span class="error-text" *ngIf="requiredFlag && !userRegister['password']">Password is required</span>
                </div>
                <div class="form-group">
                  <input type="password" *ngIf="!confirmPasswordViewFlag" autocomplete="off" name="confirmPassword" [(ngModel)]="userRegister['confirmPassword']" tabindex="1" [ngClass]="{'element-design password-field': true, 'element-design error-input': !userRegister['confirmPassword']}" placeholder="Confirm Password">
                  <span class="icon" *ngIf="!confirmPasswordViewFlag"><mdb-icon class="icon-text" fas icon="eye" (click)="changeConfirmPasswordViewMode(true)"></mdb-icon></span>
                  <input type="text" *ngIf="confirmPasswordViewFlag" autocomplete="off" name="confirmPassword" [(ngModel)]="userRegister['confirmPassword']" tabindex="1" [ngClass]="{'element-design password-field': true, 'element-design error-input': !userRegister['confirmPassword']}" placeholder="Confirm Password">
                  <span class="icon" *ngIf="confirmPasswordViewFlag"><mdb-icon class="icon-text" fas icon="eye-slash" (click)="changeConfirmPasswordViewMode(false)"></mdb-icon></span>
                  <span class="error-text" *ngIf="requiredFlag && !userRegister['confirmPassword']">confirm Password is required</span>
                </div>
                <!-- <div class="form-group">
                  <input type="text" name="role" [(ngModel)]="userRegister['role']" tabindex="1" class="form-control" placeholder="Role" value="">
                </div> -->
                <div class="form-group">
                  <input type="text" autocomplete="off" name="designation" [(ngModel)]="userRegister['designation']" tabindex="1" class="form-control" placeholder="Designation" value="">
                </div>
                <div class="form-group">
                  <input type="number" autocomplete="off" (keyup)="restrictNegativeValue($event)" (change)="restrictNegativeValue($event)" name="mobileNumber" [(ngModel)]="userRegister['mobileNumber']" tabindex="1" maxlength="10" [ngClass]="{'element-design': true, 'element-design error-input': !userRegister['mobileNumber']}" placeholder="Mobile Number" value="">
                  <span class="error-text" *ngIf="requiredFlag && !userRegister['mobileNumber']">Mobile Number is required</span>
                  <span class="error-text" *ngIf="userMobileEmailErrorFlag">Mobile Number & Email combination already exists.</span>
                </div>
                <div class="form-group">
                  <input type="text" autocomplete="off" name="email" [(ngModel)]="userRegister['email']" tabindex="1" [ngClass]="{'element-design': true, 'element-design error-input': (!userRegister['email']) || (emailValidFlag)}" placeholder="Email Address" value="">
                  <span class="error-text" *ngIf="requiredFlag && !userRegister['email']">Email is required</span>
                  <span class="error-text" *ngIf="userMobileEmailErrorFlag">Mobile Number & Email combination already exists.</span>
                  <span class="error-text" *ngIf="emailValidFlag">Email is not valid.</span>
                </div>
                <div class="form-group">
                  <input type="text" autocomplete="off" name="fbLink" [(ngModel)]="userRegister['fbLink']" tabindex="1" class="form-control" placeholder="facebook Link" value="">
                </div>
                <div class="form-group">
                  <input type="text" autocomplete="off" name="twitterLink" [(ngModel)]="userRegister['twitterLink']" tabindex="1" class="form-control" placeholder="Twitter Link" value="">
                </div>
                <div class="form-group">
                  <input type="text" autocomplete="off" name="linkedinLink" [(ngModel)]="userRegister['linkedinLink']" tabindex="1" class="form-control" placeholder="Linkedin Link" value="">
                </div>
                <div class="form-group">
                  <label class="Profile-image">Profile Image:</label>
                  <input type="file" accept="image/*" name="userImage" [(ngModel)]="userRegister['userImage']" tabindex="1" class="form-control" placeholder="user Image" value="" (change)="documentSelected($event.target.files, $event)">
                </div>
                <div class="form-group">
                  <label class="cover-image">Cover Image:</label>
                  <input type="file" accept="image/*" name="coverImage" [(ngModel)]="userRegister['coverImage']" tabindex="1" class="form-control" placeholder="Cover Image" value="" (change)="documentCoverSelected($event.target.files, $event)">
                </div>
                <!-- error flag section -->
                <div class="form-group text-center error-section" *ngIf="requiredFlag">
                  <span *ngIf="requiredFlag">Please fill all mandatory fields</span>
                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                      <input type="submit" name="register-submit" tabindex="4" class="form-control btn btn-register" value="Register Now" (click)="registerUser()">
                    </div>
                    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
                      <input name="register-cancel" tabindex="4" class="form-control btn btn-register" value="Back" (click)="navigateModes()">
                    </div>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- image wrapper -->
  <!-- <div class="col-sm-7 bg-image-wrapper">
    <img src="../../../../assets/images/loginImage5.png">
  </div> -->
</div>
